<div class="form-header px-2">

  <!-- <div class="btn-group mr-2" (click)="toggleExpandCollepseImg()" [ngClass]="{'toggle-expanded': isExpanded, 'toggle-collepsed': !isExpanded }"> -->
  <!-- <img class="toggleImg" (click)="toggleExpandCollepseImg()" src="/assets/images/right.png"
        [ngClass]="{'toggle-expanded': isExpanded, 'toggle-collepsed': !isExpanded }" /> -->
  <!-- <button class="btn btn-secondary btn-sm active shadow-none" style="min-width: 100px">Notification {{isExpanded ? 'Expand' : 'Hide'}} </button> -->

  <!-- <button class="btn btn-sm btn-secondary" [ngClass]="{'toggle-expanded': isExpanded, 'toggle-collepsed': !isExpanded }">
            <i class="elm-forward"></i>
          </button> -->
  <!-- </div> -->
  <div class="btn-group mr-2" [ngClass]="{'d-inline-block': isExpanded, 'd-none': !isExpanded}">
    <button class="btn btn-sm btn-primary" (click)="addNotificationProfile()">
      Add Notification Profile</button>
  </div>
</div>
<table class="table" [ngClass]="{'': isExpanded, 'd-none': !isExpanded}">
  <thead *ngIf="notificationProfiles?.length > 0">
    <tr>
      <th class="text-center border-0">Users / User Group <span class="color-red">&nbsp;*</span></th>
      <th class="text-center border-0">Notification Type <span class="color-red">&nbsp;*</span></th>
      <th class="text-center border-0" [ngClass]="{'d-none':!isPushNotification,'':isPushNotification}">Notification
        Tone <span class="color-red">&nbsp;*</span></th>
      <!-- <th class="text-center border-0">Actions</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let notificationProfile of notificationProfiles; let i = index;">
      <td class="border-0">
        <ng-select name="usersOrUserGroup" [items]="usersGroup" placeholder="Select users / user group" [multiple]="true"
          [(ngModel)]="notificationProfile['usersOrUserGroup']" [clearable]="true" class="form-control border-0"
          [required]="true" #usersOrUserGroup="ngModel" dropdownPosition="bottom"
          [ngClass]="{ 'error' : usersOrUserGroup.invalid && usersOrUserGroup.touched }">
        </ng-select>
      </td>
      <td class="border-0">
        <ng-select bindValue="value" name="notificationProfile" [items]="notificationTypes" dropdownPosition="bottom"
          placeholder="Select notification type" [multiple]="true" [(ngModel)]="notificationProfile['notificationProfile']"
          [clearable]="true" class="form-control border-0" [required]="true" #notificationType="ngModel"
          (change)="onNotificationProfileItemSelect($event, i)" (clear)="onNotificationProfileClearAll(i)"
          (remove)="onNotificationProfileClearAll(i)"
          [ngClass]="{ 'error' : notificationType.invalid && notificationType.touched }">

        </ng-select>
      </td>
      <td class="border-0" style="min-width:200px">
        <select name="notificationTone" class="form-control" [(ngModel)]="notificationProfile.notificationTone" required
          #notificationTone="ngModel"
          [ngClass]="{ 'd-block' : notificationProfile.isNotificationToneShow, 'd-none' : !notificationProfile.isNotificationToneShow, 'error' : notificationTone.invalid && notificationTone.touched }">
          <option>None</option>
          <option>Notification Tone 1</option>
          <option>Notification Tone 2</option>
          <option>Notification Tone 3</option>
        </select>
      </td>
      <td class="border-0">
        <!-- <fa-icon class="btn" [icon]="['fas', 'trash']" (click)="deleteNotificationProfile(i)"
              title="Delete Notification Profile"></fa-icon> -->
        <button title="Delete Notification Profile" type="button"
          class="btn btn-sm btn-secondary" (click)="deleteNotificationProfile(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>