<div class="breadcrumb-content">
  <div class="breadcrumb-title">
      <div class="breadcrumb-left">
          <span>
              License Management
          </span>
      </div>
      <div class="breadcrumb-right">
      </div>
  </div>
  <div class="placeholder"></div>
</div>
<div class="main-content">
  <div class="sub-main-content h-100">
    <div class="table-header flex-column">
      <div *ngIf="licensedata" class="d-flex justify-content-around w-100 flex-row">
        <div class="float-left d-flex align-items-center justify-content-between mr-2" style="flex: auto">
          <h6 class="flot-left text-muted col-2 m-0">
            Reference no. : <br>
            {{table_data.licence_ref_no}}
          </h6>

          <!-- Dropdown to select License Type to View. (Only for SA login) -->
          <div *ngIf = "isSystemAdmin" class="col-2 p-0" role="group">
            <angular2-multiselect [data]="licenseTypeList" [(ngModel)]="licenseType"
              [settings]="licenseTypeDropdownSettings" name="licenseType" (onSelect) = loadLicense($event)>
            </angular2-multiselect>
          </div>

          <h6 class="flot-left text-muted col-2 m-0">

            Tenure Days : <br>{{table_data.tenuredate}} Days
          </h6>
          <h6 class="flot-left text-muted col-2 m-0">
            Updated on : <br>{{table_data.update_date}}
          </h6>
          <h6 class="flot-left text-muted col-2 m-0">
            Expire by : <br>{{table_data.expiry_date}}
          </h6>
        </div>
        <!-- Update License button (Only for SA login) -->
        <button  *ngIf = "isSystemAdmin" class="btn btn-primary col-2" data-toggle="modal" data-target="#update_license">Update</button>

      </div>
      <!-- <div class="border-0 rounded-0 w-100 my-2">
          <kl-progress-bar class="d-block rounded-0" [percentValue]="table_data.tenuredate" [bgColor]="red" [displayText]="table_data.tenuredate  " ></kl-progress-bar>
        </div> -->
    </div>

    <div class="table-content">
      <div class="centered-content">
        <table class="table table-bordered">
          <tr>
            <th *ngFor="let headerContent of table_data.headerContent">{{headerContent.value}}</th>
          </tr>
          <tr *ngFor="let bodyContent of table_data.bodyContent; let _index= index">
            <td *ngFor="let headerContent of table_data.headerContent">
              <span>{{bodyContent[headerContent.key]}}</span>
              <ng-container
                *ngIf="headerContent.key === 'isMoreInfo' && bodyContent[headerContent.key]">
                <button type="button" (click)="fetchUserWiseCount(bodyContent[headerContent.key])" data-toggle="modal"
                  data-target="#userWiseCountModal">
                  {{headerContent.value}}
                </button>
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="!licensedata">
      <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <!-- <div class="modal fade" id="update_license" tabindex="-1" role="dialog" aria-labelledby="licenseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="licenseModalLabel">License Update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-2">
          <div class="form-group">
            <label>User ID </label>
            <span class="color-red">&nbsp;*</span>
            <input autocomplete="off" type="email" class="form-control" placeholder="Enter your User ID" #username
              name="username" [(ngModel)]="license_data.user_name">
          </div>
          <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
            <label>Password</label>
            <span class="color-red">&nbsp;*</span>
            <input autocomplete="off" type="password" class="form-control" placeholder="Enter your Password" #password
              name="password" [(ngModel)]="license_data.password">
          </div>
          <div class="form-group">
            <label>License</label>
            <span class="color-red">&nbsp;*</span>
            <textarea placeholder="Enter your License" class="form-control" #license name="license"
              [(ngModel)]="license_data.licence_key">
              </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="disableBtn"
            (click)="accessLevel.edit ? updateLicense() : ''">
            Update License
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- User wise count modal Begins-->
  <ng-container *ngIf="isUserWiseCountModal">
    <div class="modal fade" id="userWiseCountModal" tabindex="-1" role="dialog"
      aria-labelledby="userWiseCountModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="!isAdmin">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">User Wise Count</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-content">
              <div class="centered-content">
                <table class="table table-bordered">
                  <tr>
                    <th *ngFor="let headerContent of userwiseCount_data.headerContent">{{headerContent.value}}</th>
                  </tr>
                  <tr *ngFor="let bodyContent of userwiseCount_data.bodyContent; let _index= index">
                    <td *ngFor="let headerContent of userwiseCount_data.headerContent">
                      <span>{{bodyContent[headerContent.key]}}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="dismissuserWiseCount" data-dismiss="modal">Okay</button>
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="allowDeleteUser ? deleteUserData('delete') : ''">Yes</button> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- User wise count modal Ends -->
</div>
