<kl-config-breadcrumb></kl-config-breadcrumb>

<!-- reusable loader -->
<ng-template #loader>
  <div class="lds-ring d-block">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>

<div *ngIf="isPageLoading" class="main-content">
  <div class="sub-main-content">
    <ng-template [ngTemplateOutlet]="loader"></ng-template>
  </div>
</div>

<div *ngIf="!isPageLoading" class="main-content">
  <div class="sub-main-content">

    <div *ngIf="!isPageLoading" class="form-header row py-0">
      <div class="col-sm-8 col-md-6 col-lg-4 mr-2 pr-1" style="padding-left: 10px;">
        <angular2-multiselect [data]="meters" [(ngModel)]="selectedMeters" [settings]="meterDropdownSettings"
          (onSelect)="onMeterSelect()" (onDeSelect)="onMeterSelect()" (onDeSelectAll)="clearAllSelectedMeters()">
        </angular2-multiselect>
      </div>
      <!-- <button *ngIf="selectedMeters?.length === 1" class="btn btn-secondary mr-2" data-toggle="modal"
        data-target="#deleteCustomerModal">
        Delete
      </button> -->

    </div>

    <ng-template *ngIf="isCustomerServiceBusy || isMeterServiceBusy" [ngTemplateOutlet]="loader"></ng-template>

    <div *ngIf="!isCustomerServiceBusy || !isMeterServiceBusy" class="form-content p-0">
      <!-- customer info -->
      <div *ngIf="!isCustomerServiceBusy && (selectedMeters?.length == 1) && customerInfo" class="cutomer-form">
        <!-- <div class="customer-header">{{selectedMeters?.length === 0 ? 'Create customer':'Edit customer'}} </div> -->
        <div class="accordian-header" data-toggle="collapse" data-target="#collapse-customer" aria-expanded="true"
          aria-controls="collapse-customer">
          <h6 class="config-title">
            {{tabs[0]['label']}}
          </h6>
        </div>

        <!-- <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
              
              </button>
              <button *ngIf="selectedMeters?.length === 1" class="btn" data-toggle="modal"
                data-target="#deleteCustomerModal"><i class="fa fa-trash"></i></button>
            </h2>
          </div> -->

        <div id="collapse-customer" class="collapse show py-2" aria-labelledby="collapse-customer">
          <div class="card-body p-0">
            <ng-container *ngIf="ready">
              <kl-dfm [DFMDATA]="customerInfo" [disableBtn]="disableCustomerSave"
                (SelectedValues)="saveCustomer($event)" (customActions)="readCustomer($event)"
                (cancel)="clearCustomerInfo()"></kl-dfm>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- use for: disable feature <button *ngIf="selectedMeters?.length === 1" (click)="disableCustomer()"
              class="btn secondary">Disable</button> -->

      <!-- meter configuration blocks -->
      <div *ngIf="selectedMeters?.length > 0 && eachBlockMeterInfo" class="cutomer-form">
        <div class="accordian-header" data-toggle="collapse" data-target="#collapse-meter" aria-expanded="true"
          aria-controls="collapse-meter">
          <h6 class="config-title">
            Meter configuration
          </h6>
        </div>
        <div id="collapse-meter" class="collapse show py-2" aria-labelledby="collapse-meter">

          <ul class="nav nav-tabs px-2" id="myTab" role="tablist">
            <li *ngFor="let each of tabs | slice : 1" class="nav-item" role="presentation"
              (click)="!isMeterServiceBusy ? setBlockType(each):''">
              <a class="nav-link" [ngClass]="{'active':each['value'] === this.activeMeterBlock}" id="home-tab"
                data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">{{each['label']}}</a>
            </li>
          </ul>
          <div class="tab-contant py-2" id="myTabContent">
            <div class="tab-pane fade show active position-relative" id="home" role="tabpanel"
              aria-labelledby="home-tab" [ngClass]="{'loader-content': isMeterServiceBusy}">
              <ng-template *ngIf="isMeterServiceBusy" [ngTemplateOutlet]="loader"></ng-template>
              <kl-dfm *ngIf="!isMeterServiceBusy" [disableBtn]="disableReadWrite" [DFMDATA]="eachBlockMeterInfo"
                (SelectedValues)="writeEachBlock($event)" (customActions)="readEachBlock($event)">
              </kl-dfm>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- delete modal -->
<!-- <div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to delete <b>
        </b> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="dismissDelete" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteCustomer()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div> -->