//variable-inputs
:root
{
--navbarHeight : 3rem;
--breadcrumbHeight : 3rem;
--breadcrumbtitle : 1.2rem;
--miniSidebarWidth : 45px;
--sidebarWidth : 14rem;
--filterWidth : 18rem;
--subSidebarWidth: 14rem;
--mainContentPadding : 0.5rem;
--font-family-base: "Roboto-Regular";
}

$fontFamilyBase: var(--font-family-base);
$navbarHeight: var(--navbarHeight);
$breadcrumbHeight: var(--breadcrumbHeight);
$breadcrumbtitle: var(--breadcrumbtitle);
$miniSidebarWidth: var(--miniSidebarWidth);
$sidebarWidth: var(--sidebarWidth);
$filterWidth: var(--filterWidth);
$sidebarWidth: $sidebarWidth;
$subSidebarWidth: var(--subSidebarWidth);
$mainContentPadding: var(--mainContentPadding);
$submainContentBg: var(--submainContentBg);

.rule-main-container .cuppa-dropdown .list-area
{
    max-height: 200px;
    overflow: hidden;

    .pure-checkbox {
    padding: 2px 10px;
}
}
// .widget-container .grid-stack-item
// {
// .grid-stack-item-content
// {
// left: 0px !important;
// right: 0px !important;
// overflow-y: hidden !important;
// }
// }
.manual-entry-container-box .wc-date-container
{
border: none !important;
height: inherit !important;
padding: inherit !important;
i
{
    position: absolute;
    top: 0px;
    right: 0px;
    color:#fff !important;
    background: #346cb0;
    font-size: 18px !important;
    padding: 6px 3px;
}
}
.manual-entry-container-box .winkel-calendar
{
    position: inherit !important;
}
@media screen and (max-width: 992px) {

    .hide-mini-sidebar .main-content
    {
    width: calc(100vw - var(--miniSidebarWidth)) !important;
    margin-left: var(--miniSidebarWidth) !important;
    transition: all .6s margin-left;
    }

}
