:root{
    //colors
    --brandPrimaryBlue: #1F79BB;
    --brandDarkGray: #484A4B;
    --brandBlue: #239BDB;
    --brandRed: #C4261A;
    --brandYellow: #FFED34;
    --brandGreen: #249447;
    --brandTan: #CFC096;
    --brandRockGray: #989C97;
    --brandTowerBeige: #9B9A6D;
    --brandAngellHallAsh: #A79D96;
    --blue: #0179a8;
    --indigo: #346cb0;
    --purple: #5f4b8b;
    --pink: #b76ba3;
    --red: #ea6759;
    --orange: #ec935e;
    --yellow: #f7c46c;
    --green: #a7c796;
    --teal: #00a28a;
    --cyan: #3686a0;
    --white: #fff;
    --gray: #888c9b;
    --gray-dark: #222230;
    --primary: #346cb0;
    --secondary: #f6f7f9;
    --success: #00a28a;
    --info: #0179a8;
    --warning: #f7c46c;
    --danger: #b76ba3;
    --light: #f6f7f9;
    --dark: #222230;
    //variable-inputs
    --navbarHeight : 3rem;
    --breadcrumbHeight : 3rem;
    --breadcrumbtitle : 1.2rem;
    --miniSidebarWidth : 3rem;
    --sidebarWidth : 14rem;
    --filterWidth : 18rem;
    --subSidebarWidth: 14rem;
    --mainContentPadding : 0.5rem;
    --font-family-base: "Roboto-Regular";
    }

    $fontFamilyBase: var(--font-family-base);
    $navbarHeight: var(--navbarHeight);
    $breadcrumbHeight: var(--breadcrumbHeight);
    $breadcrumbtitle: var(--breadcrumbtitle);
    $miniSidebarWidth: var(--miniSidebarWidth);
    $sidebarWidth: var(--sidebarWidth);
    $filterWidth: var(--filterWidth);
    $sidebarWidth: $sidebarWidth;
    $subSidebarWidth: var(--subSidebarWidth);
    $mainContentPadding: var(--mainContentPadding);
    $submainContentBg: var(--submainContentBg);

    $brandPrimaryBlue: #1F79BB;
    $brandDarkGray: #484A4B;
    $brandBlue: #239BDB;
    $brandRed: #C4261A;
    $brandYellow: #FFED34;
    $brandGreen: #249447;
    $brandTan: #CFC096;
    $brandRockGray: #989C97;
    $brandTowerBeige: #9B9A6D;
    $brandAngellHallAsh: #A79D96;
    $blue: #0179a8;
    $indigo: #346cb0;
    $purple: #5f4b8b;
    $pink: #b76ba3;
    $red: #ea6759;
    $orange: #ec935e;
    $yellow: #f7c46c;
    $green: #a7c796;
    $teal: #00a28a;
    $cyan: #3686a0;
    $white: #fff;
    $gray: #888c9b;
    $primary: #346cb0;
    $secondary: #f6f7f9;
    $success: #00a28a;
    $info: #0179a8;
    $warning: #f7c46c;
    $danger: #b76ba3;
    $light: #f0f2f4;
    $dark-gray: #222230;
    $light-gray: #eee;
    $dark: #333;

    $themes: (
        default: (
            bodyBg: $light,
            bodyColor: $brandDarkGray,
            appHeaderBg: $white,
            breadcrumbBg: $white,
            miniSidebarBg: darken($indigo,15%),
            miniSidebarColor: $light,
            miniSidebarHoverColor: $white,
            miniSidebarSubtextBg: darken($indigo,15%),
            miniSidebarBorderColor: darken($indigo,15%),
            miniSidebarSubtextColor: $light,
            sidebarBg: darken($indigo,5%),
            sidebarColor: $light,
            sidebarBorderColor: darken($indigo,15%),
            sidebarhoverBg: darken($indigo,15%),
            filterBg: $white,
            filterColor: $brandDarkGray,
            filterBorderColor: $light,
            subSidebarBg: $light,
            subSidebarColor: $brandDarkGray,
            mainContentBg: $light,
            submainContentBg : $white,
            submainContentBorderColor: darken($white,5%),
        ),
        dark: (
            bodyBg: $dark,
            bodyColor: $light,
            appHeaderBg: $white,
            breadcrumbBg: $white,
            miniSidebarBg: $dark,
            miniSidebarColor: $light,
            sidebarBg: lighten($dark,15%),
            sidebarColor: $light,
            sidebarBorderColor: darken($light,15%),
            subSidebarBg: $white,
            subSidebarColor: $brandDarkGray,
            mainContentBg: darken($white,5%),
            submainContentBg : $white,
            submainContentBorderColor: darken($white,5%),
        ),
    );

    @mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
            $value: map-get(map-get($themes, $theme), '#{$key}');
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
        }
    }
    }

    @function themed($key) {
    @return map-get($theme-map, $key);
    }
    .app-header{
        @include themify($themes) {
            background-color: themed('appHeaderBg');
        }
    }
