<div class="main-content">
    <div class="sub-sidebar">
        <kl-menubar [valueProperty]="''" *ngIf="sideMenus" [displayProperty]="'name'"
            (addnew)="addNewAlarmPriorityType()" [menus]="sideMenus"
            (clickStatus)="handleAlarmPriorityTypeClick($event)">
        </kl-menubar>
    </div>
    <div class="sub-main-content-sb">

        <form #alarmPriorityTypeForm="ngForm" class="form-container">


            <div class="form-header">
                <h5 class="form-title">{{title}}</h5>
            </div>
            <div class="form-content">
                <div class="col-6 col-md-8 col-sm-10 d-inline-block">
                    <div class="form-group">
                        <label for="alarmPriorityTypeName">Name <span class="color-red">&nbsp;*</span></label>
                        <input autocomplete="off" placeholder="Name" type="text" name="alarmPriorityTypeName"
                            class="form-control " required [(ngModel)]="selectedAlarmPriorityType.name" #name="ngModel"
                            [ngClass]="{ 'error' : name.invalid && name.touched }"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea placeholder="Description" name="description" class="form-control "
                            [(ngModel)]="selectedAlarmPriorityType.description"></textarea>
                    </div>
                    <div class="form-group" *ngIf="headerContent!=undefined">
                        <label for="priorityType">Priority Level</label>
                        <ng-select bindValue="value" name="level" [items]="headerContent['level']"
                            placeholder="Priority level" [(ngModel)]="selectedAlarmPriorityType.priorityType"
                            [required]="true" [clearable]="false">
                        </ng-select>
                    </div>
                    <div class="form-group" *ngIf="headerContent!=undefined">
                        <label for="priorityType">Icon </label>
                        <ng-select bindValue="value" name="icon" [items]="headerContent['icons']" placeholder="Icon"
                            [(ngModel)]="selectedAlarmPriorityType.icon" [required]="true" [clearable]="false">
                            <ng-template ng-label-tmp let-item="item">
                                <i [class]="item.class"></i>
                                <!-- <span>{{item.label}}</span> -->
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <i [class]="item.class"></i>
                                <!-- <span>{{item.label}}</span> -->
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label for="priorityColor">Priority Color</label>
                        <kl-color-picker name="priorityColor" *ngIf="headerContent!=undefined"
                            [colorList]="headerContent['color']"
                            [(selectedColorData)]="selectedAlarmPriorityType.priorityColor"></kl-color-picker>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <input type="submit" id="saveAlarmPriorityType" class="btn btn-primary btn-sm"
                    [value]="isUpdate == false ? 'Save' : 'Update'"
                    (click)="allowAccess(isUpdate == false ? 'create' : 'edit') ? saveAlarmPriorityType() : ''"
                    [disabled]="!alarmPriorityTypeForm.form.valid ? true:(!isUpdate && !currentAccess.create ? true: (isUpdate && !currentAccess.edit ? true:false))"
                    [title]="!isUpdate && !currentAccess.create ? 'Access Denied': (isUpdate && !currentAccess.edit ? 'Access Denied':'') " />
                <input type="submit" class="btn btn-secondary btn-sm" value="Cancel" (click)="resetForm()" />
                <input type="submit" class="btn btn-secondary btn-sm" value="Delete" id="deleteAlarmPriorityType"
                    [ngClass]="{'d-inline-block' : isUpdate, 'd-none' : !isUpdate}" data-toggle="modal"
                    [attr.data-target]="!currentAccess.delete ? '':'#deleteModal'" [disabled]="!currentAccess.delete"
                    [title]="!currentAccess.delete ? 'Access Denied':''" />
            </div>
        </form>



    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>
                    <!-- {{delete_name}} -->
                </b> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" id="dismissDelete"
                    data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="allowAccess('delete') ? deleteAlarmPriorityType() : ''" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>