<div class="main-content">
    <div class="sub-sidebar">
        <ng-container *ngIf="pageLoaded">
            <kl-menubar *ngIf="sideMenus" [menus]="sideMenus" [displayProperty]="'name'" [valueProperty]="''"
                (clickStatus)="getDeviceModelData($event)" (addnew)="addDeviceModel($event)"></kl-menubar>
        </ng-container>
    </div>
    <div class="sub-main-content-sb">
        <div class="form-container overflow-hidden">
            <div class="form-header">
                <h5 class="form-title">{{title}}</h5>
            </div>
            <div class="col-md-4 form-group my-2" *ngIf="protocolCategory">
                <ng-select [items]="options" bindLabel="name" bindValue="id" placeholder="Select Protocol Category"
                    [searchable]="true" [clearable]="true" [disabled]="false" [selectOnTab]="true"
                    [(ngModel)]="protocolCategoryType" (change)="OnChangeProtocolCategory(protocolCategoryType)">
                </ng-select>
            </div>
            <kl-serviceloader></kl-serviceloader>
            <div *ngIf="loadingDeviceModel" class="body-container overflow-hidden">
                <kl-wizard #WizardComponent [data]="wizardSettings" [changeStep]="step_number"
                    (step)="getstepnumber($event)"></kl-wizard>
                <div *ngIf="loadingDeviceModel" class="body-container">
                    <div *ngIf="step_number === 1" class="centered-content h-100">
                        <kl-dfm *ngIf="DFMinput" [DFMDATA]="DFMinput" [wizardref]=WizardComponent
                            [stepnumber]=step_number
                            (SelectedValues)="accessLevel.create ? getGeneralInfo($event) : return"
                            (showFields)="showFields($event)" (cancel)="onCancel()">
                        </kl-dfm>
                    </div>
                    <div *ngIf="step_number === 2" class="h-100">
                        <div class="body-container">
                            <ng-container>
                                <div class="header-container d-none">
                                    <!-- <h6 class="left">Register Details: <input type="checkbox" class="mx-1"
                                            [(ngModel)]="registerDetails.isAutoRecognitionDetailsrequired" /></h6> -->
                                    <!-- <h6 class="left">Auto recognition Details:</h6> -->
                                </div>
                                <div class="row m-0" *ngIf="registerDetails.isAutoRecognitionDetailsrequired">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label text-right"> Modbus FC</label>
                                            <ng-select bindValue="value" name="modBusFc"
                                                [items]="deviceGroup_config['modeFctype']"
                                                placeholder="Select Modbus FC" [(ngModel)]="registerDetails.modebusFc"
                                                [clearable]="true">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label text-right"> Starting Address</label>
                                            <input autocomplete="off"
                                                class="form-control ng-pristine ng-valid ng-touched" type="text"
                                                [(ngModel)]="registerDetails.startingAddress"
                                                placeholder="Enter Starting Address">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="control-label text-right"> No. Of Registers</label>
                                            <input autocomplete="off"
                                                class="form-control ng-pristine ng-valid ng-touched" type="text"
                                                [(ngModel)]="registerDetails.registers"
                                                placeholder="Enter No. Of Registers">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label class="control-label text-right"> Registers Address</label>
                                            <input autocomplete="off"
                                                class="form-control ng-pristine ng-valid ng-touched" type="text"
                                                [(ngModel)]="registerDetails.registersAddress"
                                                placeholder="Enter Registers Address">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="control-label text-right"> Data Type</label>
                                                <ng-select bindValue="value" name="modBusFc"
                                                    [items]="deviceGroup_config['dataType']"
                                                    [(ngModel)]="registerDetails.datatype"
                                                    placeholder="Select Data Type" [clearable]="true">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label class="control-label text-left d-block"> Multiplication Factor
                                                Details
                                            </label>
                                            <div class="col-8 d-inline-block">
                                                <ng-select bindValue="value" name="mFactor"
                                                    [items]="deviceGroup_config['multiplication_factor']"
                                                    placeholder="Select M Factor" [(ngModel)]="registerDetails.mFactor"
                                                    [clearable]="true" [required]="true"
                                                    (change)="registerDetails.mFactorValue=$event.mFactorValue"
                                                    (clear)="registerDetails.mFactorValue=''">
                                                </ng-select>
                                            </div>
                                            <div class="col-3 d-inline-block">
                                                <h6 class="d-inline-block"> x </h6>
                                                <input autocomplete="off" style="width:70%" class="form-control"
                                                    type="number" name="mFactorValue" placeholder="Enter M Factor Value"
                                                    [(ngModel)]="registerDetails.mFactorValue" required
                                                    [ngClass]="{ 'd-none' : (registerDetails.mFactor != 'custom_value'), 'd-inline-block' : (registerDetails.mFactor == 'custom_value') }" />
                                                <h6 class=""
                                                    [ngClass]="{ 'd-none' : (registerDetails.mFactor == 'custom_value'), 'd-inline-block' : (registerDetails.mFactor != 'custom_value') }">
                                                    {{getExponentialForm(registerDetails.mFactorValue)}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label class="control-label text-right"> Value</label>
                                            <input autocomplete="off"
                                                class="form-control ng-pristine ng-valid ng-touched" type="text"
                                                [(ngModel)]="registerDetails.value" placeholder="Enter Value">
                                        </div>
                                    </div>
                                </div>
                                <ng-container *ngIf="modbusProtocol || backnetProtocol">
                                    <kl-device-block [eachBlockData]="eachBlockData"
                                        [deviceGroup_config]="deviceGroup_config" [selectionData]="checkbox_config"
                                        [protocolCategory]="generalInfoData.protocolcategory">
                                    </kl-device-block>
                                </ng-container>
                                <ng-container *ngIf="snmpProtocol">
                                    <kl-snmp [eachBlockData]="eachBlockData" [deviceGroup_config]="deviceGroup_config"
                                        [selectionData]="checkbox_config"
                                        [protocolCategory]="generalInfoData.protocolcategory">
                                    </kl-snmp>
                                </ng-container>
                            </ng-container>
                        </div>
                        <ng-container>
                            <div class="form-footer">
                                <button type="reset" class="btn btn-sm btn-secondary" (click)="stepprevious()">
                                    Previous
                                </button>
                                <input type="submit" class="btn btn-primary btn-sm"
                                    (click)="accessLevel.create ? saveDeviceConfig() : return" value="Save"
                                    [disabled]="disableBtn" />
                                <button type="reset" class="btn btn-sm btn-secondary" (click)="addDeviceModel($event)">
                                    Cancel
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>