.unitLabel{
    font-size: 0.7rem;
}
// .mainLabel{
//     font-size: 1rem;
//     margin-right: 10px;
// }
.arrow{
    font-size: 1rem;    
    margin-top: 0.5rem;
}
.green{
    color: green
}
.red{
    color: red;
}


.tile-block{
    box-shadow: none !important;
    border: 1px #abbdc7 solid;
    margin: 2px;
    height: inherit;
    display: inline-block;
    min-height: 120px;
}

.arrowImg{
    width: 15px;
    height: 15px;
}




// .progressBarDiv{
//     width: 120px;
//     padding-top: 55px !important;
// }

// .eachBlockCardDiv{
//     margin-left: -53px; 
//     margin-right: -35px; 
//     min-width: 180px;
// }

// .tagsBlockDiv{
//     min-height: 85px; 
//     padding: 0px !important;
// }

// .singleUpDownIcon{
//     font-size: 70px;
// }

// .sub-title
// {
//     color:#346cb0;
// }



.selectedTagHeader
{
     overflow-y: hidden;
     height: 30px;
     margin:2.5px 0px;
    ul
    {
        display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    width: calc(100% - 120px);
    float: left;
    overflow: auto;
        li
        {
            list-style-type: none;
            margin: 0;
            a
            {
                display: inline-block;
                font-family: sans-serif;
                font-size: 0.9em;
                font-weight: 600;
                height: 30px;
                text-align: center;
                width: 100px;
    // margin-left: -20px;
    text-decoration: none;
    text-transform: uppercase;
    // border-radius: 0 100px 100px 0;
    line-height: 30px;
    border-left-style: outset;
    box-shadow: none;
    // box-shadow:-5px 0 8px rgba(35, 155, 219, 0.26);
            }
            &:first-child a {
                box-shadow: none;
            }

        }
        li.active + li a {
            box-shadow: none;
        }
    }
    .play-pause-container
    {
        width:120px; 
        display: inline-block;
        .playPauseBtn {
            cursor: pointer;
            border-radius: 50%;
            // box-shadow: 0 2px 2px 0 #ccc;
            display: inline-block;
            height: 30px;
            width: 30px;
            // background: #3686a0;
            position: relative;
            margin: 0px 5px;
            text-align: center;
            line-height: 30px;
            font-size: 21px;
            // color: #fff !important;
            .fa-pause 
            {
                font-weight: 100;
                font-size: 12px;
    vertical-align: top;
    line-height: 28px;
            }
        }
        
    }
}
.flexContent-Container
{
    height: calc(100% - 40px);
    overflow: auto;
    padding-top: 5px;
    // justify-content: center;
    // display: -webkit-box;
    // -webkit-box-align: center;
    // text-align: center;
    display: flex;
    flex-wrap: wrap;
    .eachBlockDiv{
        min-width: 250px;
        margin: 0;
        display: inline-block;
        margin: 5px;
        text-align: left;
        max-width: 300px;
        flex: 1 1 auto;
    
    .card
    {
        border:none !important;
        box-shadow: 1px 1px 7px #8080805e;

    .sub-title
    {
        font-size: 15px;
        padding: 5px 7px;
        // background: var(--secondary);
        margin: 0px !important;
        height: 45px;
        display: flex;
        align-items: center;
        
    }
    .mainLabel
    {
        display: flex;
        flex-direction: column;
        // background: #f0f2f4;
        min-width: 75px;
        max-width: 75px;
        height: 38px;

        & > span
        {
            // line-height: 0;
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    .unitLabel
    {
        font-size: 13px;
    // line-height: 0;
    color: #777777;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
            overflow: hidden;

    }
}
    .tagsBlockDiv
    {

    // background: #f0f2f4;
    .tags 
    {
        height: 45px;
        overflow: hidden;
        background:transparent;
        margin:2px 0px;
        margin-bottom: 0px;
        & > div
        {
    
    }
        
        
 .currentvalue   
 {
    font-size: 21px;
    padding: 0px 2px;
    color: #777f87;
    max-width: calc(100% - 75px);
    min-width: calc(100% - 75px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // background: #f0f2f4;
&.addpercentage
{
    max-width: calc(100% - 150px);    
    min-width: calc(100% - 150px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
}
 
}
.percentage
{
    height: 38px;
    // background: #f0f2f4;
    line-height: 38px;
    padding: 0 5px;
    width:75px;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;
    .percentage-value {
        font-size: 13px;
        margin: 0 2px;
    }
}
}
    }
}
}