.etsadm--ios-toggle {
  -webkit-appearance: none;
  height: 20px;
  width: 45px;
  background-color: #707070;
  border-radius: 43px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  margin: 0px 10px !important;
  outline: none;

  
}
.etsadm--ios-toggle::after {
  top: 50% !important;
  left: 2px !important;
  content: '';
  width: 18px !important;
  height: 18px !important;
  background-color: lightgray !important;
  position: absolute;
  border-radius: 100% !important;
  -webkit-transition: .3s;
  transition: .3s !important;
  transform: translateY(-50%);
  border:none !important;

}
.etsadm--ios-toggle:checked {
  background-color: var(--brandPrimaryBlue);
}
.etsadm--ios-toggle:checked::after {
  transform: translateX(22px) translateY(-50%);
}
.etsadm--ios-toggle:focus {
  outline-color: transparent;
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.breadcrumb-right
{
  position: relative;
}
.breadcrumb-left
{
  white-space: nowrap;
  display: flex;
  align-items: center;
  width:calc(100% - 300px);
  .cell
  {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 768px) {
    width: calc(100% - 90px);
  }
}
.khide
{
  position: relative;
}
@media screen and (max-width: 768px) {
 .dropdown.khide
 {
   display: none !important;
 }
}
.subtext::after {
  content: " ";
  position: absolute;
  top: 18px;
  left: 50%;
  border-width: 5px;
  border-style: solid;
}
.subtext {
  visibility: hidden;
  width: 6rem;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  // top: calc(#{$miniSidebarWidth} + 8px);
  top: -18px;
  left: -2.25rem;
  position: absolute;
  z-index: 3;
  font-size: 0.75rem;
  @media screen and (max-width: 992px) {
  display: none;
  }
}
.khide:hover,.khide:focus
{
  .subtext
  {
  visibility: visible;
}
}
.breadcrumb-title
{

  height: 100%;

.sharedBy
{
  opacity: 0.5;
  cursor: pointer;
.share
{
  font-size: 15px;
}
}
  
}
.modal-content
{
  label
  {
    margin-bottom:0px; 
  }
}
.isEnabled{
  cursor: not-allowed;
}