<div class="breadcrumb-content">
    <div class="breadcrumb-title">
        <div class="breadcrumb-left">
            <span *ngIf='!editMode && isOwner' (click)="(pageAccessFor.edit && !isEditDash ) ?renameDashboardFocus():''"
                title="{{dashboardData.dashboardName}}" class='cell'>
                <i class={{breadCrumbIcon}}></i>
                <ng-container *ngIf='!isMobileView'>
                    {{breadCrumbLabel}}
                    <i class="fa fa-angle-double-right"></i>
                </ng-container>
                {{ dashboardData.dashboardName }}
            </span>

            <span *ngIf='!isOwner' class='cell'>
                <i class={{breadCrumbIcon}}></i>
                <ng-container *ngIf='!isMobileView'>
                    {{breadCrumbLabel}}
                    <i class="fa fa-angle-double-right"></i>
                </ng-container>
                {{dashboardData? dashboardData.dashboardName : ''}}
            </span>
            <input [hidden]="!editMode" [(ngModel)]='dashboardData.dashboardName'
                class='form-control col-lg-6 col-md-6 col-sm-12 float-left' type='text' (focusout)="onFocusOut()"
                (change)="changeFn($event)" (keyup)="setChange($event)" (keydown.enter)="changeFn($event)"
                [enterKeybool]='dashboardNameCopy' #renameDashboardEl>
        </div>
        <div class="breadcrumb-right" [hidden]='hidePinFilter' id="dashboardBreadcrumbBtns">
            <ng-container *ngIf="!doResize">
                <div class="btn-group">
                    <div *ngIf="!isOwner"
                        class="d-flex justify-content-center flex-column align-items-start mr-3 sharedBy text-nowrap"
                        title="Shared By {{dashboardData.ownerName}}">
                        <span class="share"><i class="fa fa-share"></i> {{dashboardData.ownerName}}</span>
                    </div>
                    <button title="Reload" class="btn btn-secondary khide btn-sm" *ngIf="!doResize"
                        (click)="refreshDashboardAction()"><i class="fa fa-rotate-right p-0"></i></button>

                    <kl-pin-filter *ngIf="(pageType !== 'webscada' && pageType !== 'reports')"></kl-pin-filter>

                    <div>
                        <button *ngIf="isOwner && !isScadaEditor" title="Other Actions"
                            class="btn btn-secondary dropdown khide btn-sm text-nowrap" type="button"
                            id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h p-0"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item" [ngClass]="!pageAccessFor.share ? 'isEnabled' : ''"
                                (click)="pageAccessFor.share ? shareDashboard() : $event.stopPropagation()"
                                [title]="!pageAccessFor.share ? pageAccessFor.title.share :''">
                                Share
                            </a>
                            <a class="dropdown-item" *ngIf="pageType == 'reports'"
                                [ngClass]="!pageAccessFor.schedule ? 'isEnabled' : ''"
                                (click)="pageAccessFor.schedule ? scheduleReport() : $event.stopPropagation()"
                                [title]="!pageAccessFor.share ? pageAccessFor.title.schedule :''">
                                Schedule
                            </a>
                            <a class="dropdown-item" [ngClass]="!pageAccessFor.edit ? 'isEnabled' : ''"
                                (click)="pageAccessFor.edit ? renameDashboardFocus(): $event.stopPropagation()"
                                [title]="!pageAccessFor.edit ? pageAccessFor.title.edit :''">
                                Rename
                            </a>
                            <a class="dropdown-item" data-toggle="modal"
                                [ngClass]="!pageAccessFor.delete ? 'isEnabled' : ''"
                                [attr.data-target]="pageAccessFor.delete ? '#deleteModal' : ''"
                                (click)="!pageAccessFor.delete ? $event.stopPropagation() :''"
                                [title]="!pageAccessFor.delete ? pageAccessFor.title.delete :''" id="deleteModalButton">
                                Delete
                            </a>
                        </div>
                    </div>

                    <div>
                        <ng-container *ngIf='!isScadaEditor'>
                            <button title="Create" class="btn btn-primary dropdown khide btn-sm text-nowrap"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="fa fa-plus"></span> Create
                            </button>
                        </ng-container>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item pt-2 pb-2" data-toggle="modal"
                                [ngClass]="!pageAccessFor.create ? 'isEnabled': ''"
                                [attr.data-target]="!pageAccessFor.create ? '' : '#addModalDashboard'"
                                (click)="pageAccessFor.create ? openDashboardModal() : $event.stopPropagation()"
                                [title]="!pageAccessFor.create ? pageAccessFor.title.create :''">
                                {{(webScada[dashboardData.pageType] ? webScada[dashboardData.pageType] :
                                dashboardData.pageType) | titlecase}}
                            </a>
                            <a *ngIf="pageType !== 'webscada' && showAddWidget && isOwner"
                                class="dropdown-item pt-2 pb-2"
                                [ngClass]="pageType!='reports'?(!accessForWidget || !widgetCounter? 'isEnabled' : ''):(!pageAccessFor.create?(!pageAccessFor.edit?'isEnabled':''):'')"
                                (click)="pageType!='reports'?(accessForWidget && widgetCounter? createWidget() :  $event.stopPropagation()) 
                            :(pageAccessFor.create?createWidget() :
                            (pageAccessFor.edit?createWidget() : $event.stopPropagation()))"
                                [title]="pageType!='reports'?(!widgetCounter? 'Access Denied' :''):(!pageAccessFor.create? (!pageAccessFor.edit? 'Access Denied':''):'')">
                                Widget</a>
                        </div>
                    </div>

                </div>
            </ng-container>
            <div *ngIf="doResize" class="">
                <button type="button" class="btn btn-primary mr-2 btn-sm" (click)="saveResize()">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="cancelResize()">Cancel</button>
            </div>
        </div>

    </div>
    <div class="placeholder"></div>
</div>

<!-- Dashboard Add Modal -->
<div class="modal fade" id="addModalDashboard" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
    aria-hidden="true">
    <div class="modal-dialog wow fadeInDown" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLabel">Create New
                    {{(webScada[dashboardData.pageType] ? webScada[dashboardData.pageType] : dashboardData.pageType) |
                    titlecase}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="elm-cancel"></i>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isShowTemplates" class="form-group">
                    <label for="Dtype" class="control-label modal-title text-muted">Library</label>
                    <div class="" style="margin-bottom: 10px;">
                        <ng-select bindValue="value" bindLabel="label" [items]="dashboardtemplateData[pageType]"
                            placeholder="Select from library" [clearable]="true"
                            [(ngModel)]="newDashboard.dashboard_template_id">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group m-0 text-center"
                    *ngIf="newDashboard.dashboard_template_id == null && isShowTemplates">
                    <label for="Dtype" class="modal-title text-muted"><strong>OR</strong></label>
                </div>
                <div class="form-group" *ngIf="newDashboard.dashboard_template_id == null">
                    <label for="Dtype" class="control-label modal-title text-muted">{{isShowTemplates?'Custom
                        Name':'Name'}}</label>
                    <div class="" style="margin-bottom: 10px;">
                        <input class="form-control" autocomplete="off" type="text" name="name" placeholder="Enter Name"
                            [(ngModel)]="newDashboard.name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="validateSaveForm(newDashboard)" type="button" class="btn btn-sm btn-primary"
                    (click)="allowAccess((dashboardData.pageType == 'scada') ? 'webscada' : dashboardData.pageType,'create') ? saveDashboard('') : ''"
                    id="saveDashboardBreadCrumb">Save</button>
                <button *ngIf="!validateSaveForm(newDashboard)" type="button" class="btn btn-sm btn-primary"
                    disabled="disabled"
                    (click)="allowAccess((dashboardData.pageType == 'scada') ? 'webscada' : dashboardData.pageType,'create') ? saveDashboard('') : ''"
                    id="saveDashboardBreadCrumb">Save</button>
                <button type="button" class="btn btn-sm btn-secondary" id="dismissAddDashboard"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Schedule Modal -->
<button class="invisible" style="display: none;" data-toggle="modal" data-target="#addScheduleModal"
    id="addScheduleBtn"></button>
<div class="modal fade" *ngIf="scheduleModalPopup" #scheduleModal id="addScheduleModal" tabindex="-1" role="dialog"
    aria-labelledby="addScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 900px;">
        <div class="modal-content" *ngIf="scheduleData">
            <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLabel">Schedule</h6>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
                        (click)="cancelSchedule()" class="elm-cancel"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row m-0">
                            <div class="form-group col-12">
                                <span class="d-flex align-items-center">
                                    <label class="d-flex">

                                        Disable <input class="etsadm--ios-toggle" type="checkbox"
                                            [(ngModel)]="scheduleData.schedule"
                                            (ngModelChange)="updateScheduleData()" />
                                        Enable
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 my-1">
                                    <label> <strong>Occurs Every:</strong> </label>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">

                                            <label for="DeviceMinute" class="control-label text-right ">Minute</label>
                                            <div class="">
                                                <angular2-multiselect [data]="scheduleOptions.minuteOptions"
                                                    [(ngModel)]="scheduleData.minutes" [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'minutes')">
                                                </angular2-multiselect>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">

                                            <label for="Dtype" class="control-label text-right ">Hours</label>
                                            <div class="">
                                                <angular2-multiselect [data]="scheduleOptions.hoursOptions"
                                                    [(ngModel)]="scheduleData.hours" [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'hours')">
                                                </angular2-multiselect>
                                            </div>

                                        </div>
                                        <div
                                            class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group d-flex flex-column justify-content-between">

                                            <label for="Dtype">
                                                Type</label>
                                            <div>

                                                <ng-select bindValue="value" bindLabel="label" name="Dtype"
                                                    [items]="scheduleOptions.daysOptions" placeholder="Select"
                                                    [(ngModel)]="scheduleData.dayType" [clearable]="false">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group"
                                            *ngIf="scheduleData.dayType == 'day'">
                                            <label for="Dtype" class="control-label text-right ">Day</label>
                                            <div>
                                                <angular2-multiselect [data]="scheduleOptions.weekdayoptions"
                                                    [(ngModel)]="scheduleData.day" [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'day')">
                                                </angular2-multiselect>
                                            </div>

                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group"
                                            *ngIf="scheduleData.dayType == 'date'">
                                            <label for="Dtype" class="control-label text-right ">Date</label>
                                            <div>
                                                <angular2-multiselect [data]="scheduleOptions.dateOptions"
                                                    [(ngModel)]="scheduleData.date" [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'date')">
                                                </angular2-multiselect>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">
                                            <label for="Dtype" class="control-label text-right ">Month</label>
                                            <div>
                                                <angular2-multiselect [data]="scheduleOptions.monthsOptions"
                                                    [(ngModel)]="scheduleData.months" [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'months')">
                                                </angular2-multiselect>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 my-1">
                                    <label> <strong> Duration:</strong> </label>
                                </div>
                                <div class="col-12">
                                    <div class="row" #datePicker>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">
                                            <label for="Dtype">Start
                                                Date</label>
                                            <div>
                                                <angular2-date-picker [(ngModel)]="scheduleData.startDateVal"
                                                    [settings]="Datesettings">
                                                </angular2-date-picker>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">
                                            <label for="Dtype">End
                                                Date</label>
                                            <div>
                                                <angular2-date-picker [(ngModel)]="scheduleData.endDateVal"
                                                    [settings]="Datesettings">
                                                </angular2-date-picker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 my-1">
                                    <label> <strong>User Details:</strong> </label>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">
                                            <label class="control-label" for="Dtype">User
                                                Group</label>
                                            <div>
                                                <angular2-multiselect [data]="scheduleOptions.userGroups"
                                                    [(ngModel)]="scheduleData.userGroups"
                                                    [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'userGroups')">
                                                </angular2-multiselect>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 form-group">
                                            <label for="Dtype" class="control-label text-right ">User
                                                Name</label>
                                            <div>
                                                <angular2-multiselect [data]="scheduleOptions.userList"
                                                    [(ngModel)]="scheduleData.users" [settings]="settingsForSchedule"
                                                    (onDeSelectAll)="onDeSelectAll($event,'users')">
                                                </angular2-multiselect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-12 ">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" (click)="saveSchedule()">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" id="dismissAddSchedule"
                    (click)="cancelSchedule()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<button class="invisible" style="display: none;" data-toggle="modal" data-target="#dashboardShareModal"
    id="openDashboardSharePopupBtn"></button>

<!-- Dashboard Share Modal -->
<div class="modal fade" id="dashboardShareModal" tabindex="-1" role="dialog" aria-labelledby="dashboardShareModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="scheduleData">
            <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLabel">Share</h6>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
                        class="elm-cancel"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Dtype" class="control-label text-right ">User Groups</label>
                            <div style="margin-bottom: 10px;">
                                <angular2-multiselect [data]="scheduleOptions.userGroups"
                                    [(ngModel)]="shareData.userGroups" [settings]="settingsForSchedule"
                                    (onDeSelectAll)="onDeSelectAll($event,'User Group')">
                                </angular2-multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Dtype" class="control-label text-right ">Users</label>
                            <div style="margin-bottom: 10px;">
                                <angular2-multiselect [data]="scheduleOptions.userList" [(ngModel)]="shareData.users"
                                    [settings]="settingsForSchedule"
                                    (onDeSelectAll)="onDeSelectAll($event,'User Name')">
                                </angular2-multiselect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" (click)="saveDashboardShare()">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" id="dismissDashboardSharePopup"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="wrap-login">
                    <h4 class="modal-title">Are you sure you want to delete?</h4>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="dismissDelete" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-secondary btn-sm"
                    (click)="allowAccess((dashboardData.pageType == 'scada')? 'webscada' : dashboardData.pageType,'delete') ? confirmDelete() : ''"
                    (mouseover)="allowAccessMouseOver(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' :pageType == 'scada' ? 'webscada': 'trends'),'delete')"
                    [title]="titleDenied">Yes</button>
            </div>

        </div>
    </div>
</div>