<div class="main-content">
    <div class="sub-main-content d-flex align-items-center justify-content-center">
      <div class="">
        <h5>Unable to process your request.
        </h5>
        <p>
          Try:
        </p>
        <ul>
          <li>Please Check Network Connection</li>
          <li>Please Off the Airoplane Mode</li>
          <li>Go Back Home Page Click <a href="javascript:void(0)"class="link" (click)="goToHome()">here</a></li>
          <li>Above All Method not working Please <a href="https://support.elmeasure.com" target="_blank"> Contact Us </a></li>
        </ul>
      </div>
     </div>
  </div>