<!-- 
  SCADA LOADER
-->
<div class="main-loader d-none" id="scada-loader">
  <div id="loader-wrapper-submaincontent">
    <div class="loader-rings">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>



<!-- IMPORT MODAL  -->
<button type="button" id="scada_import_modal" class="btn btn-primary m-auto d-none" data-toggle="modal"
  data-target="#import_modal"></button>

<div class="modal fade" id="import_modal" tabindex="-1" role="dialog" aria-labelledby="importScada" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-muted" id="importScada">Import Scada</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i class="elm-cancel"></i></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="file" class="scada-choose-file" accept="text/xml" id="importedXML" #importedFiles>
        </div>
        <div>
          <span>Supported file format: xml</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clearFileContent()"
          #closeImportModal>
          Close
        </button>
        <button type="button" class="btn btn-primary btn-sm" (click)="importFilesIntoGraph()">
          Import
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EXPORT MODAL  -->
<button type="button" id="scada_export_modal" class="btn btn-primary m-auto d-none" data-toggle="modal"
  data-target="#export_modal" (click)="clearExportFileName()"></button>

<div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="exportScada" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-muted" id="exportScada">Export Scada</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i class="elm-cancel"></i></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Filename : </label>
          <input type="text" class="form-control" placeholder="Enter file name" [(ngModel)]="exportfileName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
          (click)="exportFilesIntoGraph()">Export</button>
      </div>
    </div>
  </div>
</div>


<!-- IMAGE PICKER MODAL -->
<button type="button" id="scada_upload_modal" class="btn btn-primary m-auto d-none" data-toggle="modal"
  data-target="#upload_modal"></button>

<div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <kl-image-picker [isScadaTemplateView]='true' [settings]='imageUploadSettings'></kl-image-picker>
</div>