// .height_setup {
//   height: calc(100vh - 260px);
//   min-height: 100%;
//   max-height: 100%;
//   overflow-y: auto;
//   overflow-x: hidden;
// }
// .check-mark {
//   position: absolute;
//   height: 20px;
//   width: 20px;
//   background-color: #eee;
// }
// .title_style{
//     color: #2b5a92;
//     font-size: 20px;
// }
// .border_bottom{
//   border-bottom: 1px solid #ced9e6;
// }
.password-visibility-container{
    position: relative;
    .password-visibility{

top: 18% !important;
right: 2% !important;
    }
}