<header class="mobileHeader">
  <div class="headerContainer">
    <span class="elm-menu" (click)="sidebarOverlay()"> </span>
    <img id="Logo" src="assets/images/branding/mobile-header-logo.png" height="auto" alt="elmeasure" />
    <div class="mobile-alert" (click)="routeTo('alarm-events')" title="Alarms">
      <!-- <img *ngIf="userImageShow" [src]="userImage" alt="" width="100%">
        <span *ngIf="!userImageShow" class="defaultuserprofile"><strong>{{shortUserName | uppercase}}</strong></span> -->
      <span class="elm-alarm icon">
        <span class="number" *ngIf="alarmRaisedCount > 0">
          {{ alarmRaisedCount > 9 ? '9+' : alarmRaisedCount }}
        </span>
      </span>
    </div>
  </div>
</header>
<!-- <header class="app-header">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand ml-1 p-0">
        <img src="assets/images/logo.png" alt="elmeasure logo" style="height: 30px;">
      </a>
      <div class="navbar nav-item mr-0 p-0" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li *ngIf='showOrHide.enlargeOrCompress' class="nav-item collapse">
            <a class="nav-tool">
              <i (click)="toggleFullscreen($event)" class="elm-expand elm-header-icon"></i>
              <span class="subtext">Enlarge/ Compress</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <button class="btn-account dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="accont-summary-drop">
              <span class="user-avatar user-avatar-md">
                <img *ngIf="userImageShow" [src]="userImage" alt="" width="30">
                <span *ngIf="!userImageShow" class="defaultuserprofile">{{shortUserName}}</span>
              </span>
              <span class="account-summary pr-md-4 d-none d-md-block"><span class="account-name">{{fullName}} <span class="elm-edit-2 mr-2"></span></span>
              <span class="account-description">{{userRole}}</span></span>
            </button>
            <div class="dropdown-menu profile-show" aria-labelledby="accont-summary-drop">
               <a class="sub-title d-block pb-0" (click)="routeTo('configurations/userManagement/userProfile')">{{fullName}} <span class="elm-edit-2"></span></a>
                   <span class="sub-descr pt-0">{{userRole}}</span>
                   <a class="descr link" (click)="routeTo('/license-management')">
                    Licensing
                  </a>
              <a class="descr link" href="https://support.elmeasure.com/portal/home" target="_blank">Need help?</a>
              <a class="sub-descr link" data-toggle="modal" data-target="#versionInfoModal" (click)="callVersionInfo()">
                Version Info
              </a>
              <a class="btn btn-secondary btn-sm d-flex justify-content-center" (click)="logout()">
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <audio id="myAudio">
          <source src="horse.ogg" type="audio/ogg">
        </audio>
  </header> -->
<!-- <footer class="border-top">
  <ul>
      <li (click)="routeTo('')" class="d-flex flex-column">
          <span class="elm-speed elm-footer-logo"></span>
          <span class="text-align-center elm-footer-text">
            Dashboard
          </span>
       </li>
     <li (click)="routeTo('alarm-events')" class="d-flex flex-column  position-relative">
       <span class="elm-alarm elm-footer-logo position-relative">
         <span *ngIf="alarmRaisedCount > 0" class="elm-dot"></span>
       </span>
       <span class="text-align-center elm-footer-text">
         Alarm
       </span>
    </li>
      <li class="d-flex flex-column  position-relative" (click)="routeTo('configurations/gatewayDevices/gatewaylist')">
      <span class="elm-computer-support elm-footer-logo position-relative">
        <span *ngIf="inactiveGatewayCount > 0" class="elm-dot"></span>
      </span>
      <span class="text-align-center elm-footer-text">
        Gateways
      </span>
      </li>
      <li (click)="routeTo('configurations/gatewayDevices/gatewaylist')" class="d-flex flex-column  position-relative">
          <span class="elm-online elm-footer-logo">
            <span *ngIf="inactiveDeviceCount > 0" class="elm-dot"></span>
          </span>
          <span class="text-align-center elm-footer-text">
            Sensors
          </span>
      </li>

    </ul>
</footer> -->

<div class="contentFooter" *ngIf="!isMobileView">
  <span class="footerLeft">
    {{ whiteLabel }}
  </span>
  <ul>
    <li>
      <span *ngIf="alarmRaisedCount > 0" [ngClass]="{ borderCorner: alarmRaisedCount > 0 }"></span>
      <span *ngIf="alarmRaisedCount > 0">{{
        alarmRaisedCount > 9 ? '9+' : alarmRaisedCount
        }}</span>
      <div class="iconContainer elm-alarm">
        <span class="subtext" (click)="routeTo('alarm-events')">Active Alarms</span>
        <div class="onhovertext">
          <span class="count">
            {{ alarmRaisedCount }}
          </span>
          <span class="name"> Active Alarms Count </span>
        </div>
      </div>
    </li>

    <li>
      <span *ngIf="inactiveGatewayCount > 0" [ngClass]="{ borderCorner: inactiveGatewayCount > 0 }"></span>
      <span *ngIf="inactiveGatewayCount > 0">{{
        inactiveGatewayCount > 9 ? '9+' : inactiveGatewayCount
        }}</span>
      <div class="iconContainer elm-computer-support">
        <span class="subtext" (click)="routeTo('configurations/gatewayDevices/gatewaylist')">Inactive Gateway</span>
        <div class="onhovertext">
          <span class="count">
            {{ inactiveGatewayCount }}
          </span>
          <span class="name"> Inactive Gateways Count </span>
        </div>
      </div>
    </li>

    <li>
      <span *ngIf="inactiveDeviceCount > 0" [ngClass]="{ borderCorner: inactiveDeviceCount > 0 }"></span>
      <span *ngIf="inactiveDeviceCount > 0">{{
        inactiveDeviceCount > 9 ? '9+' : inactiveDeviceCount
        }}</span>
      <div class="iconContainer elm-online">
        <span class="subtext" (click)="
            routeTo(
              'configurations/gatewayDevices/gatewaylist/gateway_instance_all'
            )
          ">Inactive Sensors</span>
        <div class="onhovertext">
          <span class="count">
            {{ inactiveDeviceCount }}
          </span>
          <span class="name"> Inactive Sensors Count </span>
        </div>
      </div>
    </li>
    <li>
      <a *ngIf="!isMobile" href="/documentation/" class="subtext" style="color: inherit" target="_blank">Need help?</a>
    </li>
  </ul>
</div>

<div class="contentFooter" *ngIf="isMobileView" style="justify-content: center">
  <span class="footerLeft">
    {{ whiteLabel }}
  </span>
</div>

<!-- <div class="bubbol" *ngIf="inactiveDeviceCount > 0 || inactiveGatewayCount > 0 || alarmRaisedCount > 0">
    <ul [ngClass]="{'active':isBubbolOpen}" cdkDragBoundary=".bubbol" cdkDrag>
      <li [ngClass]="{'elm-delete':isBubbolOpen,'elm-error-2':!isBubbolOpen}" (click)="handleBubbolClick($event)" (mousedown)="onMouseDown($event)"><p [ngClass]="{'circle-ripple': isInactiveStatusCount}" ></li>
       <li (click)="routeTo('alarm-events')">{{ alarmRaisedCount > 99 ? "99+" : alarmRaisedCount }}
         <span class="badge elm-alarm">
      <span class="subtext">Alarms</span></span>
      </li>
        <li class="" (click)="routeTo('configurations/gatewayDevices/gatewaylist')">{{inactiveGatewayCount > 99 ? "99+" : inactiveGatewayCount }}
        <span class="badge elm-computer-support">
            <span class="subtext">Inactive Gateway</span></span>
        </li>
        <li class="" (click)="routeTo('configurations/gatewayDevices/gatewaylist/gateway_instance_all')">{{inactiveDeviceCount > 99 ? "99+" : inactiveDeviceCount }}
            <span class="badge elm-online">
                <span class="subtext">Inactive Sensors</span>
            </span>
        </li>
      </ul>
  </div> -->

<!-- Version Info Modal -->
<div class="modal fade" id="versionInfoModal" tabindex="-1" role="dialog" aria-labelledby="versionInfoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-component modal-xl p-0" role="document">
    <div class="modal-content modal-content-component">
      <div class="modal-header form-header">
        <h6 class="modal-title text-muted" id="exampleModalLabel">
          ElNet - 7 VERSION INFO
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="elm-cancel"></i>
        </button>
      </div>
      <div class="modal-body modal-body-component form-content">
        <kl-versions-info></kl-versions-info>
      </div>
    </div>
  </div>
</div>