.kpi-widget
      {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction:column;
        justify-content: center;
          .data-container
            {
              justify-content: space-between;
              display: flex;
              flex-direction:row;
              align-items:center;
              width:100%;
              height: 100%;
                .data-left
                  {
                    width: 60%;
                    margin: auto;
                    flex-grow: 1;
                    h6
                      {
                        font-size:22px;
                        color:#868ca0;
                        font-weight: 500;
                        margin:0px;
                        flex: 1 0 auto;
                        span
                        {
                          font-size:16px;
                          font-weight:500;
                        }
                      }
                      .sensor-name
                      {
                        font-size: 14px;
                        cursor: pointer;
                        transform: scale(1);
                        transition: transform 0.2s ease-in-out;
                        margin: 0;
                        color: #868ca0;
                        font-weight: normal;
                        margin-bottom: 0px;
                        flex: 1 0 auto;
                      }

                    .percentage
                      {
                        color: #0ACF97;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        cursor:pointer;
                        transform:scale(1);        
                        transition:transform 0.2s ease-in-out;        
                        margin:0;
                        flex: 1 0 auto;
                        &.down
                        {
                          color: #dc3545 !important;
                        }
                        span
                          {
                            margin:0px 3px;
                          }

                        }
                        .data-footer
                        {
                          height:30px;
                          margin:0px;
                          overflow:auto;
                          flex: 1 0 auto;    
                          ul
                          {
                            margin:0px;
                            padding:0px;
                            list-style-type:none;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            height:100%;
                            width: fit-content;
                            flex-wrap:nowrap;
                            padding:0px;
                            li
                            {
                              // margin:0px 7px;
                              padding:0px 7px;
                              border-radius:5px;
                              transform:scale(1);
                              transition: background 0.2s ease-in-out, transform 0.1s ease-in;
                              color:#607D8B;
                              font-size:14px;
                              overflow:hidden;
                              text-overflow:ellipsis;
                              white-space:nowrap;
                              max-width:65px;
                              // min-width:50px;
                              // cursor:pointer;
                              i
                              {
                                font-size:14px;
                              }
                              &:hover
                              {
                // color:#f0f2fc;
                              }
                              &:active
                              {
                                transform: scale(0.92);
                              }
                            }
                          }
                        }
                  }
                .data-right
                  {
                    display:flex;
                    align-items:center;
                    justify-content:  center;
                    flex-grow: 1;
                    .image-container
                      {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: 256px;
                        padding-bottom: 7px;
                      }
          
                    }
              }
      }