<div class="main-content">
    <div class="sub-sidebar">
        <ng-container *ngIf="onLoaded">
            <kl-menubar *ngIf="sideMenus" [menus]="sideMenus" [displayProperty]="'gatewaymodelname'"
                [valueProperty]="''" (clickStatus)="getGatewayData($event)" (addnew)="addNewGatewayModel()"
                (draggedElement)="draggedEventFromMenubar($event)" draggable="true" (dragstart)="drag($event)"
                (dragover)="allowDrop($event)"></kl-menubar>
        </ng-container>
    </div>
    <div class="sub-main-content-sb" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <div class="form-container overflow-hidden">
            <div class="form-header">
                <h5 class="form-title">{{title}}</h5>
            </div>
            <div class="col-md-4 form-group my-2" *ngIf="protocol">
                <ng-select [items]="options" bindLabel="name" bindValue="id" placeholder="Select Protocol"
                    [searchable]="true" [clearable]="true" [disabled]="false" [selectOnTab]="true"
                    [(ngModel)]="protocolType" (change)="typeOfProtocolChanged(protocolType)">
                </ng-select>
            </div>
            <kl-serviceloader></kl-serviceloader>
            <ng-container *ngIf="dmfLoading">
                <div class="body-container">
                    <kl-dfm *ngIf="DFMinput" [DFMDATA]="DFMinput"
                        (SelectedValues)="accessLevel.create ? getselectedValues($event) : return"
                        (showFields)="showFields($event)" (cancel)="onCancel()" [disableBtn]="disableBtn"></kl-dfm>
                </div>
            </ng-container>
        </div>
    </div>
</div>