<ng-container *ngIf='!isAddEditPage && !isLookUpTablePage'>
  <div class="main-content">
    <div class="sub-main-content">
      <div *ngIf="pageLoaded" class="table-container">
        <div class="table-header border-bottom">
          <div class="float-right">
            <button type="button" class="btn btn-primary btn-sm" (click)="add_lookup()">+ Create</button>
          </div>
        </div>
        <div class="table-content">
          <div class="height_setup m-2">
            <div class=" centered-content">
              <table class="table table-bordered" id="table">
                <tr align="center">
                  <th>S.No</th>
                  <th *ngFor="let headerContent of table_data.headerContent">{{headerContent.label}}</th>

                  <th colspan="2">Actions</th>
                </tr>
                <tr *ngFor="let bodyContent of table_data.bodyContent; let _index= index" align="center">
                  <td>{{_index + 1}}</td>
                  <td *ngFor="let headerContent of table_data.headerContent">{{bodyContent[headerContent.key]}}</td>
                  <td><button (click)="lookUpTable(bodyContent,_index)" type="button" class="btn btn-primary btn-sm">Add
                      Data</button></td>
                  <td>
                    <button (click)="edit(bodyContent,_index)" class="btn border-0 bg-white centered-content">
                      <!-- <fa-icon [icon]="['fas', 'edit']"></fa-icon> -->
                      <span class="elm-edit-2"></span>
                    </button>
                    <button data-toggle="modal" data-target="#delete" (click)="delete(bodyContent)"
                      class="btn border-0 bg-white centered-content">
                      <!-- <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> -->
                      <span class="elm-trash"></span>
                    </button>

                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!pageLoaded">
        <div id="loader-wrapper-submaincontent">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to delete <b>{{delete_name}}</b> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="accessLevel.delete ? confirmdelete(): ''"
            data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf='isAddEditPage && !isLookUpTablePage'>
  <kl-addedit [courseId]='lookup_id' [accessLevel]='accessLevel' (changeViewEmitter)=changeView($event)></kl-addedit>
</ng-container>


<ng-container *ngIf='isLookUpTablePage && !isAddEditPage'>
  <kl-lookup-tables [lookup_Id]='lookUpId' [accessLevel]='accessLevel' (changeViewEmitter)=changeView($event)>
  </kl-lookup-tables>
</ng-container>