<ng-container *ngIf='!isAddEditPage'>
    <div class="main-content">
        <div class="sub-main-content">
            <div class="table-header">
                <button class="btn btn-primary btn-sm" (click)="AddTimeSlot()">+ Add</button>
            </div>
            <div class="table-content">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th>Time Slot Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shiftList of shiftLists;">
                            <td *ngFor="let shiftHeader of shiftHeaderCol;">
                                {{shiftList[shiftHeader]}}
                            </td>
                            <td>
                                <!-- <button type="button" class="btn btn-primary btn-sm"
                                (click)='editTimeSlot(shiftList.timeslot_id)'>Edit</button> -->
                                <button (click)="editTimeSlot(shiftList.timeslot_id)"
                                    class="btn border-0 bg-white centered-content out shadow-none" title="Edit List">
                                    <!-- <fa-icon [icon]="['fas', 'edit']"></fa-icon> -->
                                    <i class="elm-edit-2"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf='isAddEditPage'>
    <kl-shift-edit [editID]='editID' [accessLevel]='accessLevel' (changeViewEmitter)=changeView($event)></kl-shift-edit>
</ng-container>