.manual-entry-container-box {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px 10px;
}


.fluid-container
{
	background-color: #f5f9fc;
	height:100vh;
	padding:20px;
}
.card {
    margin-bottom: 2rem;
    box-shadow: 0 0 0.875rem 0 rgba(53,64,82,.05);
}
.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    margin: 0px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}
.card-title
{
	color: #346cb0;
    font-size: 15px;
    padding: 0;
    margin: 0px;
    font-weight: 400;
    width: 70px;
}
.card-subtitle
{
    margin: auto;
    font-size: 13px;
}
input.card-title
{
    border: none;
    cursor: pointer;
}
input.card-title:focus
{
    border: none;
    border-color: transparent !important;
    outline: none;
}
     
i.time 
    {
        font-size: 15px;
        color: #346cb0;   
    }

.wc-date-container
{
    border: none;
}
.btn-add
{
background-color: #fff;
}
.header-container
{
    overflow: visible;
    height: 45px !important;
    .header-element
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding:0px 7px;
        justify-content: center;
        cursor: pointer;
        h6
        {
            text-overflow: ellipsis;
            overflow: hidden;
            
        }
    }
    
}
.body-container
{
    overflow-y: auto;
}
.content {
    max-height: 295px;
    overflow: auto;
}