<div class="draggable-sidebar">
    <!-- <kl-pin-sidebar></kl-pin-sidebar> -->
    <div class="d-flex justify-content-left align-items-center title-container">
        <div class="sidebar-title display-inline-block">{{heading}}</div>
        <div class="sidebar-button dropdown display-inline-block float-right ml-auto">
            <button class="action-icon" data-toggle="modal" data-target="#addModal" id="addModalButton"
                [hidden]="!allowHide('create')">
                <i class="elm-plus"></i>
            </button>
            <!-- w.r.t; Delete Dashboard - varshhh -->
            <button class="invisible" data-toggle="modal" data-target="#deleteModal" id="deleteModalButton"></button>
            <button class="invisible" data-toggle="modal" data-target="#renameModal" id="renameModalButton"></button>
            <!-- //w.r.t; Delete Dashboard - varshhh -->
        </div>
    </div>
    <!-- <div class="form-group" style="margin-top:10px">
        <input type="search" class="form-control" placeholder="&#xF002; Search" id="filter" #filter
           style="font-family:Arial, FontAwesome"> 
    </div> -->
    <div class="form-group" style="margin-top:10px">
        <input class="form-control" type="search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"
            [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="sidebar-content">

        <div id="accordion" role="tablist"
            *ngFor="let menu of menus | elmfilter : queryString : ['name'] : true : 2; trackBy: trackByFn; let i = index">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">

                    <a data-toggle="collapse" class="accordion-toggle text-truncate" (click)="onClickParent(menu)"
                        data-toggle="tooltip" data-placement="top" title="{{menu.name}}">
                        {{menu.name}} </a>

                    <span class="dropdown  ml-auto" [hidden]="!allowHide('delete')">
                        <span class="float-right extraSettingsMenu dropdown-toggle action-icon displayClass"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id="dropdownMenuDashButton">
                            <i class="elm-menu-vertical"></i>
                        </span>
                        <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuDashButton"
                            x-placement="top-start">

                            <a class="dropdown-item" href="javascript:void(0)" (click)="deleteDashboard('delete',menu)">
                                Delete</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="renameDashboard(menu)"
                                data-target="#renameModal">
                                Rename
                            </a>

                        </div>
                    </span>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- <tree-root [nodes]="menus" #tree [options]="options" (activate)="onEvent($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
        <div class="eachTreeNode">
            <span
                title="{{ node.data.name }}">{{ (node.data.name.length>18)? (node.data.name | slice:0:18)+'...':(node.data.name) }}</span>
            <span class="dropdown" *ngIf="node.data.isOwner">
                <span class="float-right extraSettingsMenu dropdown-toggle action-icon" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="dropdownMenuDashButton">
                    <i class="elm-menu-vertical"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuDashButton">
          
                    <a class="dropdown-item pl-3" href="javascript:void(0)"
                        (click)="deleteDashboard('delete',node)"> Delete</a>
                
                </div>
            </span>
        </div>
    </ng-template>
</tree-root> -->


<!-- <button class="invisible" data-toggle="modal" data-target="#addModal" id="addModalButton"></button>
<button class="invisible" data-toggle="modal" data-target="#addModalFolder" id="addModalButtonFolder"></button> -->
<!-- <button class="invisible" data-toggle="modal" data-target="#deleteModal" id="deleteModalButton"></button> -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog wow fadeInDown" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLabel">Create New {{headingSingular}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="elm-cancel"></i>

                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">

                        <input class="form-control" autocomplete="off" type="text" name="name"
                            placeholder="Enter {{headingSingular}} Name" [(ngModel)]="dashBoardsaveData.name">
                        <!-- <span class="focus-input " data-placeholder="&#xf12e;"></span> -->

                    </div>
                    <div class="form-group d-none">
                        <label for="description" class="control-label text-right pr-0">Description</label>
                        <div>
                            <textarea class="form-control" type="text" name="description"
                                placeholder="Enter Dashboard Description"
                                [(ngModel)]="dashBoardsaveData.description"></textarea>
                            <!-- <span class="focus-input " data-placeholder="&#xf007;"></span> -->

                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" [disabled]="dashBoardsaveData.name ==''"
                    (click)="allowAccess(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' : 'trends'),'create') ? saveDashboard('') : ''"
                    id="saveDashboard"
                    (mouseover)="allowAccessMouseOver(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' : 'trends'),'create')"
                    [title]="titleDenied">Save</button>
                <button type="button" class="btn btn-sm btn-secondary" id="dismissAdd"
                    data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="wrap-login">
                    <h4 class="modal-title">Are you sure want to delete <b>
                            <!-- {{delete_name}} -->
                        </b> ?</h4>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="dismissDelete" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-secondary btn-sm"
                    (click)="allowAccess(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' : 'trends'),'delete') ? confirmDelete() : ''"
                    (mouseover)="allowAccessMouseOver(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' : 'trends'),'delete')"
                    [title]="titleDenied">Yes</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel"
    aria-hidden="true">
    <div class="modal-dialog wow fadeInDown" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLabel">Rename {{objRenameDashboard.name}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="elm-cancel"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" type="text" name="name"
                            placeholder="Enter {{headingSingular}} Name" [(ngModel)]="dashBoardsaveData.name">
                        <!-- <span class="focus-input " data-placeholder="&#xf12e;"></span> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" [disabled]="dashBoardsaveData.name ==''"
                    (click)="allowAccess(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' : 'trends'),'create') ? confirmRenameDashboard('') : ''"
                    id="renameDashboard"
                    (mouseover)="allowAccessMouseOver(dashboardType == 'Dashboard' ? 'dashboard' : (dashboardType == 'Reports' ? 'reports' : 'trends'),'create')"
                    [title]="titleDenied">Save</button>
                <button type="button" class="btn btn-sm btn-secondary" id="dismissRename"
                    data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addModalFolder" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="name" class="control-label text-right pr-0">Folder Name</label>
                        <span> *</span>
                        <div>
                            <input class="form-control" type="text" name="name" placeholder="Enter Folder Name"
                                [(ngModel)]="folderData.name" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-elm-cancel btn-sm" id="dismissAdd"
                    data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm" [disabled]="folderData.name ==''"
                    (click)="saveDashboard('folder')">Save</button>
            </div>
        </div>
    </div>
</div>