.container1 {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.etsadm--ios-toggle {
  -webkit-appearance: none;
  height: 20px;
  width: 45px;
  background-color: #707070;
  border-radius: 43px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  margin: 0px 10px !important;
  outline: none;

  
}
.etsadm--ios-toggle::after {
  top: 50% !important;
  left: 2px !important;
  content: '';
  width: 18px !important;
  height: 18px !important;
  background-color: lightgray !important;
  position: absolute;
  border-radius: 100% !important;
  -webkit-transition: .3s;
  transition: .3s !important;
  transform: translateY(-50%);
  border:none !important;

}
.etsadm--ios-toggle:checked {
  background-color: var(--brandPrimaryBlue);
}
.etsadm--ios-toggle:checked::after {
  transform: translateX(22px) translateY(-50%);
}
.etsadm--ios-toggle:focus {
  outline-color: transparent;
}
.card
{
  overflow: visible;
}
.lds-ring
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Modal Global in Asset controller
.modal-header
{
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.modal-body
{
  height: calc(100% - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  p
  {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin: 0px;
    color: #888c9b;
  }
}
.modal-footer
{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
}