<!-- <div class="sub-header">
    <fa-icon [icon]="['fas', 'folder-open']" class="pr-2"></fa-icon>
    <span class=" font-weight-bold">Configure Sites</span>
</div> -->
<div class="main-content">
    <!-- <div class="sub-sidebar">
        <div>
            <kl-menubar *ngIf="sideMenus" [menus]="sideMenus" [displayProperty]="'name'" [valueProperty]="''"
                (clickStatus)="getSiteKey($event)" (addnew)="addNewSite()"></kl-menubar>
        </div>
    </div> -->
    <div class="sub-main-content">
        <!-- <div *ngIf="pageLoaded && tableView">
            <div class="header-container">
                <div class="header-left">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="addNewSite()">+ Add Site</button>
                </div>
            </div>
                        <table class="table" id="table">
                            <tr>
                                <th>S.No</th>                               
                                <th>Site Name</th>
                                <th>Actions</th>
                            </tr>
                            <tr *ngFor="let site of sideMenus.data; let _index= index">
                                <td>{{_index + 1}}</td>                              
                                <td>{{site.industry_name}}</td>
                                <td><button (click)="getSiteKey({industry_id:site.industry_id})" class="btn btn-sm btn-primary">                                      
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </table>
        </div> -->
        <div *ngIf="pageLoaded &&(siteInfoLoading || siteDataLoading)" class="h-100">
            <!-- <kl-wizard #WizardComponent [data]=settings [changeStep]="step_number" (step)="getstepnumber($event)"></kl-wizard> -->
            <div class="site-container-box h-100">
                <div *ngIf="siteInfoLoading" class="centered-content h-100"
                    [style.display]="display ? 'block' : 'none'">
                    <!-- <div class="header-container border-bottom">
                        <div class="header-left">
                            <button (click)="hierachyView()" class="btn btn-secondary btn-sm">
                                {{showAddEditButton}}
                            </button>
                        </div>                        
                    </div> -->
                    <div class="h-100">
                        <kl-dfm *ngIf="siteInfoLoading" [DFMDATA]="DFMinput"
                            (SelectedValues)="accessLevel.create ? saveSite($event) : return"
                            (showFields)="showFields($event)" [disableBtn]="disableBtn" (cancel)="onCancel()">
                        </kl-dfm>
                    </div>
                </div>
                <div *ngIf="siteDataLoading" class="centered-content h-100"
                    [style.display]="display ? 'none' : 'block'">
                    <div class="centered-content h-100">
                        <div class="body-container overflow-auto form-padding-bottom">
                            <!-- <div class="header-container border-bottom">                               
                                <div class="header-left">
                                    <button type="button" (click)='backToSiteView()' class="btn btn-secondary btn-sm">Back</button>
                                </div>
                            </div> -->
                            <div class="header-container">
                                <a id="collapse-all" (click)="tree.treeModel.expandAll();" href="javascript:void(0)"
                                    class="mr-1">Expand all</a>
                                <a id="show-all" (click)="tree.treeModel.collapseAll();" href="javascript:void(0)"
                                    class="mr-1">Collapse all</a>
                            </div>
                            <div class="col-md-12 config-padding">
                                <tree-root [nodes]="nodesData" [options]="treeOptions" [state]="state"
                                    (activate)="onActivenode($event)" data-toggle="modal" data-target="#exampleModal"
                                    (stateChange)="setState($event)" (toggleExpanded)="onExpand()">
                                    <ng-template #treeNodeTemplate let-node let-index="index">
                                        <span style="margin-left:6px;" contenteditable="false"
                                            [textContent]="node.data.type | titlecase"
                                            (input)="node.data.name=$event.target.node.data.name">
                                            {{ node.data.type }}
                                        </span>:
                                        <span style="margin-left:2px;" contenteditable="false"
                                            [textContent]="node.data.name"
                                            (input)="node.data.name=$event.target.textContent">
                                            {{ node.data.name }}
                                        </span>
                                        <!-- <ng-container *ngIf="!(node.data.id=='')">
                                            (<span contenteditable="false" [textContent]="node.data.id" (input)="node.data.name=$event.target.node.data.name">
                                                {{ node.data.id }}
                                            </span>)
                                        </ng-container> -->
                                        <ng-container *ngIf="node.data.description">
                                            -
                                            <span contenteditable="false" [textContent]="node.data.description"
                                                (input)="node.data.name=$event.target.node.data.name">
                                                {{ node.data.description }}
                                            </span>
                                        </ng-container>
                                        <div class="list-inline action_list float-right">
                                            <a class="" (click)="onRemoveNode(node)">
                                                <li class="float-right">
                                                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                                </li>
                                            </a>
                                        </div>
                                        <div class="list-inline action_list float-right">
                                            <a (click)="addNode($event, node)">
                                                <li class="float-right">
                                                    <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
                                                </li>
                                            </a>
                                        </div>
                                    </ng-template>
                                </tree-root>
                            </div>
                            <div *ngIf="visible" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="height: calc(100vh - 100px);overflow: hidden">
                                        <div class="modal-body h-100">
                                            <div class="h-100">
                                                <div class="form-header">
                                                    <div class="card-body" style="padding: 0px;">
                                                        <h5 class="card-title">Details</h5>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label for="">Type</label>
                                                                    <div>
                                                                        <ng-select name="typeofElement"
                                                                            [items]="siteStructure['site_structure']['typeDropdown']"
                                                                            placeholder="Select Type of Element"
                                                                            [(ngModel)]="typeofElement"
                                                                            bindValue="value" bindLabel="label"
                                                                            (ngModelChange)="typeOfElementChanged(typeofElement, 'change')">
                                                                        </ng-select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-content p-0">
                                                    <kl-dfm *ngIf="structureDFMLoading && (typeofElement !== '')"
                                                        [DFMDATA]="DFMinput1"
                                                        (SelectedValues)="accessLevel.create ? getBindDatatoTree($event) : return"
                                                        (showFields)="showFields($event)" (close)="onModelCancel()">
                                                    </kl-dfm>
                                                </div>
                                                <button type="button" hidden="hidden" class="btn btn-secondary btn-sm"
                                                    data-dismiss="modal" #close>Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <div class="">
                                    <button [disabled]="hierachyDisableBtn"
                                        (click)="accessLevel.create ? SaveHierachy(): return"
                                        class="btn btn-primary btn-sm">
                                        Save
                                    </button>
                                    <button (click)="refreshHeirachy()" class="btn btn-secondary btn-sm">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!pageLoaded">
            <div id="loader-wrapper-submaincontent">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>