<div class="row">
  <div class="col-sm-12">
    <div class="form-header">
      <!-- <img class="toggleImg" (click)="toggleExpandCollepseImg()" src="/assets/images/right.png"
        [ngClass]="{'toggle-expanded': isExpanded, 'toggle-collepsed': !isExpanded }" />
      Rules -->
      <!-- <div class="btn-group mr-2" (click)="toggleExpandCollepseImg()" [ngClass]="{'toggle-expanded': isExpanded, 'toggle-collepsed': !isExpanded }">
          <button class="btn btn-secondary btn-sm active shadow-none" style="min-width: 100px">
              Rules {{isExpanded ? 'Expand' : 'Hide'}}
            </button>
        <button class="btn btn-sm btn-secondary" [ngClass]="{'toggle-expanded': isExpanded, 'toggle-collepsed': !isExpanded }">
          <i class="elm-forward"></i>
        </button>
   
      </div> -->
      <div class="btn-group mr-2" role="group" [ngClass]="{'d-inline-block': isExpanded, 'd-none': !isExpanded}">
        <button class="btn btn-sm btn-primary" (click)="addNewRule()">Add Rule</button>
      </div>
      <!-- <div class="btn-group mr-2" role="group" [ngClass]="{'invisible':rules.length<=1}">
          <button type="button" class="btn btn-sm"
            [ngClass]="{ 'btn-primary' : ruleAndOrOperationData['isAnd'], 'btn-secondary' : ruleAndOrOperationData['isOr'] }"
            (click)="andClicked()">AND</button>
          <button type="button" class="btn btn-sm"
            [ngClass]="{ 'btn-primary' : ruleAndOrOperationData['isOr'], 'btn-secondary' : ruleAndOrOperationData['isAnd'] }"
            (click)="orClicked()">OR</button>
        </div> -->
    </div>

    <table class="table rulesTable" [ngClass]="{'error': isExpanded, 'd-none': !isExpanded}">
      <thead>
        <tr>
          <th class="text-center border-0">Tag <span class="color-red">&nbsp;*</span></th>
          <th class="text-center border-0"
            *ngIf="category !='15min' && category !='30min' && category !='eod' && category !='eoh' && category !='eos'">
            Condition
            <span class="color-red">&nbsp;*</span>
          </th>
          <th class="text-center border-0"
            *ngIf="category !='15min' && category !='30min' && category !='eod' && category !='eoh' && category !='eos'">
            Set Value
            <span class="color-red">&nbsp;*</span>
          </th>
          <!-- <th class="text-center border-0">Reset Value *</th> -->
          <th class="text-center border-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rule of rules; let i = index;">
          <td class="">
            <ng-select bindValue="value" name="tag" [items]="tags" placeholder="Tags" [required]="true"
              [(ngModel)]="rule.leftHandSide.tag" [clearable]="true" #tag="ngModel"
              [ngClass]="{ 'error' : tag.invalid && tag.touched }" dropdownPosition="bottom">
            </ng-select>
          </td>
          <td class=""
            *ngIf="category !='15min' && category !='30min' && category !='eod' && category !='eoh' && category !='eos'">
            <select name="condition" class="form-control" [(ngModel)]="rule.condition" required #condition="ngModel"
              [ngClass]="{ 'error' : condition.invalid && condition.touched }">
              <option>==</option>
              <option>!=</option>
              <option>>=</option>
              <option>
                <= </option>
              <option>></option>
              <option>
                < </option>
            </select>
          </td>
          <td
            *ngIf="category !='15min' && category !='30min' && category !='eod' && category !='eoh' && category !='eos'">
            <select disabled name="compareOption" class="form-control" [(ngModel)]="rule.rightHandSide.compareOption"
              required #compareOption="ngModel"
              [ngClass]="{ 'error' : compareOption.invalid && compareOption.touched }">
              <option value="customValue">Custom Value</option>
              <!-- <option value="tag">Tag</option>
                    <option value="threshold">Threshold</option> -->
            </select>
          </td>
          <td class="" style="width: 100px"
            *ngIf="category !='15min' && category !='30min' && category !='eod' && category !='eoh' && category !='eos'">
            <input autocomplete="off" name="value" type="number" class="form-control"
              [(ngModel)]="rule.rightHandSide.customValue" required #value="ngModel"
              [ngClass]="{ 'd-block' : (rule.rightHandSide.compareOption == 'customValue'), 'd-none' : (rule.rightHandSide.compareOption  != 'customValue' || rule.rightHandSide.compareOption == ''), 'error' : value.invalid && value.touched }" />
            <ng-select bindValue="value" name="compareTag" [items]="tags" placeholder="Tags" [required]="true"
              [(ngModel)]="rule.rightHandSide.tag" [clearable]="true" class="form-control" #compareTag="ngModel"
              dropdownPosition="bottom"
              [ngClass]="{ 'd-block' : rule.rightHandSide.compareOption == 'tag', 'd-none' : (rule.rightHandSide.compareOption != 'tag' || rule.rightHandSide.compareOption == ''), 'error' : compareTag.invalid && compareTag.touched }">
            </ng-select>
            <ng-select bindValue="value" name="threshold" [items]="thresholds" placeholder="Threshold"
              [(ngModel)]="rule.rightHandSide.threshold" [clearable]="true" class="form-control" #threshold="ngModel"
              [required]="true" dropdownPosition="bottom"
              [ngClass]="{ 'd-block' : rule.rightHandSide.compareOption == 'threshold', 'd-none' : (rule.rightHandSide.compareOption != 'threshold' || rule.rightHandSide.compareOption == ''), 'error' : threshold.invalid && threshold.touched }">
            </ng-select>
          </td>
          <!-- <td class="align-middle">
            <input autocomplete="off" type="checkbox" name="resetValueRequired" class="d-inline-block"
              [(ngModel)]="rule.resetValue.isResetValueRequired" title="Reset Required" />
          </td> -->
          <td class="">
            <select name="resetCompareOption" class="form-control" [(ngModel)]="rule.resetValue.compareOption" required
              #resetCompareOption="ngModel"
              [ngClass]="{ 'd-inline-block' : rule.resetValue.isResetValueRequired, 'd-none' : !rule.resetValue.isResetValueRequired, 'error' : resetCompareOption.invalid && resetCompareOption.touched }">
              <option value="customValue">Custom Value</option>
              <option value="tag">Tag</option>
              <option value="threshold">Threshold</option>
              <option value="tolerenceValue">Tolerence</option>
              <option value="pTolerenceValue">% Tolerence</option>
            </select>
          </td>
          <td class="" style="width: 100px">
            <!-- <input autocomplete="off" name="resetValue" type="number" class="form-control"
              [(ngModel)]="rule.resetValue.customValue" required #resetValue="ngModel"
              [ngClass]="{ 'd-block' : (rule.resetValue.isResetValueRequired && rule.resetValue.compareOption == 'customValue'), 'd-none' : (!rule.resetValue.isResetValueRequired || rule.resetValue.compareOption  != 'customValue' || rule.resetValue.compareOption == ''), 'error' : resetValue.invalid && resetValue.touched }" /> -->
            <ng-select bindValue="value" name="resetCompareTag" [items]="tags" placeholder="Tags" [required]="true"
              [(ngModel)]="rule.resetValue.tag" [clearable]="true" class="form-control" #resetCompareTag="ngModel"
              dropdownPosition="bottom"
              [ngClass]="{ 'd-block' : (rule.resetValue.isResetValueRequired && rule.resetValue.compareOption == 'tag'), 'd-none' : (!rule.resetValue.isResetValueRequired || rule.resetValue.compareOption != 'tag' || rule.resetValue.compareOption == ''), 'error' : resetCompareTag.invalid && resetCompareTag.touched }">
            </ng-select>
            <ng-select bindValue="value" name="resetThreshold" [items]="thresholds" placeholder="Threshold"
              [required]="true" [(ngModel)]="rule.resetValue.threshold" [clearable]="true" class="form-control"
              #resetThreshold="ngModel" dropdownPosition="bottom"
              [ngClass]="{ 'd-block' : (rule.resetValue.isResetValueRequired && rule.resetValue.compareOption == 'threshold'), 'd-none' : (!rule.resetValue.isResetValueRequired || rule.resetValue.compareOption != 'threshold' || rule.resetValue.compareOption == ''), 'error' : resetThreshold.invalid && resetThreshold.touched }">
            </ng-select>
            <!-- <input autocomplete="off" type="number" name="tolerenceValue" class="form-control"
              [(ngModel)]="rule.resetValue.tolerenceValue" required #tolerenceValue="ngModel"
              [ngClass]="{ 'd-block' : (rule.resetValue.isResetValueRequired && rule.resetValue.compareOption == 'tolerenceValue'), 'd-none' : (!rule.resetValue.isResetValueRequired || rule.resetValue.compareOption  != 'tolerenceValue' || rule.resetValue.compareOption == ''), 'error' : tolerenceValue.invalid && tolerenceValue.touched }" /> -->
            <input autocomplete="off" type="number" name="pTolerenceValue" class="form-control"
              [(ngModel)]="rule.resetValue.pTolerenceValue" required #pTolerenceValue="ngModel"
              [ngClass]="{ 'd-block' : (rule.resetValue.isResetValueRequired && rule.resetValue.compareOption == 'pTolerenceValue'), 'd-none' : (!rule.resetValue.isResetValueRequired || rule.resetValue.compareOption  != 'pTolerenceValue' || rule.resetValue.compareOption == ''), 'error' : pTolerenceValue.invalid && pTolerenceValue.touched }" />
          </td>
          <td class="">
            <button type="button" class="btn btn-sm btn-secondary" (click)="deleteRule(i)">Delete</button>
            <!-- <fa-icon class="btn" [icon]="['fas', 'trash']" title="Delete Rule" (click)="deleteRule(i)"></fa-icon> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>