<div class="top-bar-item px-0">
  <div class="hscrollmenu" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="reArrangePinnedTabs($event)">
    <ul class="tabrow">
      <li *ngIf="showPinnableTab" class="tabrow-item">
        <a class="menu-item-text" href="javascript:void(0);">
          {{currentPageInfo?.pageTitle}}
          <i (click)="pinTab(currentPageInfo)" [ngClass]="{'elm-pin action-icon': true}" title="Pin Tab"></i>
        </a>
      </li>
      <ng-container *ngFor="let eachPage of pinnedPages;trackBy: trackByFn;let i =index;">
        <li cdkDrag dkDragBoundary="hscrollmenu" class="tabrow-item position-relative"
          [ngClass]="{'active':eachPage.isClicked}">
          <div>
            <a class="menu-item-text" href="javascript:void(0);" (click)="onClick(eachPage); routeTo(eachPage)">
              {{eachPage.pageTitle}}

            </a>
            <i (click)="unPinTab(eachPage)" [ngClass]="{'elm-cancel action-icon': true}" title="delete">
            </i>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>