<div class="main-content">
  <div class="sub-sidebar">
    <ng-container *ngIf="onLoaded">
      <kl-menubar *ngIf="sideMenus" [menus]="sideMenus" [displayProperty]="'name'"
        [secondDisplyProperty]="'device_instance_id'" [valueProperty]="''" (clickStatus)="getVirualData($event)"
        (addnew)="addNewVirtualDevice()" (draggedElement)="draggedEventFromMenubar($event)" draggable="true"
        (dragstart)="drag($event)" (dragover)="allowDrop($event)"></kl-menubar>
    </ng-container>
  </div>
  <div class="sub-main-content-sb virtual-device-form overflow-hidden" (drop)="drop($event)"
    (dragover)="allowDrop($event)">
    <div class="form-container">
      <div class="form-header">
        <h5 class="form-title">{{title}}</h5>
      </div>
      <div class="form-content p-0">
        <div>
          <div *ngIf="dmfLoading">
            <kl-dfm *ngIf="DFMinput" [DFMDATA]="DFMinput"
              (SelectedValues)="accessLevel.create ? getselectedValues($event): return"
              (showFields)="showFields($event)" (cancel)="onCancel()" [disableBtn]="disableBtn"></kl-dfm>
          </div>
        </div>
        <ng-container *ngIf="tagData_length>0 && tableLoad">
          <div class="px-2">
            <table class="table table-bordered px-2">
              <tr>
                <th>Tag name</th>
                <!-- <th>Source</th> -->
                <th>Sensor name</th>
                <th>Sensor Status (deleted/disabled)</th>
                <!-- <th>Sensor_isdisabled</th> -->
              </tr>
              <tr *ngFor='let detail of tagData'>
                <td>{{detail.tag_name}}<span class="d-none">{{detail.tag_id}}</span></td>
                <!-- <td>{{detail.source}}</td> -->
                <td>{{detail.sensor_name}}<span class="d-none">{{detail.sensor_id}}</span></td>
                <td><span [ngClass]="{'row_background_color_deleted': detail.sensor_isdeleted=='true'?true:false}"
                    title="Deleted?">{{detail.sensor_isdeleted | titlecase }}</span>/<span
                    [ngClass]="{'row_background_color_disabled':detail.sensor_isdisabled=='true'?true:false}"
                    title="Disabled?">{{detail.sensor_isdisabled | titlecase }}</span></td>
              </tr>
            </table>
          </div>
        </ng-container>
        <div *ngIf="!loadingAsset">
          <div id="loader-wrapper-submaincontent">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>