<div class="main-content">
  <div class="sub-main-content">
    <div *ngIf="pageLoaded" class="h-100">
      <form #lookup_form="ngForm" class="form-container">
        <div class="form-header">
          <h6 class="form-title">{{title}}</h6>
        </div>
        <div class="form-content">
          <div class="row height_setup">
            <div class="col-lg-5">
              <div class="">
                <label for="name" class="control-label text-right">Name <span class="color-red">&nbsp;*</span></label>
                <div class="">
                  <input class="form-control font_size12px" type="text" name="name" placeholder="Enter Name"
                    autocomplete="off" [(ngModel)]="lookupformdata.name" [required]="true">
                </div>
              </div>
              <div class="">
                <label for="description" class="control-label text-right">Description <span
                    class="color-red">&nbsp;*</span></label>
                <div class="">
                  <textarea class="form-control font_size12px" type="text" rows=5 name="description"
                    placeholder="Enter Description" autocomplete="off" required
                    [(ngModel)]="lookupformdata.description"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="form-footer">
          <div class="float-left">
            <button type="reset" (click)="cancellookup()" class="btn btn-secondary btn-sm">Cancel</button>
          </div>
          <div class="float-left">
            <button type="submit" (click)="isPermission ? savelookup(): return" class="btn btn-primary btn-sm"
              [disabled]="disableBtn">Save <img *ngIf="!submitting_lookup" class="but-loader"
                src="assets/images/button_loader.gif"></button>
          </div>

        </div>

      </form>
    </div>
    <div *ngIf="!pageLoaded">
      <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

  </div>
</div>