.breadcrumb-right .btn
{
  height: 30px;
}
.assets-control-container
{
  position: relative;
.asset-control-block
{
  background: #fff;
  margin: 5px;
  height: 114px;
  padding: 10px;
  margin: 0px 10px 10px 0px;
  .asset-control-header
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  .header-left
    {
      flex-grow: 1;
      width: calc(100% - 180px);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      h6
      {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin:0px 8px 0px 0px;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
        &.short-header
        {
          max-width: 50%;

        }
      }

    }
    .header-right
    {
      display: flex;
      margin-left: auto;
      .card-right-icon
      {
        border-radius: 50%;
        background: transparent;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #868ca0;
        border: none;
        justify-content: center;
        transform: scale(1);
        transition: background 0.2s ease-in-out, transform 0.1s ease-in;
        text-decoration: none;
        &:hover
        {
          background: #f0f2fc;
        }
        &:active
        {
          transform: scale(0.8);
        }
      }
      .dropdown-toggle::after
      {
        display: none;
      }
    }

  }
  .assets-control-content
  {

    .asset-schedule
    {
      margin-top: 5px;
      p
      {
        font-size: 14px;
        font-weight: normal;
        line-height: 21px;
        margin: 0px;
      }
      h6
      {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color:var(--orange);
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .asset-paragraph
    {
        color:var(--orange);
        display: inline-block;
        opacity: 0.7;
    }
    &.complete-schedule
    {
      h6
      {
      color: var(--success);
      opacity: 0.7;
    }
    .asset-paragraph
    {
      color: var(--success);
      opacity: 0.7;
      display: inline-block;
    }
    }
    &.not-schedule
    {
      h6
      {
      color: #868ca0;
      opacity: 0.8;
    }
    .asset-paragraph
    {
      color: #868ca0;
      opacity: 0.8;
      display: inline-block;
    }
    }
    }
  }
  .assets-control-footer
  {
    position: absolute;
    right: 0px;
    bottom:0px;
    transition: color 0.12s ease-in-out;
    .btn
    {
      font-size: 14px;
      font-weight: normal;
      color: #868ca0;
      // opacity: 0.05;
      transition: all 0.18s ease-in-out;
      text-decoration: none;
    }
    .btn:not(:disabled):not(.disabled):hover
    {
      color:var(--brandPrimaryBlue) !important;
      opacity: 1;
    }
  }
  &:hover
  {
    .assets-control-footer
    {
      opacity: 1;
      // .btn:not(:disabled):not(.disabled)
      // {
      //   color:var(--brandPrimaryBlue);
      //   opacity: 1;
      // }
    }
  }
&.sheduled-border
{
  border-left: 4px solid var(--orange);
}
// &.disabled-border
// {
//   border-left: 4px solid var(--light);
// }
}
}
.asset-user
{
  font-size: 14px;
font-weight: normal;
line-height: 21px;
margin: 5px 0px 0px 0px;
span
{
  max-width: 50%;
}
}
.btn-load-more
{
  margin:0px auto;
  text-align: center;
  .btn
  {
    width:600px;
    max-width: 90%;

  }
}
.empty-assets-control-container
{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  .empty-asset-control-block
  {
    background: #fff;
    margin: 15px;
    padding: 10px;
    min-height: 109px;
    height: 109px;
    width: 280px;
    max-width: 80%;
    .empty-header
    {
      width: 60%;
      height: 30px;
      background-color: #eee;
      margin: 10px;

    }
    .epmty-content
    {
      width: 80%;
      height: 45px;
      background-color: #eee;
      margin: 10px;
    }
    .epmty-footer
    {
      width: 50%;
      height: 20px;
      background-color: #eee;
      margin: 10px;
      margin-left: auto;
    }
  }
  .empty-image
  {
        width: calc(100% - 30px);
    margin-bottom: 20px;
  }
}
.assets-control-container
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
@media (min-width: 576px)
{
.col-sm-12 {
-webkit-box-flex: 0;
flex: 0 0 calc(100% - 10px);
max-width: calc(100% - 10px);
}
}
@media (min-width: 768px)
{
.col-md-6 {
-webkit-box-flex: 0;
flex: 0 0 calc(50% - 10px);
max-width: calc(50% - 10px);
}
}
@media (min-width: 992px)
{
.col-lg-6
{
-webkit-box-flex: 0;
flex: 0 0 calc(50% - 10px);
max-width: calc(50% - 10px);
}
}

@media (min-width: 1200px)
{
  .col-xl-4 {
    -webkit-box-flex: 0;
    flex: 0 0 calc(33.33333333% - 10px);
    max-width: calc(33.33333333% - 10px);
}
}

@media (min-width: 1500px)
{
  .col-xxl-3 {
    -webkit-box-flex: 0;
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
}
}

}
thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 9;
  height: 45px;
  padding: 0px 5px;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  color:#888c9b;
  max-width: 150px;
  min-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  // white-space: nowrap;
  border-top:0.2px solid #e9ecef;
  border-bottom:0.2px solid #e9ecef;
  font-weight: 500;
}
tbody tr td:first-child
{
  position: sticky;
  left: 0px;
  background: white;
  z-index: 10;
  // box-shadow: 5px 2px 9px 0px #e9eaedb0;
}
th:first-child
{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 11 !important;
  // box-shadow: 5px 2px 9px 0px #e9eaedb0;
}
tr td:nth-child(2),th:nth-child(2)
{
  padding-left: 12px !important;
}
tr:last-child td:first-child
{
  // box-shadow: 5px 0px 9px 0px #e9eaedb0;
}
tbody
{
  overflow: auto;
  td
  {
    height: 45px;
    padding: 0px 5px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    color:#888c9b;
    max-width: 150px;
    min-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom:0.2px solid #e9ecef;
  }
  tr:last-child
  {
    border-bottom:0.2px solid #e9ecef;
  }
}
.more-info-modal,.modal-history
{
  .modal-dialog
  {
    height: calc(100% - 60px);
    // width: calc(100% - 60px);
    // max-width: calc(100% - 60px);
    .modal-content
    {
      height: 100%;
    }
  }
}
.modal-history .modal-header
{
  height: 60px;
}
.modal-history .modal-content
{
  td:last-child, th:last-child
{
  text-align: center !important;
}
}
.isEnabled{
  cursor: not-allowed;
}
.modal-header
{
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.modal-body
{
  height: calc(100% - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  p
  {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin: 0px;
    color: #888c9b;
  }
}
.modal-footer
{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
}
.asset-control-status
{
  background: rgba(0, 162, 138, 0.11);
    font-size: 14px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-weight: 500;
    color: var(--success);
    position: relative;
    left: 10px;
    p
    {
      margin:0px;
    }
    &.scheduled
    {
      color: var(--success);
      background: rgba(0, 162, 138, 0.11);
    }
    &.not-scheduled
    {
      color: var(--orange);
     background: rgba(236, 147, 94, 0.11);;
    }
}
.label-group
      {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
        flex-grow: 1;
        margin-right: 10px;
        overflow: auto;
        padding: 0px 0px 2px 0px;
        // max-width: 50%;
          &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
          }
        .label-block
        {

          background: #343a4000;
          border: 0.5px solid #e9eaed !important;
          color: #888c9b;
          font-size: 12px;
          padding: 0px 4px;
          margin: 0px 4px 0px 0px;
          line-height: 22px;

        }
      }
      .asset-control-block
      {
      .label-group
      {
        &::-webkit-scrollbar-thumb
        {

          background-color:transparent;
      }

      }
      &:hover
      {
        .label-group
        {
        &::-webkit-scrollbar-thumb {
          background-color:#ddd;
      }
    }
  }

      }
      .modal-dialog
      {
      ng-select
      {
        min-width: 211px;
      }
    }
    .table-status
    {
      padding: 4px 8px;
      margin: 0px 4px 0px 0px;
      line-height: 22px;
      width: 67px;
      display: inline-block;
    &.success
    {
      color:var(--success);
      background: rgba(0, 138, 162, 0.11);
    }
    &.failed
    {
      color: var(--orange);
      background: rgba(236, 147, 94, 0.11);


    }
    }
    .empty-history, .error-history
    {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 80%;
      width: 280px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      margin: auto;
      text-align: center;
      span
      {
        font-size: 128px;
        color:rgba(0, 0, 0, 0.15);
        margin-bottom: 15px;
      }
    }
    .lds-ring
    {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    strong{
      font-family:inherit
    }