<div class="main-content">
    <div class="sub-main-content">
        <ng-container *ngIf="true">
            <div id="accordion" class="h-100">
                <form (ngSubmit)="updateUserProfileData(userProfileForm)" [formGroup]="userProfileForm" class="h-100">
                    <div class="row body-container overflow-auto m-0 position-relative">
                        <div class="col-12 col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto">

                            <div class="image-container">

                                <div class="imageContent image-upload">
                                    <img *ngIf="!isDefaultImage" [src]="userImage" alt="" width="100%"
                                        class="image imgCorners">
                                    <span *ngIf="isDefaultImage" class="defaultuserprofile"><strong>{{shortUserName |
                                            uppercase}}</strong></span>
                                    <span *ngIf="!isDefaultImage" class="remove-image" (click)="resetImage()"
                                        title="Remove Image">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </div>

                                <div class="buttonContent" title="Upload Square image Ex:300*300">
                                    <input type="file" #userImageInput class="" formControlName="Imagefile"
                                        id="file-input" ngModel (change)="getFiles($event)">
                                    <a>Upload <span class="fa fa-camera"></span></a>
                                </div>
                            </div>

                            <div class="form-group p-3 m-2 bg-danger text-white" *ngIf='isPasswordExpiryEnabled'>
                                <label>Password expires in: <strong>{{passwordExpiredInDays}}</strong>
                                    days
                                </label>
                            </div>
                            <div class="form-group p-3 m-2 bg-danger text-white" *ngIf='isAccountExpiryEnabled'
                                [ngClass]="{'disableDiv': true}">
                                <!-- <label>Account expires on: <strong>{{accountExpiryDate}}</strong> -->
                                <label class="">Account expires on:
                                    <input class="pr-5 hideBox" formControlName="accountExpiresIn"
                                        [(ngModel)]="accountExpiresIn" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                                    <owl-date-time #dt></owl-date-time>
                                </label>
                            </div>

                        </div>
                        <div class="col-12 col-xl-7 col-lg-6 col-md-12 col-sm-12">
                            <div class="userContainer">
                                <!-- <h6 class="contentSubTitle">
                                    User Basic Info
                                </h6> -->
                                <div class="row">
                                    <div class="form-group col-xl-6 col-lg-10 col-md-6 col-sm-8">
                                        <label for="fullName">Full Name:
                                        </label>
                                        <input class="form-control" [(ngModel)]="fullName" type="text"
                                            placeholder="Enter Your Full Name" name="fullName"
                                            formControlName="fullName" autocomplete="off"
                                            (input)="onTypingSetDefaultImage($event.target.value)" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xl-6 col-lg-10 col-md-6 col-sm-8">
                                        <label for="eMail">E-mail:
                                        </label>
                                        <input class="form-control" [(ngModel)]="eMail" type="email"
                                            placeholder="Enter E-Mail Id" name="eMail" formControlName="eMail"
                                            autocomplete="off" klEmailValidator />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xl-6 col-lg-10 col-md-6 col-sm-8">
                                        <label for="phone">Phone:
                                        </label>
                                        <input class="form-control" [(ngModel)]="phone" type="number"
                                            placeholder="Enter Contact Number" name="phone" formControlName="phone"
                                            autocomplete="off" klNumbersOnly />

                                    </div>
                                </div>
                                <!-- <h6 class="contentSubTitle">
                                    User Preferences
                                </h6> -->
                                <div class="row">

                                    <div *ngIf="userDataLoaded" class="form-group col-xl-6 col-lg-10 col-md-6 col-sm-8">
                                        <!-- <label>
                                            Change Password
                                        </label> -->
                                        <span class="invisible" data-toggle="modal" data-target="#changePasswordModal"
                                            id="changePasswordModalButton" class="d-block" (click)=changeView()>
                                            <button [disabled]="eMail === 'demo@elmeasure.com'"
                                                class="btn btn-secondary" type="button"
                                                title="Click to Change Password"><i class="fa fa-key"></i> Change
                                                Password</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 m-0">
                                        <label class="mb-0">
                                            Select Theme:
                                        </label>
                                        <ul class="theme-select-class">
                                            <li *ngFor="let themeName of themeList.themeNames" class='border-0'>
                                                <span (click)="updateSelectedTheme(themeName)" class="{{themeName}}">
                                                    <i id={{themeName}} #themeId class="elm-unchecked-radio-button"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- <h6 class="contentSubTitle">
                                    User Previlage
                                </h6> -->
                                <div class="row">


                                    <div class="form-group col-12">
                                        <label>
                                            User Role:
                                        </label>
                                        <span class="ml-1">
                                            <i *ngIf="userData.isSuperUser" class="fa fa-star"></i>
                                            <strong> {{userRole}}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group userPrevilage col-12">
                                        <label for="">
                                            Work group:
                                        </label>
                                        <!-- <ul class="p-0">
                                            <li *ngFor="let workGroup of userData.workGroup" class="border-bottom m-1">
                                                <strong>{{workGroup.workGroupName}}</strong>
                                            </li>
                                        </ul> -->
                                        <span>
                                            <span class="workgroup-list"
                                                *ngFor="let workGroup of userData.workGroup">{{workGroup.workGroupName}}</span>
                                        </span>
                                    </div>

                                </div>



                            </div>






                        </div>



                    </div>
                    <div class="form-footer">
                        <input type="submit" class="btn btn-primary btn-sm" value="Update"
                            [class.disabled]="disableUpdate" />
                        <button type="button" class="btn btn-secondary btn-sm"
                            (click)="resetUserProfile()">Cancel</button>
                    </div>
                </form>

            </div>
        </ng-container>
    </div>
</div>
<!-- <ng-container *ngIf="pageView"> -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-muted" id="exampleModalLabel">
                    Change Password
                </h6>
                <i class="elm-cancel h5 text-muted" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <!-- Change Password  -->

                <form class="wrap-login" [formGroup]="changePasswordForm">
                    <div class="form-group wrap-input">
                        <input required formControlName="current_password" type="password"
                            placeholder="Current Password" class="form-control input" autocomplete="off" [inputPassword]= current_password.value #current_password/>
                        <span class="focus-input" data-placeholder="&#xf10d;"></span>
                            <span *ngIf="changePasswordForm.get('current_password').value !== ''" (click)="resetCurrentPassword()" class="clearField elm-delete"></span>
                    </div>
                    <div class="form-group wrap-input">
                        <input required formControlName="new_password" type="password" placeholder="New Password"
                            class="form-control input" autocomplete="off" (input)="onInput()"
                            [(ngModel)]="passwordStrength" (keyup)="onKey($event)" (keypress)=onKeyPress($event) [inputPassword]= new_password.value #new_password/>
                        <span class="focus-input" data-placeholder="&#xf10d;"></span>
                        <span *ngIf="changePasswordForm.get('new_password').value !== ''" (click)="resetNewPassword()" class="clearField elm-delete"></span>
                    </div>
                    <div class="form-group wrap-input">
                        <input required formControlName="confirm_password" type="password" onPaste="return false"
                            placeholder="Confirm Password" class="form-control input" autocomplete="off"
                            (input)="onInput()" [inputPassword]= confirm_password.value #confirm_password/>
                        <span class="focus-input" data-placeholder="&#xf10d;"></span>
                        <span *ngIf="changePasswordForm.get('confirm_password').value !== ''" (click)="resetConfirmPassword()" class="clearField elm-delete"></span>
                    </div>
                </form>
                <div class="change-pw">
                    <!--Upper Case-->
                    <h6><i
                            [ngClass]="{'red elm-cancel':(passwordStrength !='' && !checkUpperCaseLetter) || passwordStrength =='','green elm-checked': passwordStrength !='' && checkUpperCaseLetter}"></i>1
                        UPPER CASE</h6>
                    <!-- <h6 *ngIf="passwordStrength !='' && !checkUpperCaseLetter"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 upper case character</h6>
                <h6 *ngIf="passwordStrength !='' && checkUpperCaseLetter"><i class="elm-checked" [style.color]="'green'"></i>Must have at least 1 upper case character</h6>
                <h6 *ngIf="passwordStrength ==''"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 upper case character</h6> -->

                    <!--lower case-->
                    <h6><i
                            [ngClass]="{'red elm-cancel':(passwordStrength !='' && !checkLowerCaseLetter) || passwordStrength =='','green elm-checked': passwordStrength !='' && checkLowerCaseLetter}"></i>1
                        lower case</h6>
                    <!-- <h6 *ngIf="passwordStrength !='' && !checkLowerCaseLetter"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 lower case character</h6>
                <h6 *ngIf="passwordStrength !='' && checkLowerCaseLetter"><i class="elm-checked" [style.color]="'green'"></i>Must have at least 1 lower case character</h6>
                <h6 *ngIf="passwordStrength ==''"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 lower case character</h6> -->

                    <!--number-->
                    <h6><i
                            [ngClass]="{'red elm-cancel':(passwordStrength !='' && !checkNumberCharecter) || passwordStrength =='','green elm-checked': passwordStrength !='' && checkNumberCharecter}"></i>1
                        Number</h6>
                    <!-- <h6 *ngIf="passwordStrength !='' && !checkNumberCharecter"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 number character</h6>
                <h6 *ngIf="passwordStrength !='' && checkNumberCharecter"><i class="elm-checked" [style.color]="'green'"></i>Must have at least 1 number character</h6>
                <h6 *ngIf="passwordStrength ==''"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 number character</h6> -->

                    <!--Special Character-->
                    <h6><i
                            [ngClass]="{'red elm-cancel':(passwordStrength !='' && !checkSpecialCharecter) || passwordStrength =='','green elm-checked': passwordStrength !='' && checkSpecialCharecter}"></i>1
                        Special character</h6>
                    <!-- <h6 *ngIf="passwordStrength !='' && !checkSpecialCharecter"><i class="elm-cancel" [style.color]="'red'"></i>Must have  at least 1 special character</h6>
                <h6 *ngIf="passwordStrength !='' && checkSpecialCharecter"><i class="elm-checked" [style.color]="'green'"></i>Must have at least 1 special character</h6>
                <h6 *ngIf="passwordStrength ==''"><i class="elm-cancel" [style.color]="'red'"></i>Must have at least 1 special character</h6> -->

                    <!--minimum 8 Character-->
                    <h6><i
                            [ngClass]="{'red elm-cancel':((changePasswordForm.get('new_password').touched || changePasswordForm.get('new_password').dirty)&& changePasswordForm.get('new_password').hasError('minlength') && passwordStrength !='') || passwordStrength =='','green elm-checked': (changePasswordForm.get('new_password').touched || changePasswordForm.get('new_password').dirty) && !changePasswordForm.get('new_password').hasError('minlength') && passwordStrength !=''}"></i>Minimum
                        8 Characters</h6>
                    <!-- <h6 *ngIf="(changePasswordForm.get('new_password').touched || changePasswordForm.get('new_password').dirty)&& changePasswordForm.get('new_password').hasError('minlength') && passwordStrength !=''"><i class="elm-cancel" [style.color]="'red'"></i> Minimum of 8 character</h6>
                <h6 *ngIf="(changePasswordForm.get('new_password').touched || changePasswordForm.get('new_password').dirty) && !changePasswordForm.get('new_password').hasError('minlength') && passwordStrength !='' "><i class="elm-checked" [style.color]="'green'"></i>Minimum of 8 character</h6>
                <h6 *ngIf="passwordStrength ==''"><i class="elm-cancel" [style.color]="'red'"></i>Minimum of 8 character</h6> -->


                    <h6 *ngIf="passwordErrorMsg !=''"><i class="elm-cancel" [style.color]="'red'"></i>
                        {{passwordErrorMsg}}
                    </h6>
                </div>

                <div class="d-flex flex-column">
                    <password-strength-meter [password]="passwordStrength" (strengthChange)="onStrengthChange($event)"
                        [colors]>
                    </password-strength-meter>
                    <span class="h6 m-0 pull-right text-right" [style.color]="strengthColor">{{strengthContent}}</span>
                </div>
                <button class="btn btn-primary" (click)="ChangePassword(changePasswordForm)"
                    [disabled]="!changePasswordForm.valid">Submit</button>
            </div>
            <div class="modal-footer d-none">
                <button type="button" hidden="hidden" class="btn btn-secondary btn-sm" data-dismiss="modal"
                    #changePasswordWindoClose>Cancel</button>
            </div>

            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm"
                        data-dismiss="modal" (click)="changePassword()">Update
                        Password</button>
                </div> -->
        </div>
    </div>
</div>
<!-- </ng-container> -->