<div class="main-content">
  <div class="sub-sidebar">
    <ng-container *ngIf="onLoaded">
      <kl-menubar *ngIf="sideMenus" [valueProperty]="''" [displayProperty]="'name'" (addnew)="addNewUnit()"
        [menus]="sideMenus" (clickStatus)="handleUnitClick($event)"></kl-menubar>
    </ng-container>
  </div>
  <div class="sub-main-content-sb">
    <form #tagForm="ngForm" class="form-container">
      <div class="form-header">
        <h6 class="form-title">{{title}}</h6>
      </div>
      <div class="form-content">
        <div class="form-group col-6">
          <label for="name">Name <span class="color-red">*</span></label>
          <input type="text" name="name" #name="ngModel" placeholder="Name" autocomplete="off"
            [ngClass]="{ 'error' : name.invalid && name.touched }" class="form-control" required
            [(ngModel)]="selectedUnit.name" />
        </div>
        <div class="form-group col-6">
          <label for="description">Description <span class="color-red">*</span></label>
          <input type="text" class="form-control" name="description" placeholder="Description" autocomplete="off"
            #description="ngModel" [ngClass]="{ 'error' : description.invalid && description.touched }" required
            [(ngModel)]="selectedUnit.description" />
        </div>
        <div class="form-group col-6">
          <label for="type">Type <span class="color-red">*</span></label>
          <ng-select class="form-control" #type="ngModel" name="type" bindValue="time_slot_id"
            bindLabel="time_slot_value" [items]="list" placeholder=" Select Type" [(ngModel)]="selectedUnit.type"
            required>
          </ng-select>
        </div>
      </div>
      <div class="form-footer">
        <input type="submit" [disabled]="!tagForm.form.valid || disableBtn" class="btn btn-primary btn-sm"
          [value]="isUpdate == false?'Save':'Update'" (click)="accessLevel.create ? saveOrUpdateUnitLevel(): ''" />
        <input type="submit" class="btn btn-secondary btn-sm" value="Cancel" (click)="addNewUnit()" />
        <input type="submit" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#deleteModal"
          id="deleteModalButton" [ngClass]="{'d-inline-block':isUpdate,'d-none':!isUpdate}" value="Delete" />
      </div>
    </form>
  </div>
  <ng-container>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to delete <b>{{deleteTimeSlot}}</b> ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" id="dismissDelete" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
              (click)="accessLevel.delete ? deleteUnitLevel(): ''">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>