<ng-container>
  <div class="main-content">
    <div class="sub-sidebar">
      <kl-menubar *ngIf="isSideMenusFetched && !isUserRoleFromUserList" [menus]="sideMenus"
        [displayProperty]="'userRoleName'" [valueProperty]="''" (clickStatus)="onEditCheckNewMenus($event)"
        (addnew)="resetAccessLevelDataForm(accessLevelDataForm)">
      </kl-menubar>
    </div>
    <div class="sub-main-content-sb">
      <form name="form"
        (ngSubmit)="(addOrEditAccessLevel && accessLevelDataForm.form.valid) ? addAccessLevel(userAccess.user_role_id) : ''"
        #accessLevelDataForm="ngForm" class="form-container">

        <div class="form-header">
          <h6 class="form-title">
            {{title}}
          </h6>
        </div>
        <div class="form-content">
          <div class="col-6 d-inline-block p-0">
            <div class="form-group">
              <input hidden type="text" name="user_role_id" class="form-control" [(ngModel)]="userAccess.user_role_id"
                #user_role_id="ngModel" />
            </div>
            <div class="form-group">
              <label for="accessLevelDataName">Name <span class="color-red">*</span></label>
              <input placeholder="Name" type="text" name="accessLevelDataName" class="form-control " required
                [(ngModel)]="userAccess.userRoleName" #accessLevelDataName="ngModel" autocomplete="off" />
            </div>
            <div class="form-group">
              <label for="accessLevelDataDescription">Description</label>
              <textarea placeholder="Description" name="accessLevelDataDescription" class="form-control "
                [(ngModel)]="userAccess.userRoleDescription" #accessLevelDataDescription="ngModel"
                autocomplete="off"></textarea>
            </div>

            <div class="form-group">
              <label>Set Permission</label>
              <div class="d-flex align-items-center">
                <input type="checkbox" name="allowAll" [(ngModel)]="userAccess['isAllowAllPermissions']" id="allowAll"
                  (ngModelChange)="allowAllPermissions($event)">
                <label class="my-0 mx-2" for="allowAll">Allow / Deny All Permissions</label>
              </div>
            </div>
            <div class="accordion">
              <div *ngFor="let menu of menuList; trackBy: trackByFn; let i = index">
                <ng-container *ngIf="menu['isShowAccessLevel']">
                  <div class="card">
                    <div class="card-header" (click)="onClickCollapse(menu)">
                      <h6>
                        {{menu['name']}}
                      </h6>
                    </div>
                    <div class="card-body collapse-body" [hidden]="!menu.isCollapsed">
                      <div class="col-12">
                        <div class="col-6 d-inline-block">
                          <h6>Permission</h6>
                        </div>
                        <div class="col-3 d-inline-block text-center">
                          <h6>Allow</h6>
                        </div>
                        <div class="col-3 d-inline-block text-center">
                          <h6>Deny</h6>
                        </div>
                      </div>
                      <div class="col-12" *ngFor="let subKey of menu.accessLevel | keyvalue ; 
                          trackBy: trackByFn; let i = index">
                        <div>
                          <div class="col-6 d-inline-block">
                            <h6>{{subKey.key | titlecase}}</h6>
                          </div>
                          <div class="col-3 d-inline-block text-center">
                            <input type="radio" name="{{menu['id']}}{{subKey.key}}" [value]="true"
                              [(ngModel)]="subKey.value" (click)="handleRadioClick(menu, subKey.key, true)" />
                          </div>
                          <div class="col-3 d-inline-block text-center">
                            <input type="radio" name="{{menu['id']}}{{subKey.key}}" [value]="false"
                              [(ngModel)]="subKey.value" (click)="handleRadioClick(menu, subKey.key, false)" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

          </div>
        </div>
        <div class="form-footer">
          <input type="submit" [value]="isUpdate == false ? 'Save' : 'Save'" class="btn btn-primary btn-sm"
            [class.disabled]="(!accessLevelDataForm.form.valid) || disableSave" />
          <input type="button" class="btn btn-secondary btn-sm" value="Cancel"
            (click)=resetAccessLevelDataForm(accessLevelDataForm) />
          <!-- <ng-container *ngIf='showDeleteBtn'>
            <input type="button" name="deleteButton" class="btn btn-primary float-right" value="Delete"
              data-toggle="modal" data-target="#accessLevelDeleteModal" id="deleteModalButton"
              [class.disabled]='disableDelete' />
          </ng-container> -->
        </div>
      </form>
    </div>
  </div>
</ng-container>

<!-- Modal for Delete Confirmation -->
<ng-container>
  <div class="modal fade" id="accessLevelDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          Are you sure you want to delete the Access Level <b>{{userAccess.userRoleName}}</b>?
        </div>

        <div *ngIf='allowDeleteAccessLevel; else OkayBtn' class="modal-footer">
          <button type="button" class="btn btn-secondary" id="dismissDelete" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="allowDeleteAccessLevel ? deleteAccessLevelData() : ''">Yes</button>
        </div>
        <ng-template #OkayBtn>
          <button type="button" class="btn btn-secondary" id="dismissDelete" data-dismiss="modal">Close</button>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
<!-- Modal for Delete Confirmation ends -->