<!-- <div class="widget-box">
          <ul class="steps">
            <li *ngFor="let step of data; let i=index" (click)="onclick(step, i)" (change)="emitdata(step,i)"
              [ngClass]="{'active': step.active}" class="cursor">
              <a>
                <span class="step">{{step.stepnumber}}</span>
                <span class="title"><strong>{{step.label}}</strong></span></a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
 -->
<div class="header-container justify-content-center">
  <div class="steps steps-" [ngClass]="{'mt-10 mb-10 pt-10 pb-10': settings.showHrLine}" role="tablist">
    <ul>
      <ng-container *ngFor="let step of data; let i=index">
        <li *ngIf="step['show']==undefined || step['show']" (click)="onclick(step, i)" (change)="emitdata(step, i)"
          [ngClass]="{'active': step.active, 'disableWizardStep': !step.active}" class="step">
          <a class="step-trigger">
            <!-- <span class="step-indicator step-indicator-icon"><i class="oi oi-account-login"></i></span>  -->
            <span class="d-none d-sm-inline">{{step.label}}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>