<div class="tile-content">
    <table id='myTable' class="table table-borderless">
      <thead>
        <th *ngFor='let trValue2 of tr2;trackBy:track' title="{{trValue2}}">{{trValue2}}</th>
      </thead>
      <tbody *ngFor='let trValue of tr1;let j = index;trackBy:track'>
        <tr>
          <td *ngFor='let trValue2 of tr2;let i = index;trackBy:track' title="{{trValue2 !== 'Performance'?trValue[trValue2]:trValue[trValue2].value}}">
           <span *ngIf="!(trValue2 === 'Performance' && trValue[trValue2].isArrow)">{{trValue2 !== 'Performance'?trValue[trValue2]:trValue[trValue2].value}}</span>
           <span *ngIf="trValue2 === 'Performance' && trValue[trValue2].isArrow" 
           class="mr-2" [ngClass]="getColorDifference()">
           <i class="fa" 
           [ngClass]="{'fa-caret-up':isPositive, 'fa-caret-down':!isPositive}">
          </i>&nbsp;{{trValue2 !== 'Performance'?trValue[trValue2]:trValue[trValue2].value}}  
        </span>
          </td>
        </tr>
      </tbody>
    </table>
</div>
