tr.tr-bg-disable {
    background-color: #EBEBE4;
    .disabled {
        pointer-events: none;
    }
}

tr.tr-bg-enable {
    background-color: #ffffff;
    .enable {
        pointer-events: all;
    }
}