<div [ngClass]="{'table-responsive-sm' : styling.responsiveNess}">
   <!-- <cdk-virtual-scroll-viewport style="height: 100%; width: 100%" itemSize="25"
    minBufferPx="350" maxBufferPx="400">  -->
  <cdk-virtual-scroll-viewport style="height: calc(100vh - 430px); width: calc(100vw - 442px);" itemSize="25" minBufferPx="350" maxBufferPx="400">
    <table class="table" [ngClass]="styling.tableClass">
      <thead [ngClass]="styling.theadClass">
        <tr>
          <th *ngIf="settings.selectRecords">
            <input id="kl_grid_mainCheckbox" type="checkbox" [checked]="isGridSelectAll" (click)="selectUnnselectAllRecords($event, isGridSelectAll)">
          </th>
          <th *ngFor="let column of columns.columnOrder">
            {{columns.columnData[column].label}}
            <ng-container *ngIf="settings.columnLevelSearch">
              <input *ngIf="columns.columnData[column].search" class="col-12" type="text">
              <input *ngIf="!columns.columnData[column].search" disabled class="col-12" type="text">
            </ng-container>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- cdkVirtualFor -->
        <tr *cdkVirtualFor="let row of data; let ind = index;" [ngClass]="{'tr-bg-disable' : (settings.disableRecords || !row.isChecked), 'tr-bg-enable' : (!settings.disableRecords || row.isChecked) }">
          <td *ngIf="settings.selectRecords">
            <input type="checkbox" [(ngModel)]="row.isChecked" [checked]="row.isChecked" (click)="selectUnselectRecord(row.isChecked, ind)">
          </td>
          <td *ngFor="let column of columns.columnOrder" [ngClass]="{'disabled' : (settings.disableRecords || !row.isChecked), 'enable' : (!settings.disableRecords || row.isChecked)}" data-toggle="tooltip" [attr.data-placement]="columns.columnData[column].tooltip.placement" title="{{row[columns.columnData[column].tooltip.key]}}">
            <!-- {{row[column]}} -->
            <ng-container *ngIf="!row.isChecked">
              <ng-container *ngIf="row[columns.columnData[column].value]">{{row[columns.columnData[column].value]}}</ng-container>
              <ng-container *ngIf="!row[columns.columnData[column].value]">{{row[column]}}</ng-container>
            </ng-container>
            <ng-container *ngIf="row.isChecked">
              <ng-container [ngSwitch]="columns.columnData[column].cell.cellType">
                  <ng-container  *ngSwitchCase="'text'">
                      <ng-container *ngIf="row[columns.columnData[column].value]">{{row[columns.columnData[column].value]}}</ng-container>
                      <ng-container *ngIf="!row[columns.columnData[column].value]">{{row[column]}}</ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'dropdown'">
                    <select [(ngModel)]="row[column]" class="col-12" name="{{row[column]}}_{{ind}}" (change)=dropDownChange($event,column,row)>
                      <option *ngFor="let dropdownData of columns.columnData[column].cell.cellData" value="{{dropdownData['value']}}">{{dropdownData['label']}}</option>
                    </select>
                  </ng-container>
                  <ng-container *ngSwitchCase="'input'">
                    <input type="{{columns.columnData[column].cell.accept}}" [(ngModel)]="row[column]" name="{{row[column]}}_{{ind}}">
                  </ng-container>
                  <ng-container *ngSwitchDefault>{{row[column]}}</ng-container>
              </ng-container>
            </ng-container> 
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport> 
</div>
<div class="col-12 mt-3">
    <div class="float-right">
      <button type="submit" style="margin-left: 10px;" class="btn btn-primary" (click)="saveGrid()">
        Submit Manual Entry
      </button>
      <button style="margin-left: 10px;" class="btn btn-inverse btn-secondary" (click)="cancelGrid()">
        Cancel
      </button>
    </div>
  </div>