// //common-css
// .scroll{
//   height: calc(100vh - 16rem);
//   overflow-y: auto;
//   width:98%;
// }
// .device-box{
//   text-align: center;
//   font-size: 0.7rem;
//   height: 100px;
//   width: 110px;
//   margin: 5px;
//   padding-top: 10px;
//   background: #fff;
// }
// .device-box:hover{
//   background: #f8f9fa;
// }
// .device-icon-circle{
//   margin-left : 40px;
//   padding: 5px;
//   width: 33px;
//   height: 33px;
//   border-radius: 50%;
//   background:#fff;
// }
// .btn-custom-sm{
//     font-size: 0.7rem;
//     line-height: .75;
// }
// //common-css

// .dropdown-toggle::after {
//   display:none;
// }

// .cursor{
//   cursor: pointer;
//   }
//   .custom {
//     width: 250px !important;
//     height: 250px !important;
//     right: 0;
//     left: initial !important;
// }

// .cdk-drag-placeholder {
//   opacity: 0;
// }


// $backgroundColor1:#333;
// $backgroundColor2:#fff;
// $backgroundColor3: #CCC;



// .delete{
//     background-color: $backgroundColor1;
// }
// .enable{
//     background-color: $backgroundColor2;
// }
// .disable{
//     background-color: $backgroundColor3;
// }
// .deletedisable{
//     background-color: $backgroundColor1;

// }

.grid-container
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
@media (min-width: 576px)
{
.col-sm-6 {
-webkit-box-flex: 0;
flex: 0 0 calc(50% - 10px);
max-width: calc(50% - 10px);
}
}
@media (min-width: 768px)
{
.col-md-4 {
-webkit-box-flex: 0;
flex: 0 0 calc(33.33333333% - 10px);
max-width: calc(33.33333333% - 10px);
}
}
@media (min-width: 992px)
{
.col-lg-3
{
-webkit-box-flex: 0;
flex: 0 0 calc(25% - 10px);
max-width: calc(25% - 10px);
}
}

@media (min-width: 1200px)
{
  .col-xl-2 {
-webkit-box-flex: 0;
flex: 0 0 calc(20% - 10px);
max-width: calc(20% - 10px);
}
}

.card
{
  min-width: calc(20% - 10px);
  margin: 5px;
  padding: 7px;
  // height: 75px;
  border: none;
    border-top: 2px solid transparent;
    &.active
    {
      border-color:var(--brandGreen); 
    }
    &.inactive
    {
      border-color: var(--brandRed);
    }
    &.disable
    {
      border-color: var(--brandDarkGray);
    }
    .device-title
    {
      font-size:15px;
      white-space: nowrap;
      width: 186px;
      margin: auto;
      overflow: hidden;
    }
    .dropdown
    {
      visibility: hidden;
    }
    &:hover,&:focus
    {
      .dropdown
      {
        visibility: visible;
      } 
    }
  .card-header
  {
    padding: 0px;
    .card-title-container
    {
      display: flex;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .card-title
      {
        float: left;
        width: calc(100% - 45px);
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;

      }

    }
  }

  }
}

.title-bottom
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      height: 20px;
      .ip-container
      {
        position: relative;
        .ip
        {
          // color: var(--blue);
        }
        
      &:hover,&:focus
      {
        .subtext
        {
          visibility: visible;
        }
        a
        {
          // text-decoration: underline;
        }                
      }
      }
      .mac-container
      {
        position: relative;
        // border-left: 3px solid var(--brandPrimaryBlue) !important;
        // border: 1px solid #c1d4de;
        // background: #f4f8f9;
        padding: 0 4px 1px 0px;
        line-height: 15px;
        white-space: nowrap;
        font-weight: 100;
        text-overflow: ellipsis;
        // overflow: hidden;
        white-space: nowrap;
        a
        {

        }
        .subtext
      {
        transform: translateX(-60%) !important;
        bottom: -32px !important;
      }
        &:focus,&:hover
        {
          .subtext
          {
            visibility: visible;
          }
        }  
      }
      .subtext
      {
        visibility: hidden;
        // width: 6rem;
        text-align: center;
        padding: 5px 10px 5px 10px;
        border-radius: 0;
        bottom: -30px;
        left: 50%;
        position: absolute;
        z-index: 3;
        font-size: 0.75rem;
        white-space: nowrap;
        transform: translateX(-40%);
      }
      .subtext::after {
        content: " ";
        position: absolute;
        top: -10px;
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #234875 transparent;
    }
    }


// .body-container
// {
//  max-height: calc(100% - 60px);
// }
.elm-device-container
{
    padding: 10px;
    margin: 10px auto;
}

.dropdown-toggle::after
{
    display: none;
}
.elm-device-container
{
    background-color: var(--secondary);
    min-height: 100%;

}

.btn
{
  min-width: 40px;
}
.overflow-device-name
{
  max-width:150px;
  overflow: hidden; 
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-group
  {
    .form-control
    {
      height: 30px !important;
      font-size: 13px !important;
      background: transparent !important;
      box-shadow: none !important;
      color: #75777b;
      border: none;
      border-bottom: 1px solid #c6c9d5;
      border-radius: 0px;
      width: 186px;
      padding: 0px !important;
      margin: 0 auto;
    &:focus
    {
      border-bottom-color: #75777b !important;
    border-radius: 0px;
    }
    }
  }

@media screen and (max-width: 768px) 
{
  .card.devices
  {
    width: 45%;
  }
}
.noMatches{
  display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 292px;
    height: 50px;
    margin: auto;
    color: black;
    font-size: 25px;
    font-weight: bold;
}