<kl-serviceloader></kl-serviceloader>
<div class="gateway-body-container">
  <!-- <div class="row header-container">
    <div class="col-8 col-md-2">
      <div class="form-group m-0 search-group">
        <input type="search" [(ngModel)]="queryString" class="form-control p-0 m-0" placeholder=' &#xF002; Search'
          style="font-family:Arial, FontAwesome">
      </div>
    </div>
    <div class="col-8 col-md-2">
      <button type="button" class="btn-group p-0" role="group">
        <button type="button" class="btn btn-secondary active shadow-none">Sensors</button>
        <button type="button" class="btn btn-secondary text-primary" (click)="allDevices('All')" data-toggle="tooltip"
          data-placement="bottom" title="All Sensor">{{devices.deviceCount}}</button>
        <button type="button" class="btn btn-secondary text-success" (click)="allDevices('active')"
          data-toggle="tooltip" data-placement="bottom" title="Active">{{devices.activeDeviceCount}}</button>
        <button type="button" class="btn btn-secondary text-danger" (click)="allDevices('inactive')"
          data-toggle="tooltip" data-placement="bottom" title="Inactive">{{devices.inactiveDeviceCount}}</button>
        <button type="button" class="btn btn-secondary text-dark" *ngIf="devices.deleteCount > 0"
          (click)="allDevices('delete')" data-toggle="tooltip" data-placement="bottom"
          title="Deleted">{{devices.deleteCount}}</button>
        <button type="button" class="btn btn-secondary text-secondary" *ngIf="devices.disableCount > 0"
          (click)="allDevices('disable')" data-toggle="tooltip" data-placement="bottom"
          title="Disabled">{{devices.disableCount}}</button>
      </button>
    </div>   
  </div> -->
  <div class="grid-container m-0">
    <!-- <ng-container *ngFor="let eachDevice of devices"> -->
    <div class="row m-0 w-100">
      <div class="noMatches" *ngIf="(devices | DeviceSearchComponent: queryString).length === 0 && this.isSearched">
        No sensors found
      </div>
      <ng-container
        *ngFor="let device of devices | DeviceSearchComponent: queryString | slice:deviceForward:deviceBackword;let lastcall = last">
        <span *ngIf="lastcall">{{stopLoader(lastcall)}} </span>
        <div class="card devices widget-flat {{device.status}} col-sm-6 col-md-4 col-lg-3 col-xl-2"
          [ngClass]="{'delete':device.isdeleted === 'true','disable':device.isdisabled === 'true','enable':device.isdisabled === 'false' &&  device.isdeleted === 'false','deletedisable':device.isdeleted === 'true' && device.isdisabled === 'true'}"
          *ngIf="device.show">
          <div class="card-header border-0">
            <div class="card-title-container">
              <h6 class="card-title m-0 devicetitle-with-icon" title="{{device.device_name}}">
                <a (click)="accessLevelDevice.edit ? onDeviceClick(device.device_instance_id) : return">
                  {{device.device_name}}
                </a>
                <!-- <h6 class="text-muted font-weight-normal mt-0" title="Number of Customers">{{device.device_com_id}}</h6> -->
              </h6>
              <div class="dropdown float-right m-0">
                <i aria-hidden="true" class="elm-menu-vertical dropdown-toggle cursor" data-toggle="dropdown"></i>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                    (click)="accessLevelDevice.edit ? onDeviceClick(device.device_instance_id) : return">Edit</a>
                  <a class="dropdown-item"
                    (click)="onDeviceEnableDisable(device.device_instance_id,device.isdisabled)">{{device.disabled}}</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#deleteSensor"
                    (click)="getSensorValues(device.device_instance_id,device.isdeleted,device.device_name)">{{device.deleted}}</a>
                  <a class="dropdown-item cursor" data-toggle="modal" data-target="#device_id"
                    (click)="getSelectedDeviceInfo(device.protocolcategory,device,device.gateway_instance_id)">Move
                    To Gateway</a>
                </div>
              </div>
            </div>
            <div class="title-bottom">
              <div class="ip-container">
                <a class="ip">
                  {{device.device_model_name}}
                </a>
                <span class="subtext">Model Name</span>
              </div>
              <div class="mac-container">
                <a>
                  {{device.device_com_id}}
                </a>
                <span class="subtext">COM ID</span>
              </div>
            </div>
            <!-- <h5 class="mt-3 mb-3 device-title overflow-device-name pointer" data-toggle="tooltip" data-placement="right"
            title="{{device.device_name}}"  (click)="accessLevelDevice.edit ? onDeviceClick(device.device_instance_id) : return">{{device.device_name}}</h5>
          <p class="mb-0 text-muted">
            <span class="text-nowrap">{{device.device_model_name}}</span>
          </p> -->
          </div>
        </div>

        <!-- </ng-container> -->
      </ng-container>
    </div>

    <div class="card d-flex align-items-center" *ngIf="showDevices" (click)="loadMoreSensors()">
      <div class="card-body d-flex align-items-center flex-column text-center text-muted p-0">
        <h6 class="device-title text-muted d-flex align-items-center">Load More <i
            class="elm-forward-2 h1 text-muted m-0"></i></h6>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="device_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-muted">Move To Gateway</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for='name' class="col-sm-3 col-form-label">Gateway Name*</label>
          <div class="col-sm-9" *ngIf="matchedGateways">
            <ng-select [items]="matchedGateways" bindLabel="gatewayname" bindValue="gateway_instance_id"
              placeholder="Select Gateway" [searchable]="true" [clearable]="true" [selectOnTab]="true"
              (change)="selectOption(gatewayChange)" [(ngModel)]="gatewayChange">
              <ng-template ng-label-tmp let-item="item">
                <i class="gatewaytitle-with-icon pr-2"></i>
                <span>{{item.gatewayname}}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <i class="gatewaytitle-with-icon pr-2"></i>
                <span>{{item.gatewayname}}</span>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label for='deviceid' class="col-sm-3 col-form-label">Sensor Id *</label>
          <div class="col-sm-9">
            <input type="text" placeholder="Enter Device ID" class="form-control" autocomplete="false"
              [(ngModel)]="deviceId" name="deviceid" />
          </div>
        </div>
        <div class="form-group row">
          <label for='devicename' class="col-sm-3 col-form-label">Sensor Name *</label>
          <div class="col-sm-9">
            <input type="text" placeholder="Enter Device Name" class="form-control" autocomplete="false"
              [(ngModel)]="deviceName" name="devicename" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" hidden="hidden" class="btn btn-secondary" data-dismiss="modal"
          #deviceclose>Cancel</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="MoveToGateway()">
          <span *ngIf="isSensorMoving">Move</span>
          <span *ngIf="!isSensorMoving" class="loader-custom btn-loader d-inline-block"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteSensor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to delete <b>{{sensorNameToDelete}}</b> ?
      </div>
      <div class="modal-footer">
        <!-- (click)="confirmdelete()" -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"
          (click)="accessLevelDevice.delete ? onDeviceDelete(deleteSensorId,deleteSensorValue) : '' "
          data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>