<div *ngIf="inputData">
  <div class="col-12 p-0">
    <div class="search-group search-group-sm w-100" tabindex="1">
      <span class="fa fa-search search-icon">

      </span>
      <input type="search" [(ngModel)]="inputData.searchVal" placeholder="Search" class="search-input"
        aria-label="Small" aria-describedby="inputGroup-sizing-sm" (ngModelChange)="filteredData = []">
    </div>
  </div>
  <div class="col-12 p-0" [hidden]="isCheckBox">
    <button class="btn btn-link btn-sm px-0" (click)="selectAllList(inputData)">Select All</button>
    <button class="btn btn-sm btn-link" (click)="deselectAllList(inputData)">Deselect All</button>
  </div>
  <div class="col-12 p-0"
    [hidden]="!(inputData.searchVal != undefined && !isCheckBox && inputData.searchVal != '' && filteredData.length > 0)">
    <button class="btn btn-link btn-sm" [hidden]="inputData['isFilteredDataSelected']"
      (click)="selectDeselectAllFilteredList(!isFilteredDataSelected)">Select All Filtered Data</button>
    <button class="btn btn-link btn-sm" [hidden]="!inputData['isFilteredDataSelected']"
      (click)="selectDeselectAllFilteredList(!isFilteredDataSelected)">Deselect All Filtered Data</button>
  </div>
  <div class="col-12 mt-2 p-0">
    <!-- <cdk-virtual-scroll-viewport itemSize="15"  class="example-viewport"> -->
    <div style="overflow: auto;height: 300px;">
      <div
        *ngFor="let checkBoxItem of inputData.list | search: ['label'] : inputData.searchVal : filteredData; index as i;trackBy:track">
        <label class="checkbox-container">{{checkBoxItem.label}}
          <input type="checkbox" [(ngModel)]="checkBoxItem['checked']" (change)="modelChange($event,checkBoxItem)">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <!-- </cdk-virtual-scroll-viewport> -->

    <!-- <div class = "">
        <ul> -->
    <!-- defining height for outer-container of *lazyFor is mandatory to display the data -->
    <!-- <li *lazyFor="let checkBoxItem of inputData.list | search: ['label'] : inputData.searchVal : filteredData; index as i" class="d-flex align-items-center pb-2">
              <input type="checkbox" [(ngModel)]="checkBoxItem['checked']" (change)="modelChange($event,checkBoxItem)" class="checkbox">
 
              <span class="checkbox-container pl-3">{{checkBoxItem.label}}</span>
                   <span class="checkmark"></span>                   
            </li>
        </ul>
    </div> -->


  </div>
</div>