<div class="main-content">
  <div class="sub-main-content">
    <form #gateway_form="ngForm" class="form-container bg-white">
      <div class="form-header">
        <h5 class="form-title">{{title}}</h5>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-lg-12">

            <div class="form_height">
              <div class="row ">
                <div class="col-lg-5">
                  <div class="form-item">
                    <label class="control-label text-right">Profile Name <span class="color-red">&nbsp;*</span></label>
                    <div>
                      <input class="form-control " type="text" name="profile_name" placeholder="Enter Profile Name"
                        autocomplete="off" [(ngModel)]="gatewayform.profile_name" [required]="true" #name="ngModel">
                    </div>
                  </div>
                  <div class="form-item">
                    <label class="control-label text-right">URL <span class="color-red">&nbsp;*</span></label>
                    <input class="form-control " type="url" name="url"
                      placeholder="Formate: www.elmeasure.com (or)  www.elmeasure.in (or) elmeasure.com (or) elmeasure.in"
                      [(ngModel)]="gatewayform.url" [required]="true" autocomplete="off">
                  </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                  <!-- <div class=""><b> Parameter Reference</b></div> -->
                  <div class="form-item">
                    <label class="control-label text-right">For Mobile Number <span
                        class="color-red">&nbsp;*</span></label>
                    <div>
                      <input class="form-control " type="text" name="phone_param"
                        placeholder="Enter Mobile Number Parameter" [(ngModel)]="gatewayform.phone_param"
                        [required]="true" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-item">
                    <label class="control-label text-right">For Message <span class="color-red">&nbsp;*</span></label>
                    <div>
                      <input class="form-control " type="text" name="message_param"
                        placeholder="Enter Message Parameter" autocomplete="off" [(ngModel)]="gatewayform.message_param"
                        [required]="true">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-item border-bottom py-3 " (click)="addparameter()">
                <h6 class="form-title">Add Parameter <i class="elm-add-2"></i></h6>
              </div>
              <div>
                <div class="add_param_height">
                  <div *ngFor="let parameter of gatewayform.add_parameter; let ind = index">
                    <div class="row form-item">
                      <div class="col-lg-5">
                        <label class="control-label text-right">Parameter Name <span
                            class="color-red">&nbsp;*</span></label>
                        <div>
                          <input type="text" class="form-control " name="parameter_name_{{ind}}" required
                            autocomplete="off" [(ngModel)]="gatewayform.add_parameter[ind].param_name"
                            placeholder="Parameter Name">
                        </div>
                      </div>
                      <div class="col-lg-1"></div>
                      <div class="col-lg-5">
                        <label class="control-label text-right">Parameter Value <span
                            class="color-red">&nbsp;*</span></label>
                        <div>
                          <input type="text" name="parameter_value_{{ind}}" class="form-control" required
                            autocomplete="off" [(ngModel)]="gatewayform.add_parameter[ind].param_value"
                            placeholder="Parameter Value">
                        </div>
                      </div>
                      <div class="col-lg-1 d-flex align-items-end">
                        <button title="delete parameter" (click)="delete_parameter(ind)"
                          class="btn btn-secondary btn-sm">
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <!-- <div class="float-right">
                <button type="button" (click)="cancel_gateway()" class="btn btn-danger">Cancel</button>
              </div> -->
              <!-- <div class="float-right">
                <button type="button" class="btn btn-info" data-target="#sendsms" data-toggle="modal" [disabled]="!gateway_form.form.valid"
                  (click)="validate_form()">Send test sms<img *ngIf="!sending_sms" class="but-loader" src="assets/images/button_loader.gif"></button>
              </div> -->
              <!-- <div class="float-right"> -->
              <!-- (click)="save_gateway()" -->
              <!-- <button type="submit" (click)="accessLevel.create ? save_gateway(): return" class="btn btn-primary"
                  [disabled]="!gateway_form.form.valid || disableBtn">Save<img *ngIf="!submitting_smsgateway" class="but-loader"
                    src="assets/images/button_loader.gif"></button>
              </div> -->
            </div>

          </div>
          <!-- <div *ngIf="!pageLoaded">
          <div id="loader-wrapper-submaincontent">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div> -->
        </div>
      </div>
      <div class="form-footer">
        <button type="button" (click)="cancel_gateway()" class="btn btn-secondary btn-sm">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" data-target="#sendsms" data-toggle="modal"
          [disabled]="!gateway_form.form.valid" (click)="validate_form()">Send SMS</button>
        <button type="submit" (click)="isPermission ? save_gateway(): '' " class="btn btn-primary btn-sm"
          [disabled]="!gateway_form.form.valid || disableBtn">Save</button>
        <!-- return -->
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div *ngIf="(formvalid === true)" class="modal fade" id="sendsms" tabindex="-1" role="dialog"
  aria-labelledby="smsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="smsModalLabel">Test sms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modal-body" #sms_form="ngForm">
        <div>Enter mobile number to send test sms <span class="color-red">&nbsp;*</span></div>
        <div>
          <input type="number" [(ngModel)]="smsform.number" name="mobile_number" autocomplete="off" pattern="[0-9.]+"
            min="0">
        </div>
        <label>
          Message
        </label>
        <div>
          <textarea type="text" [(ngModel)]="smsform.message" name="message" autocomplete="off" rows="3"></textarea>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- (click)="sendsms()" -->
        <button type="button" class="btn btn-primary" (click)="isPermission ? sendsms(): return"
          [disabled]="!sms_form.form.valid" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>