<div class="breadcrumb-content">
  <div class="breadcrumb-title">
    <div
      class="breadcrumb-left button-group-container d-flex justify-content-left align-items-center align-center m-0 border-0">
      <span class="header-title">
        <i class={{breadCrumbIcon}}></i>
        <span>{{breadCrumbLabel}}</span>
      </span>
      <i *ngIf="pageType == 'alarmEvents'" class="fa fa-angle-double-right ng-star-inserted pl-2 pr-1"></i>
      <div *ngIf="pageType == 'alarmEvents'"
        class="dropdown select-gateway-title border d-inline ng-star-inserted px-1">
        <button class="btn btn-secondary dropdown-toggle header-title shadow-none padding-right-0 border-0 px-0 py-0"
          type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          [disabled]="isBusy">
          {{alarmConfiguration.type}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let item of alarmConfiguration.alarmTypes"
            (click)="onAlarmFiltersChange('type', item)">
            {{item.label}}
          </a>
        </div>
      </div>
    </div>

    <div class="breadcrumb-right d-flex" *ngIf="pageType == 'alarmEvents'">
      <div class="inner-fiter-container">
        <ul class="filter-menus">
          <ng-container *ngFor="let item of alarmConfiguration.alarmStatus, let i = index">
            <li class="my-0" (click)="!isBusy ? statusFilter.click():''"
              (mouseover)="onMouseOverFilters('status', item)"
              [ngClass]="{'active':item.isActive, 'not-allowed':item.isNotAllowed}">
              <i
                [ngClass]="{'elm-reset continues':(isBusy&&(currentClickedItem==item.label)), 'elm-checked-2':!(isBusy&&(currentClickedItem==item.label))}"></i>
              <input type="checkbox" style="display: none" (change)="onAlarmFiltersChange('status', item)"
                [(ngModel)]="item.isActive" name="{{i}}" #statusFilter>
              {{item.label}}
            </li>
          </ng-container>
        </ul>
        <ul class="filter-menus">
          <ng-container *ngFor="let item of alarmConfiguration.alarmAcknowledgement, let i = index">
            <li class="my-0" (click)="!isBusy ? ackFilter.click():''"
              (mouseover)="onMouseOverFilters('acknowledgement', item)"
              [ngClass]="{'active':item.isActive, 'not-allowed':item.isNotAllowed}">
              <i
                [ngClass]="{'elm-reset continues':(isBusy&&(currentClickedItem==item.label)), 'elm-checked-2':!(isBusy&&(currentClickedItem==item.label))}"></i>
              <input type="checkbox" style="display: none" (change)="onAlarmFiltersChange('acknowledgement', item)"
                [(ngModel)]="item.isActive" name="{{i}}" #ackFilter>
              {{item.label}}
            </li>
          </ng-container>
        </ul>



      </div>
      <!-- priority list filter -->
      <div class="filter-menus" [ngClass]="{'d-none':!(alarmConfiguration.type == 'Alarm')}">
        <angular2-multiselect [data]="alarmConfiguration.alarmPriorityList"
          [(ngModel)]="alarmConfiguration.priorityList" [settings]="priorityListSettings" class="form-control"
          (onOpen)="onPriorityOpen()" (onClose)="onPriorityClose()" (onDeSelectAll)="onClearPriorities($event)"
          (onDeSelect)="onDeselectEachPriority($event)" (onSelect)="onDeselectEachPriority($event)">
        </angular2-multiselect>
        <span *ngIf="alarmConfiguration.type == 'Alarm'" class="button-in-multi-select"
          [ngStyle]="{'display':!isPriorityOpen ? 'none':''}">
          <button *ngIf="alarmConfiguration.alarmPriorityList.length != 0"
            [disabled]="alarmConfiguration.priorityList.length == 0"
            [ngClass]="{'not-allowed':alarmConfiguration.priorityList.length == 0}"
            (click)="onAlarmFiltersChange('priority',alarmConfiguration.priorityList)">Apply</button>
        </span>
      </div>
      <kl-pin-filter class="d-flex align-items-center"></kl-pin-filter>
    </div>
  </div>
  <div class="placeholder">
  </div>
</div>