.breadcrumb-left
{
    width: 350px;
    display: inline-block;
}
.breadcrumb-left > *
{
 vertical-align: middle;
 white-space: nowrap;

}
.breadcrumb-right
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100%  - 350px);
    .inner-fiter-container
    {
        display: flex;
        align-items: center;
        max-width: calc(100% - 45px - 140px);
        overflow-x: auto;
        margin-right: 8px;
        &::-webkit-scrollbar {
            display: none;
        }
        .filter-menus:last-child
        {
            margin: 0 8px 0px 0px !important;
        }
    }
}
.header-title
{
    font-size: 20px;

}
.filter-menus
{
    margin: 0px 16px 0px 0px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: nowrap;

    & > li
    {
        pointer-events: auto;
        margin-left: 4px;
        margin-right: 0px;
        &:first-child
        {
            margin-left: 0px;
        }
        cursor: pointer;
        i
        {
            font-size: 20px;
            height: 20px;
            width: 20px;
            line-height: 20px;
        }
       
    }
&::after
{
    content: '';
    position: absolute;
    right: -8px;
    height: calc(100% - 8px);
    top: calc(4px);
    width: 2px;
    background: #ddd;
}
}
.button-in-multi-select
{
    position: absolute;
    z-index: 9999;
    top: 280px;
    button
    {
        border: none;
        box-shadow: none;
        outline: none;
        height: 33px;
        min-height: 33px;
        border: none;
        padding: 0px 7px;
        min-width: 140px;
        font-size: 14px;
        align-items: center;
        background: var(--brandPrimaryBlue);
        color: #f9f9f9;
        box-shadow: transparent;
        white-space: nowrap;
        transform: scale(1);
        font-weight: 500;
        outline: none;
        &[disabled] {
            background: lighten(#1a73e8, 10);
            cursor: not-allowed;
        }
    }
}
.not-allowed {
    cursor: not-allowed !important;
}
@media screen and (max-width: 768px) {
 .inner-fiter-container,.filter-menus
 {
     display: none !important;
 } 
 .breadcrumb-left
 {
     width:calc(100% - 45px);
     text-overflow: ellipsis;
     white-space: nowrap;
     span.header-title > span, span.header-title + i.fa-angle-double-right
     {
        display: none;
     }
 }
}