<div class="card" *ngIf="widgetInfo" [ngClass]="{'expandWidgetFullScreen': expandWidget,
                   'table':widgetInfo.cType === 'table' && !widgetInfo.isMap,
                   'map':widgetInfo.cType === 'bar' && widgetInfo.isMap}">
  <div class="card-header border-0"
    [ngClass]="{owner: dashboardInfo.isOwner,'with-live-header':(widgetInfo.wcType === 'live' && widgetInfo.cTypeLabel!='Harmonics' || widgetInfo.isAlarmFilter || widgetInfo.isModeBus)}">
    <div class="card-left">
      <h6 class="card-title text-truncate" *ngIf="widgetInfo.isTitleShow" title="{{ widgetInfo.title }}">
        {{ widgetInfo.title }}
      </h6>
      <div class="card-subtitle text-truncate" *ngIf="widgetInfo.wcType !== 'live'">
        <a class="datespan" [ngClass]="{'isEnabled':isLoading}" [style.cursor]="isLoading?'not-allowed':'pointer'"
          *ngIf="!widgetInfo.cData.chartOptions.filter.isCustom && widgetInfo.cData.chartOptions.autoRefreshType !== 'realTime'&& !widgetInfo.isAlarmFilter && !widgetInfo.isModeBus"
          (click)="!isLoading?showDropdownValues($event):''" title="Change Time Period">
          <!-- <i class="fa fa-calendar-alt"></i> -->
          {{widgetInfo.cData.chartOptions.filter.timeRangeLabel}}
        </a>
        <a class="datespan" [ngClass]="{'isEnabled':isLoading}" [style.cursor]="isLoading?'not-allowed':'pointer'"
          *ngIf="widgetInfo.cData.chartOptions.filter.isCustom && widgetInfo.cData.chartOptions.autoRefreshType !== 'realTime'&& !widgetInfo.isAlarmFilter"
          (click)="!isLoading?showDropdownValues($event):''" title="Change Time Period">
          <!-- <i class="fa fa-calendar-alt"></i> -->
          {{widgetInfo.cData.chartOptions.filter.custom.fromDisp | FormatDate : widgetInfo.cData.chartOptions.format }}
          -{{widgetInfo.cData.chartOptions.filter.custom.toDisp | FormatDate : widgetInfo.cData.chartOptions.format }}
        </a>
        <!-- <a class="datespan text-muted" style="float:right;padding-left: 4px;padding-bottom: 3px;"><i
                          class="elm-delete d-inline-block" *ngIf="showClear" (click)="resetDate()" data-toggle="tooltip" data-placement="top"
                          title="Reset to default">
                        </i>
                      </a> -->
        <div class="custom-dropdown-toggle dateRangeClass border common" (click)="$event.stopPropagation();"
          *ngIf="timeRangeList && showTimeRange">
          <div class="col-12 custom-dropdown-content d-flex flex-column" style="max-height: 83vh; overflow: auto;">
            <div class="modal-header">
              <h6 class="custom-date-title">
                Time Period
              </h6>
            </div>
            <div class="row mb-0 border-0 pb-0">
              <h6 class="col-12 custom-date-title">Absolute Time Range</h6>
              <div class="col-md-5 form-group">
                <label class="control-label">From</label>
                <angular2-date-picker [(ngModel)]="wDatatemp['fromDisp']" [settings]="calendarSettings"
                  (onDateSelect)="onDateSelect($event,'from')">
                </angular2-date-picker>
              </div>
              <div class="col-md-5 form-group">
                <label class="control-label">To</label>
                <angular2-date-picker [(ngModel)]="wDatatemp['toDisp']" [settings]="calendarSettings"
                  (onDateSelect)="onDateSelect($event,'to')">
                </angular2-date-picker>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-10 form-group">
                <label class="control-label invisible d-block">Apply Time Range</label>
                <button type="button" (click)="applyCustomRange()" class="btn btn-sm btn-primary mt-1 w-100">Apply Time
                  Range</button>
              </div>
              <h6 class="col-12 custom-date-title mt-2 mb-0">Relative Time Ranges</h6>
            </div>
            <div class="row overflow-auto pt-1">
              <div class="col-md-3 list" *ngFor="let section of timeRangeList;trackBy:track">
                <div *ngFor="let item of section.list;trackBy:track">
                  <label class="value" (click)="selectTimeRange(item)">{{ item.label }}</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button (click)="datePreview()" class="btn btn-sm btn-primary mr-2">Save</button> -->
              <button (click)="closeDropdownValues()" class="btn btn-sm btn-secondary" title="Close">Close</button>
            </div>
          </div>
          <div class="custom-modal-fade" (click)="closeDropdownValues()">


          </div>
        </div>
      </div>
      <div class="filter-input-container"
        *ngIf="widgetInfo.wcType === 'live' && !widgetInfo['isPreview'] && widgetInfo.cTypeLabel=='Harmonics'">
        <div class="filter-input-content phase">
          <ul>
            <li (click)="!isPreviewLoading?apply(phase.value,'phase'):''"
              [style.cursor]="isPreviewLoading?'not-allowed':'pointer'"
              [style.color]="widgetInfo['cData'].chartOptions.harmonics.phase.includes(phase.value)?colors[phase.value]:''"
              *ngFor="let phase of harmonics.phases">
              <span class="elm-strike">
                <span
                  [style.background-color]="widgetInfo['cData'].chartOptions.harmonics.phase.includes(phase.value)?colors[phase.value]:''"></span>
              </span>
              {{phase.label}}
            </li>
          </ul>
        </div>
        <div class="filter-input-content">
          <ul>
            <li class="" (click)="!isPreviewLoading?apply(tags.value,'tag_range'):''"
              [style.cursor]="isPreviewLoading?'not-allowed':'pointer'"
              [ngClass]="{'active':widgetInfo['cData'].chartOptions.harmonics.tag_range == tags.value}"
              *ngFor="let tags of harmonics.tags">
              {{tags.label}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-right dropdown" *ngIf="!expandWidget && !widgetInfo['isPreview']">

      <!-- <a *ngIf="timer<=10 && timer>=0 && widgetInfo.isTimerShow
          && widgetInfo.cData.chartOptions.autoRefresh && widgetInfo.wcType !== 'live'" 
                    title="Reloads in {{timer}}" class="card-right-icon">
                    <span>{{timer}}</span>
                  </a> -->


      <a *ngIf="widgetInfo.wcType === 'live'"
        title="{{widgetInfo?.lastRefresh | FormatDate : widgetInfo.cData.chartOptions.format}}" class="default">
        <i class="fa fa-circle mr-1" [style.color]="blinkIndicator?'#007c69':'#dc3545'"
          [style.background-color]="blinkIndicator?'#007c69' + '33': '#dc3545' + '33'">
        </i>
        Live
      </a>
      <!-- Change Orientation of Bar - Start -->
      <a *ngIf="(widgetInfo.cType=='bar' && !widgetInfo.isNormaltile && !widgetInfo.isMap && !widgetInfo.isTile)" class="card-right-icon"  [ngClass]="{'isEnabled':isLoading}"  title="{{isRotateBar ? 'Vertical Bar' : 'Horizontal Bar'}}" (click)="!isLoading?rotateBarChart(widgetInfo):''" >
        <ng-container *ngIf="isRotateBar" >
          <img src="assets/images/bar-vertical-icon.svg" alt="">
        </ng-container>
        <ng-container *ngIf="!isRotateBar">
          <img src="assets/images/bar-horizontal-icon.svg" alt="">
        </ng-container>
      </a>
      <!-- Change Orientation of Bar - End  -->
      <a title="{{pageType !='reports' && widgetInfo.cData.chartOptions.autoRefresh?(timer==0?'Refreshing...':'Refresh in '+(timer + 's')):'Refresh'}}"
        class="card-right-icon" (click)="allowAccess('widgets','view') && !isLoading ? refreshWidgetData(widgetInfo) : ''"  [ngClass]="{'isEnabled':isLoading}" 
        *ngIf="widgetInfo.wcType !== 'live'">
        <span class="fa fa-refresh" [ngClass]="{'rotate':isLoading}"></span>
      </a>
      <a class="card-right-icon" *ngIf="dashboardInfo.isOwner && pageType !='reports'"
        [title]="pageType!='trends'?(!pageAccessFor.resize ? 'Access denied' : 'Drag & Drop'):'Drag & Drop'"
        [ngClass]="pageType!='trends'?(!pageAccessFor.resize?'':'card-corner'):'card-corner'"
        [ngStyle]="pageType!='trends'?{'display': pageAccessFor.resize ? '': 'none'}:''">
        <!---*ngIf="(dashboardInfo.isOwner && pageAccessFor.resize && pageType !='reports') || (dashboardInfo.isOwner && pageType ==='trends')"--->
        <svg width="14px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </a>

      <!-- <a
                  title="Expand"
                  (click)="expandWidgetFunc()">
                  <span class="fa fa-window-maximize">
                  </span>
                </a> -->

      <a class="dropdown-toggle card-right-icon mobile-none" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" title="More Actions" [ngClass]="{'d-none':!dashboardInfo.isOwner}">
        <span class="fa fa-ellipsis-h">
        </span>
      </a>


      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"
          [ngClass]="pageType!='reports'?(!accessForWidget.edit?'isEnabled':''):(!pageAccessFor.edit?'isEnabled':'')"
          (click)="pageType!='reports'?(accessForWidget.edit? editWidget() : $event.stopPropagation()):(pageAccessFor.edit?editWidget() : $event.stopPropagation())"
          [title]="pageType!='reports'?(!accessForWidget.edit ?'Access Denied' :''):(!pageAccessFor.edit?'Access Denied' :'')">
          <span class="fa fa-edit pr-2"></span>
          Edit
        </a>
        <a class="dropdown-item"
          (click)="pageType!='reports'?(accessForWidget.delete? deleteWidget() : $event.stopPropagation()):(pageAccessFor.edit?deleteWidget() : $event.stopPropagation())"
          [title]="pageType!='reports'?(!accessForWidget.delete ?'Access Denied' :''):(!pageAccessFor.edit?'Access Denied' :'')"
          [ngClass]="pageType!='reports'?(!accessForWidget.delete?'isEnabled':''):(!pageAccessFor.edit?'isEnabled':'')"
          data-toggle="modal"
          [attr.data-target]="pageType!='reports'?(accessForWidget.delete ?'#widgetDeleteModal' : ''):(pageAccessFor.edit?'#widgetDeleteModal' : '')"
          id="widgetDeleteModalButton">
          <span class="fa fa-times pr-2">
          </span>
          Delete
        </a>
        <a class="dropdown-item" *ngIf="dashboardInfo.dashboardId.split('_')[0] == 'Reports'"
          (click)="generateAndDownloadReport()" title="{{downloadServerBtnName}}">
          <span class="fa fa-download pr-2"></span>
          {{downloadServerBtnName}}
        </a>
        <!-- <a class="dropdown-item" *ngIf="dashboardInfo.dashboardId.split('_')[0] == 'Reports'"
          (click)="exportTableAsExcel($event)" [title]="downloadUIBtnTitle">
          <span class="fa fa-file-excel pr-2"></span>
          Export Excel
        </a> -->
      </div>
    </div>
    <!-- <div class="card-right" 
                *ngIf="expandWidget">
                <a (click)="compressWidgetFunc()"
                    title="Compress">
                  <span class="fa fa-window-close-">

                  </span>
                </a>
            </div> -->
  </div>
  <div class="card-body">
    <div class="drill-down-container" *ngIf="widgetInfo.cType === 'pie' && widgetInfo['isShowToolBox'] && widgetInfo['pieDropdownList'].length>0">
      <button class="btn btn-sm btn-secondary border-0" (click)="onBackShowPreviousMenu()" title="Back">
        <span class="fa fa-long-arrow-left"></span>
      </button>

      <div class="dropdowncontainer drill-down-select">
        <ng-select [items]="widgetInfo['pieDropdownList']" placeholder="Select" [searchable]="true" [clearable]="false"
          [selectOnTab]="false" (change)="onChangeDDPieNodes($event)" [(ngModel)]="widgetInfo['dropdownValue']"
          [disabled]="isDropDownDisabled">
        </ng-select>
        <!-- (clear)="clearGatewaySelection()" -->
      </div>
    </div>

    <div *ngIf="widgetInfo.cType != 'tiles' && widgetInfo.cType!=='map' && !widgetInfo.isProgressbar && !widgetInfo.isPue && widgetInfo.cType != 'table' && !widgetInfo.isAlarmFilter && widgetInfo.cType != 'flexiTiles' &&   !widgetInfo.isTile
        && !widgetInfo.isNormaltile && !widgetInfo.isFlexi && !widgetInfo.isMap && !widgetInfo.isModeBus"
      class="wdg-inside-content"
      [ngClass]="{'skeleton':isLoading,'withDate':widgetInfo.cData.chartOptions.isDateShow != undefined && widgetInfo.cData.chartOptions.isDateShow.value}">
      <kl-echarts *ngIf="widgetInfo['cData'].chartData && widgetInfo['cData'].chartOptions" [eChartData]="widgetInfo"
        [ngClass]="{'skeleton-none':isLoading}">
      </kl-echarts>
      <div class="horizontal-loader-container d-none">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- Table Widget -->
    <div *ngIf="widgetInfo.cType === 'table' && !widgetInfo.isMap" id="table_ref" #ref
      [style.height.px]="widgetInfo['isPreview']? '220': widgetInfo.h - (widgetInfo.wcType != 'live' ?  115 : 155)"
      class="wdg-inside-content">
      <!-- <kl-dashboard-tables [cData] ="widgetInfo['cData'].chartData"></kl-dashboard-tables> -->
      <kl-common-table [tableData]="widgetInfo['cData'].chartData"></kl-common-table>
    </div>

    <!-- Map Widget -->
    <div *ngIf="widgetInfo.cType === 'bar' && widgetInfo.isMap" class="wdg-inside-content position-relative">
      <kl-maps [tableDataMaps]="widgetInfo" [latlong]="mapData" [dashboardInfo]="dashboardInfo"></kl-maps>
    </div>

    <!-- Dashboard Tiles -->
    <div
      *ngIf="(widgetInfo.cType === 'pie' || widgetInfo.cType === 'bar' ||  widgetInfo.cType === 'tiles' ) &&   widgetInfo.isTile == true"
      class="wdg-inside-content">
      <kl-dashboard-tiles [isPreview]="widgetInfo['isPreview']" [cData]="widgetInfo['cData']">
      </kl-dashboard-tiles>
    </div>

    <div *ngIf="widgetInfo.isFlexi == true" class="wdg-inside-content">
      <kl-flexi-tile *ngIf="widgetInfo['cData'].chartData != undefined && widgetInfo.wcType !== 'live'"
        [blockData]="widgetInfo['cData']['chartOptions']['flexiTiles']['blocks']"
        [isShowUnit]="widgetInfo['cData']['chartOptions']['flexiTiles']['isShowUnit']"
        [isHeader]="widgetInfo['cData']['chartOptions']['flexiTiles']['isHeader']"
        [noOfTagsToSwapOnInterval]="widgetInfo['cData']['chartOptions']['flexiTiles']['noOfTagsToSwapOnInterval']"
        [noOfBlocksToSwapOnInterval]="widgetInfo['cData']['chartOptions']['flexiTiles']['noOfBlocksToSwapOnInterval']"
        [cData]="widgetInfo['cData'].chartData" (currentBlockData)="getCurrentBlockData($event)"
        [selectedTag]="widgetInfo['cData']['chartOptions']['xaxis']['dimensionalTag']"
        [maxDecimalPoint]="widgetInfo['cData']['chartOptions']['maxDecimalPoint']"
        [isShowControls]="widgetInfo['cData']['chartOptions']['flexiTiles']['isShowControls']"></kl-flexi-tile>
    </div>

    <div *ngIf="widgetInfo.isNormaltile" class="wdg-inside-content">
      <kl-normal-tile [cData]="widgetInfo['cData']"></kl-normal-tile>
    </div>
    <div *ngIf="widgetInfo.cType=='map'" class="wdg-inside-content position-relative">
      <el-map [markers]="widgetInfo.cData.chartOptions['markers']"></el-map>
    </div>
    <div *ngIf="widgetInfo.isAlarmFilter" class="wdg-inside-content">
      <kl-alarm-events [widgetData]="alarmWidgetData"></kl-alarm-events>
    </div>

    <div *ngIf="widgetInfo.isPue" class="wdg-inside-content">
      <kl-pue-kpi [vData]="widgetInfo['cData']">
      </kl-pue-kpi>
    </div>
    <div *ngIf="widgetInfo.isModeBus && widgetInfo.wcType !== 'live'" class="wdg-inside-content">
      <kl-write-mod-bus [vData]="widgetInfo['cData']" (modebusEmitter)=modbusActions($event)>
      </kl-write-mod-bus>
    </div>
    <div *ngIf="widgetInfo.isProgressbar" class="wdg-inside-content">
      <kl-horizontal-vertical-bar [widgetData]="widgetInfo"></kl-horizontal-vertical-bar>
    </div>
    <div *ngIf="widgetInfo.isModeBus && widgetInfo.wcType === 'live'" class="wdg-inside-content">
      <kl-asset-mod-bus [vData]="widgetInfo" (assetActionEmitter)=assetActionsTrigger($event,9)></kl-asset-mod-bus>
    </div>
  </div>
</div>
<div *ngIf=" widgetInfo.wcType === 'live'  && widgetInfo.isModeBus && triggerData" aria-labelledby="" class="modal fade"
  [attr.id]="'triggerActionModal_'+widgetInfo.widget_id" role="dialog" data-backdrop="static" tabindex="-1"
  aria-modal="true">
  <div class="modal-dialog modal-dialog-component" role="document">
    <div class="modal-content">
      <div class="modal-header dropdown">
        <h6 class="modal-title">{{widgetInfo.title}}</h6>
        <span class="text-muted ml-auto">Closes in {{counterTime}}</span>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to
          <strong>{{triggerData.label}}</strong> ?
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"
          (click)="triggerConfirmModal(triggerData)">Yes</button>
        <button class="btn btn-sm btn-secondary" data-dismiss="modal"
          [attr.id]="'triggerActionModalclose_' + widgetInfo.widget_id" type="button"
          (click)="triggerModalCancel()">No</button>
      </div>
    </div>
  </div>
</div>