  .btnGroupContainer {
    position: absolute;
    bottom: 3rem;
    right: 1.5rem;
    z-index: 99;
  }
  
  .tooltip {
    display: none;
    opacity: 1;
  }
  
  .btnGroup {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    width: 32px;
    height: 32px;
    position: relative;
    margin-bottom: 10px;
  }
  
  .btnGroup.extra {
    height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .seperator {
    width: 80%;
    height: 0.5px;
    background: #888c9b;
    margin: auto;
  }
  
  .button {
    display: block;
    /* overflow: hidden; */
    cursor: pointer;
    transition: background-color 0.16s ease-out;
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }
  
  .button span {
    color: #455a64;
    font-size: 13px;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-125%, -50%);
    background: #455a64;
    padding: 8px 10px;
    border-radius: 6px;
    color: #ffff !important;
    font-size: 13px !important;
    font-weight: 700;
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #455a64;
    right: 0;
    transform: translate(90%, -50%);
    top: 50%;
  }
  
  .button:hover,
  .button:focus {
    outline: none !important;
  }
  
  .button:hover .tooltip {
    display: block;
  }
  
  .button:hover .fa {
    color: #008bfe;
  }

  :host /deep/ .pointer-events-none{
    pointer-events: none;
  }