<!-- miscellaneous small modals for scada editor -->
<kl-scada-modals></kl-scada-modals>

<kl-breadcrumb *ngIf="dashboardId && dashboardData.hasOwnProperty('dashboardName')"
    (refreshDashboardEmitter)="loadWidgets(true, true)" [dashboardData]="dashboardData">
</kl-breadcrumb>

<ng-container *ngIf='typeOfView && dashboardData' [ngSwitch]='typeOfView'>
    <ng-container *ngSwitchCase='"editor"'>
        <div class="main-content fill-margin-width">
            <div class="sub-main-content">
                <kl-editor *ngIf='editorDashboardData' [scadaData]='editorDashboardData'
                    (refetchScada)="loadWidgets(false , true)">
                </kl-editor>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase='"preview"'>
        <div class="main-content">
            <div class="sub-main-content">
                <kl-preview *ngIf='previewDashboardData' [scadaData]='previewDashboardData'
                    (refetchOnEdit)="loadWidgets(false, false)">
                </kl-preview>
            </div>
        </div>
    </ng-container>
</ng-container>