<div class="modal" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Session timeout</h5>

      </div>
      <div class="modal-body">
        Sorry,your session timed out after a long time of inactivity.Please,click Ok & sign in again <b>
        </b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="confirmSessionTimeOut()">Ok</button>
      </div>
    </div>
  </div>
</div>