.login-container
{
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100vh;
	.login-header
	{
		height: 60px;
		display: flex;
		align-items: flex-end;
		padding: 0px 20px;
		@media screen and (max-width: 768px) {
			justify-content: center;
		}
	}
	.login-content
	{
		height: calc(100% - 30px);
		// overflow: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 664px) {
			height: calc(100% - 60px);
		}
		.login-main-container
		{
			// height: calc(100% - 60px);
			width: calc(100% - 120px);
			background: white;
			// min-height: 380px;
			height: 100%;
			max-height: calc(100% - 60px);
			@media screen and (max-width: 768px) {
				width: 90%;
			}
		.login-form
		{
			.form-group-container
			{

			}
			.login-form-text
			{
				// background: url('../../../assets/images/login-text-side.svg');
				// background:#F6F5F5 url('../../../assets/images/login-page-bg-v-1.jpg');
				background-position: center;
				// background-size: 100%;
				background-repeat: no-repeat;
				overflow: auto;
				background-size: calc(100% - 20px);
				padding: 30px;
				border-right: 2px solid #e9eaed;
				img
				{
					width:100%;
					height: 100%;
				}
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
			.login-form-field
			{
				// background: #007DCA;
				// color:#fff;
				padding: 15px;
				height: 100%;
				overflow: auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				a
				{
					color: inherit;
				}
				form
				{
					// flex-grow: 1;
					overflow: auto;
					padding: 0px 15px;
				}
				// .btn-link
				// {					
				// 	background: #eeee;
				// 	padding: 2px 5px;
				// 	color:#007DCA;
				// }
				.main-title
					{
						// font-family: 'Open Sans', sans-serif;
						font-size: 18px;
						font-weight: 400;
						line-height: 3;
						color: inherit;
						text-align: center;
						margin: 0;
						margin: 5px;
						// background-color: #fff;
					}
				.wrap-input
				{
					width: 100%;
				    position: relative;
					// border-bottom: 2px solid rgba(255, 255, 255, 0.3);
					margin: 25px 0px;
					.input
					{
						// font-family: 'Open Sans', sans-serif;
						// font-size: 15px;
						line-height: 45px;
						display: block;
						width: 100%;
						height: 45px;
						background: 0 0;
						padding: 0 5px 0 30px;
						border: none;
						box-shadow: none;
						color:inherit;
					}
					input[type="checkbox"]  
					{
						height: 16px;
						width: 16px;
					& + label
					{
						padding: 0px 5px;
					}
					}
					select.input
					{
						width: 120px;
						option
						{
							color: initial;
						}
					}

					.focus-input
					{
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						pointer-events: none;
						&::before
						{
							content: "";
							display: block;
							position: absolute;
							bottom: -2px;
							left: 0;
							width: 0;
							height: 2px;
							-webkit-transition: all .4s;
							transition: all .4s;
							
						}
						&::after
						{
							font-family: "elmeasure-icon";
							font-size: 22px;
							color: inherit;
							content: attr(data-placeholder);
							display: block;
							width: 100%;
							position: absolute;
							top: 4px;
							left: 0;
							padding-left: 5px;
							-webkit-transition: all .4s;
							transition: all .4s;
						}
					}
					.clearField
					{
						position: absolute;
						right: 2%;
						top: 33%;
						cursor: pointer !important;
					}
					// .input:focus+.focus-input::after {
					// 	top: -22px;
					// 	font-size: 18px
					// }
					
					.input:focus+.focus-input::before {
						width: 100%
					}
					input:-internal-autofill-selected {
					background: transparent !important;
					}
				}
				.sub-discri
				{
					// font-family: 'Open Sans',sans-serif;
					// font-size: 11px;
					line-height: 22px;
					margin: 5px;
					padding: 5px;
				}
				.btn-login
				{
					border:transparent;
					// color: #007DCA;
					// background: #eee;
					margin: 5px auto;	
					height: 30px;
					overflow: hidden;

				&.btn-small
				{
					height: 20px;
				}
				}

			}
			.login-users
			{
				padding: 15px;
				height: 100%;
				overflow: auto;
				display: flex;
				justify-content: center;
				@media screen and (max-width: 768px) {
					// padding: 0px;
					width: 100%;
				}
				ul
			{
				list-style-type: none;
				padding: 0px;
				li
				{
					width: calc(100% - 20px);
					height: calc(52px);
					padding: 0 10px 0 10px;
					margin: 10px auto;
					position: relative;
					overflow: hidden;
					cursor: pointer;
					.user-content
					{
						display: flex;
						align-items: center;
						justify-content: flex-start;
					}
					.user-image
					{
						height: 35px;
						width: 35px;
						margin: 0px 0px 0px 10px;
						// margin-top: 15px;
						// background: #f8f9fa;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						// color: #446ed6;
						span
						{
							font-weight: 700;
							font-size: 18px;
						}
						img
						{
							height: inherit;
							width: inherit;
							border: none;
							border-radius: 50%;
						}
					}
					p
					{
						text-align: left;
						margin: 15px 0px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						// flex-grow: 1;
						padding-left: 10px;
						max-width: calc(100vw - 190px);

					}
					.user-icon
					{
						position: absolute;
						top: 50%;
						right: -50px;
						transform: translateY(-50%);
						transition: all 0.2s ease-in-out;
						span 
						{
							margin: 0px 3px;
							cursor: pointer;
						}
					}
					&:hover
					{
						.user-icon
						{
							right: 5px !important;
						}
	
					}
				}
			}
			.multi-user
			{
				max-height: calc(100% - 52px - 100px);
				overflow: auto;				
			}
			}
			
		}
		}
	}
	.login-footer
	{
		height: 30px;
		display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
	padding: 0px 20px;
	// background: #007cbf;
	// color:#eeee;
	@media screen and (max-width: 664px) {
		height: 60px;
	}
	p
	{
		margin: 0px;
	}
	a
	{
		color: inherit;
		&:hover
		{
			text-decoration: underline;
		}
	}
	}
	
}
.browse-file
{
	height: 180px;
    border: 1.6px dashed #c6c9d5;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
	text-align: center;
	position: relative;
	.browse-file-content
	{
		display: block;
		position: absolute;
		left: 50%;
		top:50%;
		transform: translate(-50%, -50%);
		color: #6c757d;
		width: 100%;
		padding: 0px 10px;
		
		img
		{
			height: 56px;
			margin-bottom: 4px;
		}
		p
		{
			margin-bottom: 0px;
			font-size: 16px;
		&.license-file-name
		{
			font-size: 14px;
			line-height: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		}

	}
	.browse-file-button
	{
position: absolute;
display: block;
height: 100%;
width: 100%;
top: 0;
opacity: 0 !important;
	&::-webkit-file-upload-button 
	{
		position: absolute;
		bottom: 20px;
		left: 50%;
		font-size: 16px;
		transform: translateX(-50%);
		background: transparent;
		color: var(--brandPrimaryBlue);
		border: transparent;
		margin: 5px auto;
		height: 30px;
		overflow: hidden;
		cursor: pointer;
		box-shadow: none;
		outline: none;
	}
}
}
.profile-clicked{
    color: #008cff;
    margin-left: 20px;
	cursor: default !important;
	    margin-top: 10px;
	    margin-right: 10px;
}
.link-blur{
	opacity: 60%;
	cursor: default !important;
}
.isLoading{
	cursor: default !important;
	li
	{
		box-shadow: none !important;
		cursor: default !important;
	}
}
.isSignIn{
	cursor: default !important;
	text-decoration: none !important;
}
.loader-custom-resendmail {
	margin-right: 10px;
	color: #222222 !important;
	font-size: 10px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
   }