<div class="col-12 p-0">
    <i id="toggle-sub-sidebar" class="elm-download" (click)='hideSubsideBar($event)'></i>
    <p *ngIf="!menus.menuheading">Loading . . .</p>
    <div class="col-12">
        <h6 *ngIf="menus.menuheading display-inline-block" class="sub-sidebar-title">
            Add Device
            <!-- <button class="btn btn-light btn-icon display-inline-block float-right" (click)="onadd()" style="margin-top: -8px; margin-bottom: 3px;font-size:1.1rem;">
                            <i class="elm-plus-2" style="color:#234875;"></i>
                        </button> -->
        </h6>
        <div class="form-group">
            <input type="search" [(ngModel)]="queryString" class="form-control" placeholder={{menus.placeholder}}>
        </div>
        <div class="col-12 pl-2" style="margin-top:4px;">
            <a (click)="onadd()" class="cursor" style="color: #234875;font-size:0.85rem;"><i class="elm-plus"></i>
                Create Custom Device</a>
        </div>

    </div>

    <div class="scrollsetup">
        <ul class="pl-0 userList">
            <li *ngFor="let item of menus.data | FilterPipe: queryString : displayProperty; let i=index"
                (click)="onSelectElement((valueProperty=='')?item:item[valueProperty], i)" class="list-item-select"
                draggable="true" (dragstart)="onDragStart($event,(valueProperty=='')?item:item[valueProperty])"
                [ngClass]="{'active': i === activeTab}">
                <span class="name cursor">{{ item[displayProperty] }}</span>
                <span class="d-none">{{ item[secondDisplyProperty] }}</span>
            </li>
        </ul>
    </div>
</div>