<div id="print__screen" *ngIf="initApp">
    <!-- [className] = "userTheme" -->
    <input hidden type="button" name="pwaUpdateButton" class="btn btn-secondary btn-sm mr-1" value="update"
        data-toggle="modal" data-target="#pwaUpdateModal" id="pwaUpdateAvailableModalButton" />

    <!-- <ng-container *ngIf="updateAvailable"> -->
    <div #content class="modal fade" id="pwaUpdateModal" tabindex="-1" role="dialog"
        aria-labelledby="pwaUpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" *ngIf="!isAdmin">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New update available.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Would you like to update now?<br />
                    Updating will reload the application.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="dismissUpdate" data-dismiss="modal"
                        (click)="cancelUpdatePWA()">Later</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="updatePWA()">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </ng-container> -->
    <router-outlet></router-outlet>
</div>
<!-- <kl-pop-up></kl-pop-up> -->
<kl-toastr></kl-toastr>