<!----  Template has two parts 1) for web-scada image upload and 2) for dashboard as a gallery---->

<!------------------------------- template for non scada view(gallery) ----------------------------------------------------------------------->

<ng-container *ngIf="!isScadaView">

  <!-- Single slot content projection to trigger modal -->
  <ng-content *ngIf="_defaultSettings['isContentProjection'] ? true:false"></ng-content>

  <!-- If no content projected - this is the default trigger to modal -->
  <!-- <div class="container">
  <div class="row">
    <div class="col">
      <button *ngIf="_defaultSettings['isContentProjection'] ? false: true "
        (click)="resetModal();getAllImagesInfo()"
        type="button" 
        class="btn btn-primary" 
        data-toggle="modal" 
        data-target="#imagepickermodal"
      >
       Select
      </button>
    </div>
  </div>
</div> -->


  <!-- Modal -->
  <!-- <div 
  class="modal" 
  id="imagepickermodal" 
  tabindex="-1" 
  aria-labelledby="addModalLabel" 
  aria-hidden="true"
> -->
  <div class="modal-dialog modal-xl">
    <!-- <div class="main-content"> -->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5>Gallery</h5>
        
        <button (click)="onGalleryClose()" type="button" class="close"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <!-- <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a 
              class="nav-link active" 
              id="nav-all-tab" 
              data-toggle="tab" 
              href="#nav-all" 
              role="tab" 
              aria-controls="nav-all" 
              aria-selected="true"
              (click)="onTab({id:1})"
            >
            All
            </a>
            <a *ngIf="_defaultSettings['isUploadEnabled']"
              class="nav-link"
              id="nav-custom-upload-tab" 
              data-toggle="tab" href="#nav-custom-upload" 
              role="tab" 
              aria-controls="nav-custom-upload" 
              aria-selected="false"
              (click)="onTab({id:2})"
            >
            Upload
          </a>
          </div>
        </nav> -->
        <!-- <div class="tab-content" id="nav-tabContent"> -->
        <!-- <div 
            class="mt-2 tab-pane fade show active" 
            id="nav-all" 
            role="tabpanel" 
            aria-labelledby="nav-all-tab"
          > -->
        <div class="mt-2 search-group w-100" tabindex="1">
          <span class="fa fa-search search-icon"></span>
          <input type="search" [disabled]="isLoading" name="images-search" class="search-input" placeholder="Search"
            [(ngModel)]="searchKeyword">
        </div>
        <!-- <div *ngIf="isLoading" class="loader">
              Loading...
            </div> -->
        <!-- <div class="ml-3" *ngIf="(!isLoading &&(libraryImages | imageSearch:searchKeyword : ['keywords'] : true : 2).length === 0)">
              No results found.
            </div> -->


        <div class="image-container">
          <div class="image-library">
            <div class="images">
              <div class="image-content"
                *ngFor="let image of libraryImages | imageSearch:searchKeyword : ['name','keywords'] : true : 2 ; let i = index">
                <div class="image">
                  <img (click)="emitImageInfo(image)" title="{{image['name'] | titlecase}}" [src]="image['url']"
                    alt="image">
                </div>
                <p class="text text-capitalize" title="{{image['name'] | titlecase}}">
                  {{image['name']}}
                </p>
              </div>
            </div>
          </div>
        </div>






        <!-- <ng-container *ngFor="let image of libraryImages | imageSearch:searchKeyword:['keywords']:true:2; let i = index; trackBy: i"  class="list-of-images">
              <img 
                (click)="onImageSelect(image['url'])" 
                style="cursor: pointer;"  
                [src]="image['url']" 
                alt="images"
                [title]="image['filename']"
                loading="lazy"
              >
            </ng-container> -->
      </div>
      <!-- <div *ngIf="_defaultSettings['isUploadEnabled']"
            class="tab-pane fade" 
            id="nav-custom-upload" 
            role="tabpanel" 
            aria-labelledby="nav-custom-upload-tab"
          > -->
      <!-- <div *ngIf="_defaultSettings['isSingleSelection']" class="isSingleSelection">
                <button class="mt-5 btn btn-secondary" (click)="fileInput.click()">Choose</button>
                <input style="display: none" type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)" #fileInput>
              </div> -->

      <!-- Multiple selection -->
      <!-- <div *ngIf="!_defaultSettings['isSingleSelection']" class="multipleSelection">
                <button class="mt-5 btn btn-secondary" (click)="fileInput.click()">Choose</button>
                <input style="display: none" accept="image/png, image/jpeg" type="file" (change)="onFileSelected($event)" #fileInput multiple>
              </div> -->

      <!-- @allImagesInfo image properties -->
      <!-- <ng-container *ngFor="let image of allImagesInfo; let i = index">
                <label for="image-name">Name</label>
                <input 
                  type="text" 
                  [(ngModel)]="image.name" 
                  name="{{i}}" 
                  class="upload-image-name" 
                  placeholder="Image name"
                  #imagenameinput
                >
              </ng-container> -->

      <!-- Show preview of selected images -->
      <!-- <div class="image-preview">
                <ng-container *ngFor="let url of imagePreview; let i = index">
                  <img  width= "70" height="70" [src]="url" alt="alternate" class="img-thumbnail upload-preview-images"> 
                  <button (click)="removeSelectedFile(i)" title="Remove image" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </ng-container>
                 
              </div> -->

      <!-- <div class="tags">
                <label for="tags">Keywords</label>
              <tag-input
                [(ngModel)]='tagSet'
                [modelAsStrings]="true"
                [placeholder]="'+ keyword'"
                [secondaryPlaceholder]="'Enter keywords'"
                [separatorKeys]="','"
                [blinkIfDupe]="true"
                [ripple]="false"
                [theme]="'dark'"
                (onAdd)="onTagSet($event)"
                (onRemove)="onTagRemove($event)"
              >
            </tag-input>
              </div> -->

      <!-- </div> -->
      <!-- </div> -->
    </div>

    <!-- <button [disabled]="isImageNotSelected" class="btn btn-primary" 
        (click)="activeTab === 1 ? sendImageInfo():activeTab === 2?onUpload('lib'):null"
        >
          {{primaryActionLabel}}
        </button> -->
    <!-- <button #closeBtnProxy (click)="onModalClose()" class="btn btn-secondary" data-dismiss="modal">Cancel</button> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</ng-container>

<!-------------------------------------DND template for web-scada x.4.7 live DND----------------------------------------------------------------------->
<ng-container *ngIf="isScadaView">
  <div class="modal-dialog modal-xl">
    <div class="modal-content overflow-hidden">
      <div class="modal-header bg-white p-2">
        <h6 class="modal-title text-muted">Upload</h6>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i class="elm-cancel"></i></button>
      </div>
      <div class="modal-body">
        <div class="image-container" *ngIf="_defaultSettings['isUploadEnabled']">
          <div class="image-library">

            <div class="images">
              <div class="image-content" *ngIf="!_defaultSettings['isSingleSelection']" (click)="fileInput.click()">
                <div class="image">
                  <span class="fa fa-upload"></span>
                </div>
                <div class="upload">
                  <button class="btn btn-sm">Upload</button>
                  <input style="display: none" accept="image/png, image/jpeg, image/gif" type="file"
                    (change)="onFileSelected($event)" #fileInput multiple>
                </div>
              </div>
              <div class="image-content" *ngFor="let image of allImagesInfo; let i = index">
                <div class="select" (click)="removeSelectedFile(i)" title="Remove">
                  <span class="fa fa-close"></span>
                </div>
                <div class="image">
                  <img [attr.src]="imagePreview[i]" alt="image" title="{{image.name}}">
                </div>
                <input type="text" [(ngModel)]="image.name" name="{{i}}" class="text placeholder-color"
                  [ngClass]="{'empty-field': !image.name}" placeholder="Image name" #imagenameinput
                  title="{{image.name}}">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="imagePreview ?.length > 0" class="keyword-content">
          <kl-chips (onAdd)="onTagSet($event)" (onRemove)="onTagRemove($event)" (onRemoveAll)="onTagRemoveAll($event)"
            (onSelectAllFiltered)="onSelectAllTags($event)" (onDeSelectAllFiltered)="onDeselectAllTags($event)">
          </kl-chips>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-start w-100 bg-white">
        <button [disabled]="isImageNotSelected" class="btn btn-sm btn-primary"
          (click)="onUpload('scada')">Submit</button>
        <button (click)="onModalClose()" class="btn btn-sm btn-secondary" data-dismiss="modal"
          #uploadModal>Cancel</button>
      </div>
    </div>
  </div>
</ng-container>