.config-bg{
    padding: 1rem;
    background: #f9f9f9;
}
.fs-color{
    font-size: 13px;
    color: #878989;
}
label{
    color: #6c757d;
}
.accordian-header
{
  padding:7px 7px;
  cursor: pointer;
  h6
  {
    margin: 0px !important;
  &::after
  {
    font-family: "elmeasure-icon";
    display: inline-block;
    font-size: inherit;
    color: inherit;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
    margin-right: 5px;
    vertical-align: middle;
    content: "\f11f";
  }
  }
  &.collapsed
  {
    h6
  {
    margin: 0px !important;
  &::after
  {
    content: "\f11d";
  }
  }
}
}

.h-90 {
    height: 90%;
}
.table-width{
    thead {
        text-align: center;
        box-shadow: 0px 0px 10px 0px #e3dbdb;
        color: #6c757d;
    }
    thead tr td{
        width: 20%;
    }
    thead tr td:nth-child(5), thead tr td:last-child{
        width: 10%;
    }
    td {
        border: none;
        padding: 0.7rem;
    }
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.8rem;
}
.color-hex{
  background: #eaeaea;
  text-align: center;
    color: #767e86;
}
.invalid-field{
  border: 1px solid #ff6767;
  border-left: 3px solid #ff6767;
}
.h-1p6rem{
  height: 1.6rem;
}
.trash-hov{
  padding: 7px;
  font-size: 1rem;
  border-radius: 50%;
  width: 30px;
}
.trash-hov:hover{
  background: #dfdfdf;
}
.up-down-container
{
  margin-left: 1rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  i
  {
    padding: 2px 2px;
    font-size: 21px;
  &:hover
  {
    color: var(--brandPrimaryBlue);
  }
  }
}
.color-ac{
  color: #acacac;
}
.no-hover:hover{
  color: #acacac!important;
}
.loader-rings {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-rings div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader-rings 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2d7bdb transparent transparent transparent;
}
.loader-rings div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader-rings div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader-rings div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader-rings {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content-align{
  height: 95%;
  width: 97%;
  position: absolute;
  z-index: 100;
  background: white;
  overflow: hidden;
}
.modal-footer{
  height: 45px;
}
.pos-abs{
  position: absolute;
  left: 1rem;
}