<div class="modal-dialog modal-dialog-centered modal-xl h-90" role="document">
  <div class="modal-content h-100">
    <div class="modal-header">
      <h6 class="modal-title text-muted" id="exampleModalLabel">Live Data Configuration - {{currentState}}</h6>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i class="elm-cancel"></i></button>
    </div>
    <div class="modal-body overflow-auto">
      <div class="main-loader content-align" *ngIf="isGetMetaLoading;else metaLoaded" id="scada-loader">
        <div id="loader-wrapper-submaincontent">
          <div class="loader-rings">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <ng-template #metaLoaded>
        <div class="container config-bg">
          <div class="accordian-header border-bottom" id="genTab" data-toggle="collapse" data-target="#generalTab"
            aria-expanded="true" aria-controls="generalTab">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-lg-6">
                <h6>General</h6>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="generalTab" class="collapse show mt-3 mb-3" aria-labelledby="genTab">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="element">Elements Name<span class="color-red">&nbsp;*</span></label>
                  <input type="text" class="form-control" name="element-name" id="element" [(ngModel)]='elementsName'
                    autocomplete="off" placeholder="Enter elements name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="form-group">
                  <label for="assets">Asset</label>
                  <!-- <span class="fs-color float-right" title="Refresh assets and tags" (click)="getMetaData()"><i
                      class="fa fa-repeat" [ngClass]="{'fa-spin':isGetMetaLoading}" aria-hidden="true"></i></span> -->
                  <ng-select [items]='devicesMeta' id="assets" bindLabel='label' bindValue='value'
                    [loading]="isGetMetaLoading" [virtualScroll]='true' [clearable]="false"
                    loadingText='Loading assets..' placeholder='Select asset' [(ngModel)]="_defaultDevice"></ng-select>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="form-group">
                  <label for="tags">Tag</label>
                  <!-- <span class="fs-color float-right" (click)="getMetaData()"><i class="fa fa-repeat"
                      [ngClass]="{'fa-spin':isGetMetaLoading}" aria-hidden="true"></i></span> -->
                  <ng-select [items]='tagsMeta' id="tags" bindLabel='label' [clearable]="false"
                    [loading]="isGetMetaLoading" loadingText='Loading Tags..' [virtualScroll]='true'
                    placeholder='Select tags..' [(ngModel)]="_defaultTag" (ngModelChange)="getUnits()"></ng-select>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="form-group">
                  <label for="show-value">Show Value</label>
                  <input type="checkbox" [(ngModel)]='showValue' (click)="isShowUnitEnabled()" class="form-control"
                    id="show-value">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="form-group">
                  <label for="restrict">Restrict decimal to</label>
                  <input type="number" min="0" max="100" class="form-control" autocomplete="off" id="restrict"
                    [(ngModel)]="restrictDecimal" placeholder="Restrict decimal to">
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="form-group">
                  <label for="units">Unit</label>
                  <!-- 
                   
                    <span class="fs-color float-right" title="Refresh units" (click)="getUnitMetaData()"><i
                      class="fa fa-repeat" [ngClass]="{'fa-spin':isUnitLoading}" aria-hidden="true"></i></span> -->
                  <ng-container *ngIf='unitsMeta.length !== 0 && _defaultTag && _defaultTag.hasOwnProperty("unit")'>
                    <ng-select [items]='_defaultTag.unit.length > 0 ? _defaultTag.unit : [_defaultTag.unit]' id="units"
                      bindLabel='label' bindValue='value' [loading]="isUnitLoading" [clearable]="false"
                      loadingText='Loading Units..' placeholder='Select units..' [(ngModel)]="_defaultUnit"></ng-select>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="form-group">
                  <label for="show-unit">Show Unit</label>
                  <input type="checkbox" [(ngModel)]='showUnits' [disabled]='!isShowUnitsEnabled' class="form-control"
                    name="show-unit" id="show-unit">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container config-bg mt-2">
          <div class="accordian-header border-bottom" id="condTab" data-toggle="collapse" data-target="#conditionsTab"
            aria-expanded="true" aria-controls="conditionsTab">
            <h6>Conditions</h6>
          </div>
          <div class="tab-pane" id="conditionsTab" class="collapse show mt-3 mb-3" aria-labelledby="condTab">
            <ng-container *ngIf='conditions.length == 0;else conditionsAvailable'>
              <div class="container text-center">
                <h5>Start adding conditions to visually see changes</h5>
                <button class="btn btn-primary btn-sm" (click)="addConditions()"><i class="fa fa-plus"></i> Add</button>
              </div>
            </ng-container>
            <ng-template #conditionsAvailable>
              <table class="table table-width">
                <thead>
                  <tr>
                    <td>Compare</td>
                    <td>Compare Value <span class="color-red">&nbsp;*</span></td>
                    <td>Action</td>
                    <td>Action Value<span class="color-red">&nbsp;*</span></td>
                    <td>Delete</td>
                    <td>Arrange</td>
                  </tr>
                </thead>
                <tbody #tableBody>
                  <tr *ngFor='let actionRow of conditions; let i = index'>
                    <td>
                      <div class="form-group" *ngIf='operators.length !== 0'>
                        <ng-select [items]='operators' bindLabel='label' bindValue='value' [clearable]="false"
                          [disabled]='actionRow.action.name == "progress"' [searchable]="false"
                          [(ngModel)]='actionRow.condition'></ng-select>
                        <!-- <ng-select [items]='operators' bindValue='value' bindLabel='label' [searchable]="false"
                          [clearable]="false"></ng-select> -->
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <input type="number" class="form-control" [(ngModel)]="actionRow.value"
                          [disabled]='actionRow.action.name == "progress"' placeholder="Enter compare value">
                      </div>
                    </td>
                    <td>
                      <div class="form-group" *ngIf='actions'>
                        <ng-select [items]='actions' bindValue='value' bindLabel='label'
                          [(ngModel)]='actionRow.action.name' [searchable]="false"
                          (ngModelChange)="updateActionName(i, actionRow.action.name)" [clearable]="false"></ng-select>
                      </div>
                    </td>
                    <td>
                      <div [ngSwitch]="actionRow.action.name">
                        <!-- FILL COLOR FOR THE SHAPES -->
                        <ng-container *ngSwitchCase="'fillColor'">
                          <ng-container *ngTemplateOutlet="colorPicker"></ng-container>
                        </ng-container>
                        <!-- FILL COLOR FOR THE EDGES -->
                        <ng-container *ngSwitchCase="'strokeColor'">
                          <ng-container *ngTemplateOutlet="colorPicker"></ng-container>
                        </ng-container>
                        <!-- FILL COLOR FOR IMAGES-->
                        <ng-container *ngSwitchCase="'imageBackground'">
                          <ng-container *ngTemplateOutlet="colorPicker"></ng-container>
                        </ng-container>
                        <!-- TEXT BACKGROUND COLOR-->
                        <ng-container *ngSwitchCase="'labelBackgroundColor'">
                          <ng-container *ngTemplateOutlet="colorPicker"></ng-container>
                        </ng-container>
                        <!-- DISPLAY SAME FOR SHAPES, EDGES AND IMAGES-->
                        <ng-container *ngSwitchCase="'display'">
                          <ng-container *ngTemplateOutlet="display"></ng-container>
                        </ng-container>
                        <!-- DISPLAY SAME FONT COLOR FOR SHAPE, EDGES AND IMAGES-->
                        <ng-container *ngSwitchCase="'fontColor'">
                          <ng-container *ngTemplateOutlet="colorPicker"></ng-container>
                        </ng-container>
                        <!-- ROTATION FOR SHAPES AND IMAGES-->
                        <ng-container *ngSwitchCase="'rotation'">
                          <ng-container *ngTemplateOutlet="number"></ng-container>
                        </ng-container>
                        <!-- GRADIENT COLOR ONLY FOR SHAPES-->
                        <ng-container *ngSwitchCase="'gradientColor'">
                          <ng-container *ngTemplateOutlet="colorPicker"></ng-container>
                        </ng-container>
                        <!-- FONT SIZE FOR SHAPES, EDGES AND IMAGES-->
                        <ng-container *ngSwitchCase="'fontSize'">
                          <ng-container *ngTemplateOutlet="number"></ng-container>
                        </ng-container>
                        <!-- SHOW CONTENT WITH VALUE -->
                        <ng-container *ngSwitchCase="'text'">
                          <ng-container *ngTemplateOutlet="textField"></ng-container>
                        </ng-container>
                        <!-- PROGRESS FOR SHAPES AND EDGES-->
                        <ng-container *ngSwitchCase="'progress'">
                          <ng-container *ngTemplateOutlet="progress"></ng-container>
                        </ng-container>
                        <!-- IMAGEPICKET FOR IMAGES ONLY-->
                        <ng-container *ngSwitchCase="'image'">
                          <ng-container *ngTemplateOutlet="imagePicker"></ng-container>
                        </ng-container>
                      </div>

                      <!-- CONTAINER FOR CONDITIONS -->
                      <!-- COLOR PICKER CONTAINER-->
                      <ng-template #colorPicker>
                        <ng-select bindValue="reference" [searchable]="false" name="icon" [items]="scadaColors"
                          placeholder="Color" [(ngModel)]="actionRow.action.change_to" [clearable]="false">
                          <ng-template ng-label-tmp let-item="item">
                            <div [style.text-align]="'center'" class="color-pallet">
                              <i class="elm-checked-2" [style.color]="item.value"></i>
                              <label>{{item['label']}}</label>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div [style.text-align]="'center'" class="color-pallet">
                              <i [style.color]="item.value" class="elm-unchecked-radio-button"></i>
                              <label>{{item.label}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                        <div class="color-hex">
                          <span>{{scadaColorsMeta[actionRow.action.change_to]}}</span>
                        </div>
                      </ng-template>

                      <!-- DISPLAY SHOW AND HIDE -->
                      <ng-template #display>
                        <ng-select [(ngModel)]="actionRow.action.change_to" [searchable]='false' [clearable]='false'>
                          <ng-option value="block" selected>Show</ng-option>
                          <ng-option value="none">Hide</ng-option>
                        </ng-select>
                      </ng-template>

                      <!-- NUMBER -->
                      <ng-template #number>
                        <div class="form-group">
                          <input type="number" class="form-control" placeholder="Enter Value"
                            [(ngModel)]="actionRow.action.change_to">
                        </div>
                      </ng-template>

                      <!-- TEXTFIELD -->
                      <ng-template #textField>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Text"
                            [(ngModel)]="actionRow.action.change_to">
                        </div>
                      </ng-template>

                      <!-- IMAGE PICKER -->
                      <ng-template #imagePicker>
                        <ng-select [searchable]="false" name="icon" [items]="imagePickerImages" [virtualScroll]='true'
                          bindValue='image' placeholder="Select image.." [(ngModel)]="actionRow.action.change_to"
                          [clearable]="false">
                          <ng-template ng-label-tmp let-item="item">
                            <div [style.text-align]="'center'" class="color-pallet">
                              <img [src]="item.image" alt="{{item.name}}" height="30" width="30">
                              <label>{{item.label}}</label>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div [style.text-align]="'center'" class="color-pallet">
                              <img [src]="item.image" alt="{{item.name}}" height="30" width="30">
                              <label>{{item.label}}</label>
                            </div>
                          </ng-template>
                        </ng-select>
                      </ng-template>

                      <!-- PROGRESS -->
                      <ng-template #progress>
                        <div class="row h-1p6rem">
                          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <input type="number" class="form-control h-1p6rem" placeholder="min"
                              [(ngModel)]="actionRow.action['min']">
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <input type="number" class="form-control h-1p6rem" placeholder="max"
                              [(ngModel)]="actionRow.action['max']">
                          </div>
                        </div>
                        <div class="row">
                          <ng-select class="form-control p-0" [(ngModel)]="actionRow.action['direction']"
                            placeholder='Select direction..' [searchable]='false' [clearable]='false'>
                            <ng-option value="south">Top to Bottom</ng-option>
                            <ng-option value="north">Bottom to Top</ng-option>
                            <ng-option value="east">Left to Right</ng-option>
                            <ng-option value="west">Right to Left</ng-option>
                          </ng-select>
                        </div>
                      </ng-template>
                    </td>
                    <td class="text-center"><i class="fa fa-trash trash-hov color-ac" (click)='deleteRow(i)'></i></td>
                    <td class="text-center">
                      <span class="up-down-container">
                        <i *ngIf='conditions.length == 1' class="fa fa-sort color-ac not-allowed-cursor no-hover"
                          title="Add more than one row for sorting table"></i>
                        <i *ngIf='i != 0' class="elm-slide-up color-ac" (click)='moveItems(i, i-1)' title="Move Up"></i>
                        <i *ngIf='i < conditions.length - 1' class="elm-down-button color-ac"
                          (click)='moveItems(i, i+1)' title="Move Down"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
            <ng-container *ngIf='conditions.length !== 0;'>
              <button class="btn btn-primary btn-sm" (click)='addConditions()'><i class="fa fa-plus"></i>
                Add</button>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-sm mr-3" (click)="saveCurrentSettings()">Save</button>
      <button type="button" class="btn btn-secondary btn-sm mr-3" data-dismiss="modal" #closeModal>Close</button>
    </div>
  </div>
</div>