<div class="row">
  <div class="col">
    <div class="chips-main">
      <angular2-multiselect #dropdownRef [data]="itemList" [(ngModel)]="selectedItems" [settings]="settings"
        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)"
        (onClose)="onDropdownClose($event)" (onOpen)="onDropdownOpen()" (clickOutside)="onClickOutside()"
        (onFilterSelectAll)="onSelectAllSuggested($event)" (onFilterDeSelectAll)="onDeselectAllSuggested($event)">
      </angular2-multiselect>
    </div>
  </div>
</div>