.modbus-widget
{
      height: 100%;
      display: flex;
      width: 100%;
  flex-direction:column;
  justify-content: center;

  .data-container
  {
    
justify-content: space-between;
display: flex;
flex-direction:row;
align-items:center;
width:100%;
    .data-left
    {
      width:60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      .name
      {
        font-size: 14px;
display: flex;
align-items: center;
justify-content: flex-start;
cursor: pointer;
transform: scale(1);
transition: transform 0.2s ease-in-out;
margin: 0;
color: #868ca0;
font-weight: normal;
      }
p.name
    {
      font-size: 14px;
      cursor: pointer;
      transform: scale(1);
      transition: transform 0.2s ease-in-out;
      margin: 0;
      color: #868ca0;
      font-weight: normal;
      margin-bottom: 0px;
      flex: 1 0 auto;
      width: 100%;
      span
      {
        font-size:14px;
        font-weight:500;
       }
    }
      .refresh-time
      {
        height: 30px;
        margin: 0px;
        overflow: auto;
        flex: 1 0 auto;
        color: #868ca0;
        font-weight: normal;
        align-items: center;
        display: flex;
        font-size: 14px;
        width: 100%;
      }
      .image-container
  {
        display: flex;
align-items: center;
flex: 1 0 auto;
font-size: 22px;
color: #868ca0;
font-weight: 500;
margin: 0px;
flex: 1 0 auto;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
    padding: 0px;
    width: 100%;
     span
      {
          color:#868ca0;
        padding:0px 8px;
      }
    
    i
    {
display: flex;
align-items: center;
justify-content: center;
    width:26px;
    min-width: 26px;
    height:26px;
    border-radius:50%;
    background:#ddd;
    color:#757575;
    font-size:14px;
    font-weight: 500;
      &.active
    {
      
      animation: mod-data 1s ease;
    }
     
    }
  }
    
    }
.data-right
    {
      height:100%;
        .switch-container
      {
        height:100%;
        overflow:auto;
        text-align:right;
        ul
        {
          list-style-type:none;
margin: 0;
padding: 0px 0px;
height: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
          li
          {
            min-width: 40px;
            max-width: 80px;
            height: 26px;
            border-radius: 0%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #ccc;
            margin: 0px 10px 10px 0px;
            display: block;
            font-size: 12px;
            line-height: 26px;
            font-weight: normal;
            cursor: pointer;
            padding: 0px 6px;
            transform: scale(1);
            transition: all .022s ease-in-out;
            border: none;
            text-align: center;
            color: #f8f9fa;
             &:active
              {
                transform:scale(0.92);
              }
              &.active
              {
                opacity: 1;
              }
              &:hover
              {
                opacity: 0.7;
              }
           
          }
        }
      }

      }
  }
              p.text-last
      {
        font-size:16px;                       color:#868ca0;
        font-weight: normal;
        margin:0px;
      }
}
@keyframes sensor
{
  0% {
    box-shadow: 0 0 0 0 red;
}
  
  100% {
    box-shadow: 0 0 0 6px rgba(255,255,255,0);
}
}
@keyframes sensor-green
{
  0% {
    box-shadow: 0 0 0 0 #008000;
}
  
  100% {
    box-shadow: 0 0 0 6px rgba(255,255,255,0);
}
}

@keyframes mod-data
{
  0% {
 box-shadow:inset 0px 0px 0px 20px #dee2e600;
}
  
  100% {
    box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.7);
    
}
}
