<div *ngIf="isPageLoading" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div *ngIf="!isPageLoading" class="main-content">
    <div class="sub-main-content">
        <div class="header-container">
            <div class="header-left">
                <div class="search-group search-group-sm" tabindex="1">
                    <i class="search-icon fa fa-search"></i>
                    <input type="search" class="search-input" placeholder="Search" [(ngModel)]="queryString"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="header-right pr-3 ml-auto">
                <button class="btn btn-sm btn-primary" [disabled]="!currentAccess.create"
                    [title]="!currentAccess.create ? 'Access Denied':'Create'"
                    (click)="currentAccess.create ? onCreate('create','new'):''">
                    + Create
                </button>
            </div>

        </div>
        <div class="col-md-12">
            <table class="table alarmTable d-block">
                <thead>
                    <tr>
                        <th class="text-left" *ngFor="let headerCol of headerCols;">{{headerCol.name}}</th>
                        <th style="width: 145px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alarm of alarms | AlarmFilterPipe: queryString; let i = index;">
                        <td class="text-left" *ngFor="let headerCol of headerCols;"
                            [ngClass]="{'tabel-div-overflow': headerCol.key== 'devices'}">
                            <span *ngIf="headerCol.key != 'enabled'">
                                {{headerCol.key == "priority" ? (alarm['isTypeIsAlarm'] == true ?
                                headerContent["priority"][alarm[headerCol.key]] : "") : (headerCol.key== "devices" ?
                                getDevicesOfAlarms(alarm[headerCol.key]) : alarm[headerCol.key])}}
                            </span>
                            <span *ngIf="headerCol.key == 'enabled'">
                                <input type="checkbox" [(ngModel)]="alarm[headerCol.key]"
                                    [disabled]="!currentAccess.edit" [ngModelOptions]="{standalone: true}"
                                    [title]="!currentAccess.edit ? 'Access Denied':''"
                                    [ngClass]="{'not-allowed-cursor':!currentAccess.edit}"
                                    (change)="currentAccess.edit ? enableOrDisableAlarm(alarm):''" />
                            </span>
                        </td>
                        <td style="width: 145px;" class="text-left">
                            <button class="btn" [disabled]="!currentAccess.edit"
                                (click)="currentAccess.edit ? onCreate('edit',alarm.id):''"
                                [title]="!currentAccess.edit ? 'Access Denied':'Edit'"
                                [ngClass]="{'not-allowed-cursor':!currentAccess.edit}">
                                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                            </button>
                            <button class="btn" [disabled]="!currentAccess.create"
                                [title]="!currentAccess.create ? 'Access Denied':'Clone'"
                                (click)="currentAccess.create ? onCreate('clone','clone&amp;'+alarm.id):''"
                                [ngClass]="{'not-allowed-cursor':!currentAccess.create}">
                                <fa-icon [icon]="['fas', 'clone']"></fa-icon>
                            </button>
                            <button class="btn" id="deleteAlarm{{alarm.id}}" data-toggle="modal"
                                [disabled]="!currentAccess.delete"
                                [title]="!currentAccess.delete ? 'Access Denied':'Delete'"
                                [attr.data-target]="!currentAccess.delete ? '': '#deleteModal'"
                                [ngClass]="{'not-allowed-cursor':!currentAccess.delete}"
                                (click)="deleteAlarmId = alarm.id;">
                                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete <b>
                    <!-- {{delete_name}} -->
                </b> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="dismissDelete" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary"
                    (click)="allowAccess('delete') ? deleteAlarm(deleteAlarmId) : ''" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>