

@mixin brand-button($color,$backgound-color,$button-hover,$hover-color)
{
  box-sizing: border-box;
  appearance: none;
  background-color:#fff;
  border:none;
  color: $color;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.1em 2.4em;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-family: $font-family;
  font-weight: 700;
  //box-shadow: 2px 2px 8px #151515;
  position: relative;
  margin: auto;  
}
.btn-elm-cancel
{
  @include brand-button($backgound-color,$back-hover,$backgound-color,$back-hover);

}
.btn-elm-save
{
  @include brand-button($blue,$button-first-bg,$back-hover,$backgound-color);
}
.btn-sign-in 
{
    @include brand-button($blue,$backgound-color,$back-hover,$backgound-color);
}
.btn-404
{
  margin: 0px !important;
  @include brand-button($blue, $backgound-color,$back-hover,$backgound-color);

}
.search-group
{
  max-width: 320px;
  color:#6c757d;
  .input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;

    .form-control {
      border: none;
      height: 38px;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
  }

  }
  span {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    line-height: 38px;
    left: 10px;
}
.input-group-append {
    margin-left: 0;
    z-index: 4;
}
}
.btn-add
{
  padding: 8px!important;
  
  @include brand-button($blue,$button-first-bg,$form-bg-two,$backgound-color); 
i
{
  font-size: 2em;
  vertical-align: middle;
 }
}
