<div class="kpi-widget">
  <div class="image-content" data-toggle="modal" (click)="onImageActionTrigger(9)"
    [attr.data-target]="isOnImageTriggerable && (chartOptions.isAction && chartOptions.isActionEnabled) ?'#triggerActionOnImage' + vData.widget_id:''"
    [ngStyle]="{
      'box-shadow':labelValue!=''?
        'inset 0px 0px 16px 0px ' +
        actionBgColor +
        ', 0px 0px 6px 0px ' +
        actionBgColor:''
    }"
    [ngClass]="{'with-only-label': (vData.isShowActionValue && !vData.isShowActionButtons), 'with-only-action': (!vData.isShowActionValue && vData.isShowActionButtons), 'not-allowed-cursor': (!isOnImageTriggerable || (!chartOptions.isAction ||  !chartOptions.isActionEnabled)),'only-image': (!vData.isShowActionValue && !vData.isShowActionButtons)}"
    [title]=" (chartOptions.isAction && chartOptions.isActionEnabled) && isImageOn?'Click to '+chartOptions.controlsData[1].label:isImageOff? 'Click to '+chartOptions.controlsData[0].label:''">
    <img class="image" *ngIf="chartOptions.img" [src]="chartOptions.img" />
  </div>

  <div class="data-content">
    <div class="value" *ngIf="vData.isShowActionValue">
      <h6>
        {{ labelValue }}
        <span>{{ labelUnit }}</span>
      </h6>
    </div>
    <ul *ngIf="vData.isShowActionButtons">
      <div class="data" *ngIf="chartOptions.isActionEnabled">
        <ng-container *ngFor="let item of chartOptions.write_register; let k = index">
          <li data-toggle="modal" [attr.data-target]="'#triggerActionModal_' + vData.widget_id" title="{{ item.label }}"
            [style.border]="'1px solid setData.color'" [style.backgroundColor]="item.color"
            (click)="triggerAction(item)">
            {{ item.label }}
          </li>
          <li class="history" title="History Of {{ item.label }}" [style.border]="'1px solid setData.color'"
            [style.backgroundColor]="item.color" (click)="item.labelActionId?actionHistory(item,0):''"
            data-toggle="modal" [attr.data-target]="!item.labelActionId?'':'#historyModal'+vData.widget_id"
            [ngClass]="{'not-allowed-cursor':!item.labelActionId}">
            <span class="fa fa-history">

            </span>
          </li>
        </ng-container>
      </div>
      <div class="data" *ngIf="chartOptions.isAction">
        <ng-container class="row" *ngFor="
        let actions of chartOptions.write_register_actions;
        let k = index
      ">
          <li data-toggle="modal" [attr.data-target]="'#triggerActionModal_' + vData.widget_id"
            title="{{ actions.label }}" [style.border]="'1px solid setData.color'"
            [style.backgroundColor]="actions.color" (click)="triggerAction(actions)">
            {{ actions.label }}
          </li>
          <li class="history" title="History Of {{ actions.label }}" [style.border]="'1px solid setData.color'"
            [style.backgroundColor]="actions.color" (click)="actions.labelActionId?actionHistory(actions,1):''"
            data-toggle="modal" [attr.data-target]="!actions.labelActionId?'':'#historyModal'+vData.widget_id"
            [ngClass]="{'not-allowed-cursor':!actions.labelActionId}">
            <span class="fa fa-history">
            </span>
          </li>
        </ng-container>
      </div>
    </ul>
  </div>
</div>
<div *ngIf="chartOptions.controlsData.length>0" aria-labelledby="" class="modal fade"
  [attr.id]="'triggerActionOnImage'+ vData.widget_id" role="dialog" data-backdrop="static" tabindex="-1"
  aria-modal="true">
  <div class="modal-dialog modal-dialog-component" role="document">
    <div class="modal-content">
      <div class="modal-header dropdown">
        <h6 class="modal-title">{{vData.title}}</h6>
        <span class="text-muted ml-auto"> Closes In {{timer}}</span>

      </div>
      <div class="modal-body">
        <p>Are you sure you want to
          <strong>{{isImageOn &&
            chartOptions.controlsData.length>1?chartOptions.controlsData[1].label:isImageOff?chartOptions.controlsData[0].label:''}}</strong>
          ?
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"
          (click)="triggerConfirmModal()">Yes</button>
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="triggerModalCancel()"
          [attr.id]="'triggerActionOnImageBtn' + vData.widget_id" type="button">No</button>
      </div>
    </div>
  </div>
</div>
<!-- action history modal for widget  -->
<div aria-labelledby="" class="modal fade modal-history" [attr.id]="'historyModal'+vData.widget_id" role="dialog"
  tabindex="-1" aria-modal="true">
  <div class="modal-dialog modal-dialog-component modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header dropdown">
        <h6 class="modal-title text-muted">
          History - {{headerWidgetLabel}}
          - {{headerLabelName}}
        </h6>
        <div class="search-group ml-auto mr-2" tabindex="1">
          <i class="search-icon fa fa-search"></i>
          <input class="search-input" placeholder="Search" type="search" [(ngModel)]="queryStringHistoryTable"
            [ngModelOptions]="{standalone:true}">
        </div>

        <ng-select bindValue="date_and_time" bindLabel="triggered_by" [clearable]="false"
          name="historyDefaultDropdownValue" ngDefaultControl [items]="historyExecutionDropdownList"
          [(ngModel)]="historyDefaultDropdownValue" (change)="actionHistoryInfo($event.execution_id)"
          placeholder="Activity">
          <ng-template ng-label-tmp let-item="item" [(ngModel)]="historyDefaultDropdownValue" ngDefaultControl>
            {{historyDefaultDropdownValue}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item['date_and_time']}} by {{item['triggered_by']}}
          </ng-template>
        </ng-select>
      </div>
      <div class="modal-body pt-0">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let th of historyExecutionData['header_content']">{{th['label']}}</th>

            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let tr of historyExecutionData['body_content']  | elmfilter : queryStringHistoryTable : ['asset_name','tag','value','status'] : true : 2 | slice:initialRangeHistoryExecutionTable:finalRangeHistoryExecutionTable; let i =index; trackBy:trackAssetControlList ">
              <td *ngFor="let td of historyExecutionData['header_content']">
                <span *ngIf="td['key']!='status'">
                  {{tr[td['key']]}}
                </span>
                <span *ngIf="td['key']=='status'">
                  <span *ngIf="tr[td['key']]=='success'">
                    <span class="table-status success">
                      {{tr[td['key']]}}
                    </span>
                  </span>
                  <span *ngIf="tr[td['key']]=='failed'">
                    <span class="table-status failed">
                      {{tr[td['key']]}}
                    </span>
                  </span>
                </span>
              </td>
            </tr>


          </tbody>
        </table>

        <div class="btn-load-more"
          *ngIf="isHistoryExecutionTableLoadMore && (historyExecutionData['body_content'] | elmfilter : queryStringHistoryTable : ['asset_name','tag','value'] : true : 2).length>30">
          <button (click)="loadMoreHistoryLists()" class="btn btn-sm  btn-outline-primary"><i class="fa fa-repeat"></i>
            Load More</button>
        </div>

        <!-- Page Loading -->
        <div *ngIf="isHistoryLoading" class="position-relative h-100">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <!-- Page Loading -->

        <!-- No Data Found -->
        <div class="empty-history" *ngIf="isHistoryDataMessage">

          <span class="fa fa-clock-o">
          </span>
          <h6 class="text-muted">
            History data not found
          </h6>
          <p>
            Choose another activity from the activity list to view the history of other schedules.
          </p>
        </div>
        <!-- No Data Found -->

        <!-- Error Message -->
        <div class="error-history" *ngIf="isHistoryResponse">
          <div class="empty-history">
            <span class="fa fa-refresh">
            </span>
            <h6 class="text-muted">
              Failed
            </h6>
            <p class="text-muted">
              Invalid response from server. Please try again later.
            </p>
            <button class="btn btn-sm btn-link widget-text-color"
              (click)="actionHistory(retryActionId,$event.execution_id)">
              <i class="fa fa-repeat"></i>
              Try Again
            </button>
          </div>
        </div>
        <!-- Error Message -->

        <!-- No Search Result Found  -->
        <div
          *ngIf="!isHistoryDataMessage && !isHistoryResponse && !isHistoryLoading && (historyExecutionData['body_content'] | elmfilter : queryStringHistoryTable : ['asset_name','tag','value','status'] : true : 2).length===0"
          class="d-flex align-items-center justify-content-center flex-column h-100">
          <h6 class="text-muted">
            No results found
          </h6>
          <p class="text-muted">

          </p>
        </div>
        <!-- No Search Result Found  -->

      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" type="button"
          (click)="cancelHistoryInfoModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>