<div class="main-content" id="dashBoradContainerMain">
    <div class="sub-main-content bg-transparent" id="dashBoradContainer"
        [ngClass]="{'no-filter': !showDashboardFilter }">
        <!-- [ngClass]="showDashboardFilter? 'col-8' : 'col-10'" style="padding:5px;" -->
        <ng-container *ngIf="dWidgetsLoading">
            <ng-container *ngIf="wcType === 'show' && !showWdgConfig">
                <!-- widget data showing component -->
                <kl-wdg-show *ngIf="dWidgets['wcData']" [wcData]="dWidgets['wcData']"
                    (saveResizeEmitter)="wdgConfigActions($event)" [resizeWidgetEvent]="resizeWidgetLevelSubject"
                    [dashboardInfo]="dashboardInfo" [filteredData]="filteredData"
                    (editWidgetEmitter)="editWidget($event)" (deleteWidgetEmitter)="handleDeleteWidget()"></kl-wdg-show>
            </ng-container>
            <!-- <ng-container *ngIf="wcType === 'create'">
                <kl-wdg-create></kl-wdg-create>
            </ng-container>
            <ng-container *ngIf="wcType === 'edit'">
                <kl-wdg-edit></kl-wdg-edit>
            </ng-container>
            <ng-container *ngIf="wcType === 'config'">
                <kl-wdg-config></kl-wdg-config>
            </ng-container> -->
            <ng-container *ngIf="showWdgConfig">
                <!-- Widget configuration component -->
                <kl-wdg-create [widgetConfigData]="editWidgetData" (wdgConfigEmitter)="wdgConfigActions($event)"
                    [dashboardInfo]="dashboardInfo" [pageType]="dashboardInfo.pageType"></kl-wdg-create>
            </ng-container>
        </ng-container>
    </div>

    <div [hidden]="!showDashboardFilter">

    </div>
</div>

<!--Dashboard filter component-->
<kl-dashboard-filters *ngIf="!showWdgConfig" (filterEmitter)="filterActions($event)"></kl-dashboard-filters>

<!-- 

<div *ngIf="showWdgConfig">
    <div id="loader-wrapper-submaincontent">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div> -->