<!-- More Info Modal -->
<div class="modal-content h-100">
    <div class="modal-header">
        <h6 class="modal-title text-muted">
            {{headerTitle}}
        </h6>
        <ng-container *ngIf='!hideTemplateContents'>
            <div class="asset-control-status"
                [ngClass]="{'scheduled': isActionMoreInfoSchedule==true, 'not-scheduled': isActionMoreInfoSchedule==false }"
                *ngIf="!isActionMoreInfoResponse && !isActionMoreInfoData && !isMoreInfoLoading">
                <p *ngIf="isActionMoreInfoSchedule==true">
                    <i class="fa fa-clock-o"></i>
                    Scheduled
                </p>
                <p *ngIf="isActionMoreInfoSchedule==false">
                    <i class="fa fa-clock-o"></i>
                    Not scheduled
                </p>
            </div>
        </ng-container>
    </div>
    <div class="modal-body pt-0">
        <div class="tab-pane-container"
            *ngIf="!isActionMoreInfoResponse && !isActionMoreInfoData && !isMoreInfoLoading">
            <ng-container *ngIf='!hideTemplateContents'>
                <div class="tab-pane-contnet row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">
                                Labels
                            </label>
                            <div class="label-group">
                                <div class="label-block" *ngFor="let label of actionMoreInfoData['labels']">
                                    {{label}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf='!hideTemplateContents'>
                <div class="tab-pane-contnet row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <p class="">
                                {{actionMoreInfoData['description']}}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="tab-pane-contnet row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label">Created By </label>
                        <p class="asset-user"><i class="fa fa-user-o"></i> {{actionMoreInfoData['created_by']}}
                            at
                            {{actionMoreInfoData['created_at']}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label">Modified By</label>
                        <p class="asset-user"><i class="fa fa-user-o"></i>
                            {{actionMoreInfoData['last_modified_by']}}
                            at
                            {{actionMoreInfoData['last_modified_at']}}</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane-contnet row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label">Asset Info</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th *ngFor="let th of actionMoreInfoData['header_content']">
                                        {{th['label']}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let tr of actionMoreInfoData['body_content'] | slice:initialRangeActionMoreInfoTable:finalRangeActionMoreInfoTable; let i=index; trackBy:trackAssetControlList">
                                    <td *ngFor="let td of actionMoreInfoData['header_content']">
                                        {{tr[td['key']]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-load-more" *ngIf="isActionMoreInfoLoadMore">
                        <button (click)="loadMoreInfo()" class="btn btn-sm  btn-outline-primary"><i
                                class="fa fa-repeat"></i> Load More</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Loading -->
        <div *ngIf="isMoreInfoLoading" class="position-relative h-100">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- Page Loading -->
        <!-- No Data Found -->
        <div class="empty-history" *ngIf="isActionMoreInfoData">

            <span class="fa fa-clock-o">
            </span>
            <h6 class="text-muted">
                {{headerTitle}} data not found
            </h6>
        </div>
        <!-- No Data Found -->
        <!-- Error Message -->
        <div class="error-history" *ngIf="isActionMoreInfoResponse">
            <span class="fa fa-refresh">
            </span>
            <h6 class="text-muted">
                Failed
            </h6>
            <p class="text-muted">
                Invalid response from server. Please try again later.
            </p>
            <button class="btn btn-sm btn-link widget-text-color" (click)="moreInfoForAction()">
                <i class="fa fa-repeat"></i>
                Try Again
            </button>
        </div>
        <!-- Error Message -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" data-dismiss="modal" type="button"
            (click)="moreInfoCancel()">Close</button>
    </div>
</div>

<!-- More Info Modal Ends -->