<ng-container *ngIf='!isAddEditPage'>
  <div class="main-content">
    <div class="sub-main-content">
      <div class="table-container">
        <div class="table-header border-bottom">
          <div class="float-right">
            <button type="button" class="btn btn-primary btn-sm" (click)="add_sms_gateway()">+ Add</button>
          </div>
        </div>
        <div class="table-content">
          <div class="height_setup m-2">
            <div *ngIf="pageLoaded" class=" centered-content">
              <table class="table table-bordered" *ngIf="bodyContent_length !== 0">
                <tr>
                  <th>S.No</th>
                  <th *ngFor="let headerContent of table_data.headerContent">{{headerContent.label}}</th>
                  <th>System Defaults</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let bodyContent of table_data.bodyContent; let _index= index">
                  <td>{{_index + 1}}</td>
                  <td *ngFor="let headerContent of table_data.headerContent">{{bodyContent[headerContent.key]}}</td>
                  <td> <input type="checkbox" name="system_defaults" class="check-mark"
                      (change)="toggleVisibility($event,bodyContent)" [checked]="bodyContent.system_defaults"></td>
                  <td>
                    <button (click)="edit(bodyContent)" class="btn border-0 bg-white centered-content">
                      <!-- <fa-icon [icon]="['fas', 'edit']"></fa-icon> -->
                      <i class="elm-edit-2"></i>
                    </button>
                    <button data-toggle="modal" data-target="#delete" (click)="delete(bodyContent)"
                      class="btn border-0 bg-white centered-content">
                      <i class="elm-trash"></i>
                      <!-- <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> -->
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="!pageLoaded">
              <div id="loader-wrapper-submaincontent">
                <div class="lds-ring">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to delete <b>{{delete_name}}</b> ?
        </div>
        <div class="modal-footer">
          <!-- (click)="confirmdelete()" -->
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="accessLevel.delete ? confirmdelete() : '' "
            data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf='isAddEditPage'>
  <kl-addeditsmsgateway [courseId]='sms_gateway_id' [accessLevel]='accessLevel'
    (changeViewEmitter)='changeView($event)'></kl-addeditsmsgateway>
</ng-container>