<div class="graphContainer" #graphContainer></div>


<!-- CONTEXT MENU -->
<div class="context" *ngIf='contextMenuEnabled'
    [ngStyle]="{'top.px' : _preview.contextMenuTop, 'left.px':_preview.contextMenuLeft}">
    <div class="manage-overflow">
        <span class="shape-title" title="{{ context_shape_name }}">{{ context_shape_name}}</span>
    </div>
    <div class="context_hr"></div>
    <div class="context-item reduced-height">
        <div class="inner-item pe-none">
            Configuration Info
        </div>
    </div>
    <div class="context-item" data-toggle="modal"
        (click)="isCellConfigured ? contextMenuEnabled = false : ''; contextMenuEnabled = false; highligtOut.highlight(null)"
        [attr.data-target]="isCellConfigured ? '#configurationModal' : ''"
        [ngClass]="{'cursor-pointer': isCellConfigured,'field-disabled': !isCellConfigured }">
        <div class="context-title hover-title mt-0">
            Live Data
        </div>
    </div>
    <div class="context-item context-submenu">
        <div class="context-title hover-title mt-0"
            [ngClass]="{'cursor-pointer': isCellAssetRemote && scadaData.isOwner,'field-disabled': !isCellAssetRemote }">
            Asset Control
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="context_hr"></div>
        <div [ngClass]="{'sub-menu': isCellAssetRemote}"
            [ngStyle]="{'top.px': _preview.subMenuContentsTop, 'left.px':_preview.subMenuContentsLeft}">
            <div class="context-item cursor-pointer">
                <div class="inner-item" data-toggle="modal" data-target="#actionMoreInfo"
                    (click)='actionMoreInfo.moreInfoForAction(_preview.action_id); contextMenuEnabled = false; highligtOut.highlight(null)'>
                    Action Info
                </div>
            </div>
            <div class="context-item cursor-pointer" data-toggle="modal" data-target="#actionHistory"
                (click)='actionHistory.actionHistory(_preview.action_id); contextMenuEnabled = false; highligtOut.highlight(null)'>
                <div class="inner-item">
                    History
                </div>
            </div>
            <div class="context-item cursor-pointer">
                <div class="inner-item align-contents" data-toggle="modal"
                    [ngClass]="{'field-disabled': !scadaData.isOwner}"
                    [attr.data-target]="(scadaData.isOwner)? '#actionTrigger' : ''"
                    (click)="(scadaData.isOwner) ? triggerCountDown() : '';contextMenuEnabled = false;">
                    <span>Trigger</span>
                </div>
            </div>
        </div>
    </div>
    <div class="context_hr"></div>
    <div class="context-item cursor-pointer" data-toggle="modal" data-target="#propertiesModal"
        (click)='contextMenuEnabled = false; highligtOut.highlight(null)'>
        <div class="context-title prop-align  hover-title">
            Properties
        </div>
    </div>
</div>

<!-- ASSET CONTROL TRIGGER -->
<button class="d-none" id="contextTrigger" data-toggle="modal" data-target="#actionTrigger"></button>
<div aria-labelledby="" class="modal fade" id="actionTrigger" role="dialog" tabindex="-1" aria-modal="true">
    <div class="modal-dialog modal-dialog-component" role="document">
        <div class="modal-content">
            <div class="modal-header trigger-title trigger-popup dropdown">
                <span class="fs-1rem">Confirm </span>
                <span class="text-muted ml-auto">Closes in {{_preview.countDown}}</span>
            </div>
            <div class="modal-body trigger-body trigger-popup-height trigger-message">
                <div class="row trigger-row">
                    <span class="confirm-message">Are you sure you want to trigger</span>
                </div>
                <div class="row trigger-row">
                    <h6 class="trigger-name" title="{{_preview.cell_name}}">{{_preview.cell_name}} <span
                            class="font-weight-normal">?</span></h6>
                </div>
            </div>
            <div class="modal-footer trigger-popup">
                <button class="btn btn-sm btn-primary" type="button"
                    (click)="triggerConfirm(); contextMenuEnabled = false; highligtOut.highlight(null)"
                    data-dismiss="modal">Yes</button>
                <button class="btn btn-sm btn-secondary" id="dismissTriggerModal" data-dismiss="modal"
                    (click)=" contextMenuEnabled = false; highligtOut.highlight(null)" type="button">No</button>
            </div>
        </div>
    </div>
</div>


<!-- ASSET CONTROL HISTORY -->
<div id="actionHistory" class="modal fade overflow-y-hidden" role="dialog">
    <div class="modal-dialog modal-dialog-component modal-xl modal-history modal_height">
        <kl-asset-control-history action_id='{{ actionHistory }}' pageType='scada'
            headerTitle="History - {{_preview.cell_name}}" #actionHistory>
        </kl-asset-control-history>
    </div>
</div>

<!-- ASSET CONTROL MOREINFO -->
<div id="actionMoreInfo" class="modal fade overflow-y-hidden" role="dialog">
    <div class="modal-dialog modal-dialog-component modal-xl modal_height">
        <kl-asset-control-more-info class="h-100" action_id='{{ actionMoreInfo }}' typeOfAction='scada'
            headerTitle='Action Info - {{_preview.cell_name}}' pageType='scada' #actionMoreInfo>
        </kl-asset-control-more-info>
    </div>
</div>

<!-- PROPERTIES MODAL  -->
<div id="propertiesModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-component">
        <div class="modal-content">
            <div class="modal-header dropdown">
                <h5 class="modal-title">Element Properties</h5>
            </div>
            <div class="modal-body m-1 row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td class="text-left pl-23 background-f1">
                                <span class="ml-1-8rem" title="{{context_shape_name}}"> {{
                                    context_shape_name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td class="text-left pl-23 background-f1">
                                <span class="ml-1-8rem" title="{{context_shape_name}}"> {{ cell_id
                                    }}</span>
                            </td>
                        </tr>
                        <tr *ngFor='let styles of cellPropertyData.body_content; let i = index'>
                            <td [ngClass]="{ 'border-0' : i==2 && styles.value }">{{styles.key}}</td>
                            <td [ngClass]="{ 'border-0' : i==2 && styles.value }" class="text-left pl-23 background-f1">
                                <span
                                    [ngClass]="{'style-value' : i==2 && styles.value,'ml-1-8rem': !(i==2 && styles.value)}">
                                    {{ styles.value | titlecase }}
                                </span>
                                <span>
                                    <i *ngIf='i == 2 && styles.value' class="elm-unchecked-radio-button fs-25"
                                        [ngStyle]="{'color': ((_preview.hexReference[styles.value]) ? _preview.hexReference[styles.value] : styles.value ) }"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIGURATION MODAL -->
<div id="configurationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-component modal-xl modal-height">
        <div class="modal-content h-100">
            <div class="modal-header">
                <h5 class="modal-title text-overflow">Live Data - {{ context_shape_name }}</h5>
            </div>
            <div class="modal-body">
                <div class="configured-conditions">
                    <div class="row w-100 m-0">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4">
                            <label>Asset</label>
                            <input type="text" class="form-control" value='{{configPopupData.device}}' disabled>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4">
                            <label>Tag</label>
                            <input type="text" class="form-control" value='{{configPopupData.tag}}' disabled>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 arrange">
                            <input type="checkbox" class="form-control input-checkbox form-background"
                                [checked]='configPopupData.showValue' disabled>
                            <span class="form-check-label mx-1 show-check">Show Value</span>
                        </div>
                    </div>
                    <div class="row w-100 m-0">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4">
                            <label>Restrict decimal to</label>
                            <input type="text" class="form-control" value='{{configPopupData.decimal}}' disabled>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4">
                            <label>Unit</label>
                            <input type="text" class="form-control" value='{{configPopupData.unit}}' disabled>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 arrange">
                            <input type="checkbox" class="form-control input-checkbox form-background"
                                [checked]='configPopupData.showUnits' disabled>
                            <span class="form-check-label mx-1 show-check">Show Units</span>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf='!configPopupData.conditionsExist'>
                    <h4 class="no-conditions">Conditions not added</h4>
                </ng-container>
                <ng-container *ngIf='configPopupData.conditionsExist'>
                    <table class="table m-0">
                        <thead>
                            <th *ngFor='let contents of configPopupData.header_content'>{{contents}}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let contents of configPopupData.body_content'>
                                <ng-container *ngIf='contents.progress_labels;else notProgress'>
                                    <td><label class="mt-2">-</label></td>
                                    <td> - </td>
                                    <td>{{contents.action | titlecase}}</td>
                                    <td><span>{{contents.progress_labels}}</span></td>
                                </ng-container>
                                <ng-template #notProgress>
                                    <td><label class="mt-2">{{contents.compare}}</label> </td>
                                    <td>{{contents.c_value}}</td>
                                    <td>{{contents.action | titlecase}}</td>
                                    <td>
                                        <input type="text" class="hideHex" [value]="contents.rawColor" #hexColor>

                                        <span *ngIf='contents.isColor'><i class="elm-unchecked-radio-button fs-25"
                                                [ngStyle]="{'color': contents.rawColor}"></i>
                                        </span>
                                        <span *ngIf='contents.action == "Image"'>
                                            <img class="image-action" [src]="contents.a_value" alt="" height="50"
                                                width="50">
                                        </span>
                                        <span *ngIf='contents.action !== "Image"'
                                            [ngClass]="{'content-position ripple':
                                                contents.isColor, 'visibility-styles ':contents.action == 'Visibility'}">
                                            {{contents.a_value}}
                                            <i *ngIf='contents.isColor' title="copy {{contents.rawColor}} to clipboard"
                                                (click)='copyInputMessage(hexColor)' class="fa fa-files-o ml-2"
                                                aria-hidden="true"></i>
                                        </span>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- NAVIGATION BUTTONS  -->
<div class="btnGroupContainer">
    <ng-container *ngIf='_handleGraph.graph && _handleGraph.graph.zoomEnabled'>
        <div class="btnGroup extra">
            <button (click)="zoomInGraph()" type="button" class="button" id="zoomin">
                <span class="fa fa-plus">
                </span>
                <span class="tooltip">
                    ZoomIn
                </span>
            </button>
            <div class="seperator"></div>
            <button (click)="zoomOutGraph()" type="button" class="button" id="zoomout">
                <span class="fa fa-minus">
                </span>
                <span class="tooltip">
                    ZoomOut
                </span>
            </button>
        </div>
        <div class="btnGroup">
            <button (click)="resetGraph()" type="button" class="button" id="reset">
                <span class="fa fa-repeat">
                </span>
                <span class="tooltip">
                    Reset
                </span>
            </button>
        </div>
    </ng-container>
    <div *ngIf='scadaData.isOwner' class="btnGroup" id="editBtnGroup">
        <button [ngClass]="(scadaData.isOwner && hasEditAccess)? '' : 'isNotAllowed'"
            (click)="(scadaData.isOwner && hasEditAccess)? editGraph() : '' "
            [title]="(scadaData.isOwner && hasEditAccess)? '' : 'Access Denied'" type="button" class="button" id="edit">
            <span class="fa fa-edit">
            </span>
            <span class="tooltip">
                Edit
            </span>
        </button>
    </div>

</div>