.btnGroupContainer {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 99;
}

.tooltip {
  display: none;
  opacity: 1;
}

.btnGroup {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  width: 32px;
  height: 32px;
  position: relative;
  margin-bottom: 10px;
}

.btnGroup.extra {
  height: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.seperator {
  width: 80%;
  height: 0.5px;
  background: #888c9b;
  margin: auto;
}

.button {
  display: block;
  /* overflow: hidden; */
  cursor: pointer;
  transition: background-color 0.16s ease-out;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.button span {
  color: #455a64;
  font-size: 13px;
}

.tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-125%, -50%);
  background: #455a64;
  padding: 8px 10px;
  border-radius: 6px;
  color: #ffff !important;
  font-size: 13px !important;
  font-weight: 700;
}

.tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #455a64;
  right: 0;
  transform: translate(90%, -50%);
  top: 50%;
}

.button:hover,
.button:focus {
  outline: none !important;
}

.button:hover .tooltip {
  display: block;
}

.button:hover .fa {
  color: #008bfe;
}

#reset .fa {
  transform: scale(-1, 1);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.loader-rings {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-rings div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader-rings 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2d7bdb transparent transparent transparent;
}
.loader-rings div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader-rings div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader-rings div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader-rings {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#sld-loader {
  margin: 10% 0 0 0;
}
#loader-container {
  z-index: 41;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #e9eaed;
  text-align: center;
}
.isNotAllowed {
  cursor: not-allowed !important;
}
tr {
  text-align: center;
}
.modbus_info_span {
  font-size: 15px;
  line-height: 2rem;
}

.table td,
.table .thead th,
.ui-sortable-handle .draggable i {
  font-size: 16px;
}
.table th {
  border: none !important;
  color: #484a4b !important;
}
.table .thead th,
.ui-sortable-handle.grabbing {
  left: 10px !important;
  right: 10px !important;
  margin: auto;
  width: 100%;
}
.table .thead-dark th {
  vertical-align: middle;
  color: black;
  background: transparent;
  padding: 0px 7px !important;
  border-top: 1px solid #dee2e6 !important;
  border-bottom: 0px solid transparent;
}
.table {
  margin-bottom: 10px;
}
.table .thead th,
.ui-sortable-handle.grabbing.ui-sortable-helper .draggable .fa-circle-o:before {
  background: #e5e5e5;
  transform: scale(1.1) rotate(90deg);
  vertical-align: middle;
}

thead tr {
  border-top: none;
  vertical-align: middle !important;
}
thead th,
.modbus_info_div {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 9;
  height: 45px;
  padding: 0px 5px;
  vertical-align: middle !important;
  text-align: left;
  font-size: 14px;
  color: #888c9b;
  max-width: 150px;
  min-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-top: 0.2px solid #e9ecef;
  border-bottom: none;
  font-weight: 500;
  box-shadow: 5px 2px 9px 0px #e9eaedb0;
}
tbody tr {
  vertical-align: middle;
  background: #fff;
}
tbody tr td:first-child {
  position: sticky;
  left: 0px;
}
th:first-child {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background: white;
  text-align: initial;
}
tr td:nth-child(2),
th:nth-child(2) {
  padding-left: 12px !important;
}

tbody {
  overflow: auto;
}
tbody tr td {
  height: 45px;
  padding: 0px 5px;
  vertical-align: middle;
  text-align: left;
  color: #888c9b;
  max-width: 150px;
  min-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  overflow: visible;
  font-size: 10pt;
  overflow: hidden;
}
tbody tr:last-child {
  border: none;
}
.modbus_info_div {
  width: 100%;
  max-width: 100%;
  text-align: center;
  min-height: 30px;
}
.fa-exclamation-triangle {
  padding: 10px;
}
.loader-rings {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdbs_loader {
  position: absolute !important;
  z-index: 100;
  background: white;
  left: 50%;
}

.modal_height {
  height: calc(100% - 8%);
}
.retry_request {
  position: relative;
  top: calc(50% - 100px);
  margin: 0 auto;
  border-radius: 65%;
}
.retry_request label {
  font-size: initial;
  color: #6c757d;
}
.modal-body {
  text-align: center;
  overflow: auto;
}
.fa-refresh,
.fa-exclamation-circle {
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.15);
}
.modal-header h6,
.no_results_found {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  margin-bottom: 4px;
}
.modal-header {
  align-items: flex-end;
}
.mdbsSearch {
  padding: 5px !important;
  width: 50%;
  border: 1px solid #b7b7b7 !important;
}
.no_results_found {
  font-size: 1rem;
  background: #eaeaea;
  color: #7d7e80;
  padding: 10px;
  box-shadow: 5px 2px 9px 0px #e9eaedb0;
}
.modal {
  height: 100%;
}
.main-loader {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
.context,
.sub-menu {
  font-size: 1.1em;
  position: absolute;
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 6px 2px #50505073;
  margin: 3px 0px 3px 0px;
  z-index: 10;
  .context-item,
  .context-title {
    height: 32px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10pt;

    .inner-item:hover,
    .hover-title:hover {
      background-color: #eeeeee;
    }
    .inner-item {
      padding: 0px 25px;
      i {
        margin: 0 5px 0 0;
        font-weight: bold;
      }
    }
  }
  .context_hr {
    height: 2px;
    border-top: 1px solid #e8dddd;
  }
}
.context-title {
  padding: 0px 0px 0px 38px;
}
.context-item {
  margin: 3px 0px 3px 0px;
}

.cursor-pointer {
  cursor: pointer;
}
.field-disabled {
  color: #afafaf;
  // background: #f3f2f2;
}

.align-center {
  align-self: center;
}
.align-contents {
  display: flex;
  justify-content: space-between;
}
.trigger_anime {
  color: rgb(69, 90, 100);
}
.modal-height {
  height: calc(100% - 10%);
}
.fs-1rem {
  font-size: 1rem;
}
.sub-menu {
  position: absolute;
  display: none;
}

.context-submenu:hover > .sub-menu,
.sub-menu:hover {
  display: block;
}
.fs-25 {
  font-size: 25px;
  border-radius: 50%;
}
.content-position {
  position: absolute;
  margin: 8px;
}
.border {
  margin: 1%;
  border-top-right-radius: 3%;
}
.prop-Item {
  height: 20%;
  display: flex;
  align-items: center;
  margin: 0px 24px;
  border-bottom: 1px solid gainsboro;
  box-shadow: 0px 8px 6px -7px #dedede;
}
.prop-Item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.margin-a span {
  margin: 0 auto;
}
.pad-ten span {
  padding: 10%;
}
.h-80 {
  height: calc(100% - 10%);
}
.scada_loader {
  display: block;
  top: 36%;
  left: 6%;
  margin: 0 auto;
  position: relative;
}
.configured-conditions {
  padding: 25px 25px;
  margin: 10px 10px;
  background: #f9f9f9;
}
.form-group {
  text-align: left;
}
.w-100 .form-group label {
  font-size: initial;
}
.w-100 .form-group .form-control {
  border: 1px solid #f9f9f9;
  color: #909194;
}
.w-100 .form-group .form-control:disabled {
  background-color: #ffffff;
}
.show-activity {
  align-self: flex-end;
}
.color-green {
  color: green;
}
.color-red {
  color: red;
}
.no-conditions {
  padding: 46px;
  margin: 10px 10px;
  color: #a9acb7;
  font-size: 1.5rem;
  border: 1px solid #f9f9f9;
}
.modal-history .modal-header {
  height: 60px;
}
.modal-history .modal-content {
  td:last-child,
  th:last-child {
    text-align: center !important;
  }
  .search-group {
    height: 36px;
  }
}
.fa-caret-right {
  float: right;
  margin: 8px;
  font-size: 1rem;
}

:host-context() ::ng-deep .context {
  margin-left: 0px;
}
:host-context(.pin-sidebar) ::ng-deep .context {
  margin-left: calc(40px - var(--sidebarWidth)) !important;
}
.trigger-popup {
  height: 45px;
  overflow: hidden;
}
.trigger-popup-height {
  height: 5rem;
}
.modal-body[_ngcontent-ywx-c9] p[_ngcontent-ywx-c9] {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0px;
  color: #888c9b;
}
.trigger-body {
  line-height: 1;
  color: #888c9b;
}
.trigger-title {
  line-height: 0.5;
}
input[type='checkbox']:checked:after {
  content: '';
  left: 6px;
  top: 1px;
  width: 6px;
  height: 13px;
  border: solid #909194;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
}

.confirm-message {
  font-size: 0.8rem;
}
.input-checkbox {
  height: 20px;
  width: 20px;
  font-size: 31px;
  line-height: 1;
  position: absolute;
}

.input-checkbox:after {
  content: 'X';
  font-size: 14px;
  left: 5px;
  top: 3px;
  font-weight: bold;
  width: 0;
  border: #909194;
  height: 0;
  border-width: 0 2px 2px 0;
  position: absolute;
}
.arrange {
  line-height: 1.5;
  padding-top: 40px;
}
.show-check {
  margin-left: 25px !important;
}
.action-name {
  white-space: pre;
  overflow: hidden;
  max-width: 200px;
  display: inline-block;
  text-overflow: ellipsis;
}
.cell-name {
  white-space: pre;
  overflow: hidden;
  max-width: 100px;
  display: inline-block;
  text-overflow: ellipsis;
}
.trigger-confirm {
  line-height: 0.8;
}
.trigger-name {
  font-size: 0.9rem;
  font-weight: bold;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 6px;
}
.trigger-row {
  display: block;
  width: 50%;
  margin: auto;
}
.form-background:disabled {
  background-color: #f9f9f9 !important;
}
.style-value {
  position: absolute;
  line-height: 2.7;
  margin-left: 29px;
}
.pl-23 {
  padding-left: 2.3rem !important;
}
// .background-f1{
//   background: #f1f1f1c2;
// }
.ml-1-8rem {
  margin-left: 1.7rem;
}
.elm-unchecked-radio-button:before {
  background: #e6e6e6;
  border-radius: 50%;
}
.table th,
.table td {
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}
.manage-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 28px 0px 24px;
  background: #0000000d;
  /* text-align: center; */
  margin: 1px;
}

.manage-overflow span {
  color: #ada9a9;
}
.context-header {
  text-align: center;
}
.text-overflow {
  white-space: nowrap;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pe-none {
  pointer-events: none;
}
.reduced-height {
  height: 15px !important;
  line-height: 1 !important;
}
.shape-title {
  font-size: 15px;
}
.prop-align {
  padding: 0px 0px 0px 25px;
}
// #previewContainer{
//   height: 100%;
//   width: 100%;
//   overflow:auto;
// }

.sub-main-content {
  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
  }
}
.image-action {
  margin: 0.5rem;
}
.visibility-styles {
  margin: 0px 0px 0px 1rem;
}
.hideHex {
  position: absolute;
  z-index: -100;
}
.ripple {
  border-radius: 50px;
  background-position: center;
  transition: background 0.8s;
}
.ripple:active {
  background-color: rgb(252, 251, 251);
  background-size: 100%;
  transform: scale(1.01);
  transition: background 0s;
}
.zIndex-1070{
  z-index: 1070;
}
.overflow-y-hidden {
  overflow-y: hidden!important;
}