.gateway-silo
{
  .gateway-header 
    {
    //  height: 60px;
     display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .button-group-container
    {
      margin-right: 15px;      


    }
}


.form-body.modal-body
{
  height:calc(100% - 45px);
  overflow: auot;
}
.lds-ring
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
