.widget-container
{
    // background-color: #f1f3fa !important;
    padding:0px;
    height: auto;
    min-height: 100%;
    &.wdgReport
    {
        height:100%;
        width:100%;
        max-height:100%;
        &>div
        {
            height:100%;
            width:100%;
            .grid-stack
            {
                height:100% !important;
                width:100%;
                .grid-stack-item
                {
                    height:100%;
                    width:100%;
                    max-height: 100%;
                }
            }
        }
    }
}
.card-body{
    padding: 0.7rem;
}

.grid-stack
{
    z-index: 3;
}
.grid-stack-item {
  
    // box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
    display: flex;
    border:none;
    
    flex-direction: column;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;
    border-radius: .2857rem;   
    .grid-stack-item-content
    {
        z-index: auto !important;
    }
}



.widget-icon {
    font-size: 0.9rem;
    padding-left: 7px;
}

.widget-block {
    box-shadow: none !important;
    border: 1px gray solid;
    margin: 0;
}

.dropdown-toggle::after {
    display:none;
}
.grid-stack-item-content
{
    z-index: auto !important;
}


.card
{
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

// .grid-stack-item-content
// {
//     left: 0px !important;
//     right: 0px !important;
// }