

// .error {
//   border: 1px solid red !important;
// }

// .border-box {
//   border: 1px solid #cac5c5;
// }

// .header-container
//   {
//     height: 45px;
//     display: flex;
//     align-items: center;  
//     padding-left: 15px;
//     border-bottom: 1px solid #ccc;
//     justify-content: center;
//   }
.toggle-collepsed
{
  i
  {
    display: inline-block;
    transform: rotate(90deg);
  }
}
input[type="checkbox"]
{
  margin-right:5px;
}
.bg-light
{
background: #f6f7f9 !important;
padding: 7px;
}
.lds-ring
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }