<div class="main-content">
  <div class="sub-main-content">
    <div *ngIf="isPageLoading" class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div *ngIf="!isPageLoading" class="form-container">
      <div class="header-container justify-content-center">
        <kl-wizard #WizardComponent [data]=settings [changeStep]="step_number" (step)="getstepnumber($event)">
        </kl-wizard>
      </div>
      <div *ngIf="step_number === 1" class="body-container">
        <form class="form-container">
          <div class="body-container overflow-auto">
            <div class="col-md-6 d-inline-block" *ngIf="alarmConf">
              <div class="form-group">
                <label for="alarmName">Name <span class="color-red">&nbsp;*</span></label>
                <input autocomplete="off" type="text" name="alarmName" class="form-control " placeholder="Enter name"
                  [(ngModel)]="alarmConf['alarmName']" required #alarmName="ngModel"
                  [ngClass]="{ 'error' : alarmName.invalid && alarmName.touched }" />
              </div>
              <div class="form-group">
                <label for="alarmDescription">Description</label>
                <textarea name="alarmDescription" class="form-control " placeholder="Enter description"
                  [(ngModel)]="alarmConf['alarmDescription']"></textarea>
              </div>
              <div class="form-group">
                <label for="alarmType">Type <span class="color-red">&nbsp;*</span></label>
                <select name="alarmType" class="form-control " [(ngModel)]="alarmConf['alarmType']" required
                  #alarmType="ngModel" (change)="onAlarmTypeChange(alarmConf['alarmType'])"
                  [ngClass]="{ 'error' : alarmType.invalid && alarmType.touched }">
                  <option>Alarm</option>
                  <option>Event</option>
                  <option>Status</option>
                </select>
              </div>
              <div class="form-group">
                <label for="devices">Assets <span class="color-red">&nbsp;*</span></label>
                <ng-select bindValue="value" name="devices" [items]="headerContent['devices']"
                  placeholder="Select assets" [(ngModel)]="alarmConf['devices']" [required]="true" [clearable]="true"
                  #devices="ngModel" [multiple]="true" [ngClass]="{ 'error' : devices.invalid && devices.touched }">
                </ng-select>
              </div>
              <div class="form-group" *ngIf="alarmConf['alarmType']!='Status'">
                <label for="alarmType">Data Frequency</label>
                <ng-select bindValue="value" bindlabel="label" name="alarmCategory" [items]="alarmCategoryList"
                  [(ngModel)]="alarmConf['alarmCategory']" [required]="true" [clearable]="false"
                  #alarmCategory="ngModel" [multiple]="false"
                  [ngClass]="{ 'error' : alarmCategory.invalid && alarmCategory.touched }"
                  (change)="onCategoryChange($event)">
                </ng-select>
              </div>
              <div class="form-group"
                *ngIf="alarmConf['alarmType']!='Status'?(alarmConf['alarmCategory']!='live'?true:false):''">
                <label for="alarmType">Function</label>
                <ng-select bindValue="value" bindlabel="label" name="alarmDuration" [items]="alarmDurations"
                  [(ngModel)]="alarmConf['alarmDuration']" [required]="true" [clearable]="false"
                  #alarmDuration="ngModel" [multiple]="false"
                  [ngClass]="{ 'error' : alarmDuration.invalid && alarmDuration.touched }">
                </ng-select>
              </div>
              <div class="form-group d-flex align-items-center"
                *ngIf="alarmConf['alarmCategory'] !='15min' && alarmConf['alarmCategory'] !='30min' && alarmConf['alarmCategory'] !='eod' && alarmConf['alarmCategory'] !='eoh' && alarmConf['alarmCategory'] !='eos'"
                [ngClass]="{'d-none':!alarmConf['isTypeIsAlarm']}">
                <input autocomplete="off" type="checkbox" name="acknowledgement"
                  [(ngModel)]="alarmConf['acknowledgement']" />
                <label for="acknowledgement" class="inputLabelClass m-0"> &nbsp;Acknowledgement Required </label>
              </div>
              <div class="form-group" [ngClass]="{'d-none':!alarmConf['isTypeIsAlarm']}"
                *ngIf="alarmConf['alarmCategory'] !='15min' && alarmConf['alarmCategory'] !='30min' && alarmConf['alarmCategory'] !='eod' && alarmConf['alarmCategory'] !='eoh' && alarmConf['alarmCategory'] !='eos'">
                <label for="priority">Priority <span class="color-red">&nbsp;*</span></label>
                <ng-select bindValue="value" name="priority" [items]="headerContent['alarmPriorityTypes']"
                  [required]="true" placeholder="Select priority" [(ngModel)]="alarmConf['priority']" [clearable]="true"
                  class="" #priority="ngModel" [ngClass]="{ 'error' : priority.invalid && priority.touched }">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6 d-inline-block float-right">
              <div class="form-group">
                <label for="alarmTemplate">Email Template <span class="color-red">&nbsp;*</span></label>
                <!-- <textarea name="alarmTemplate" class="form-control" [(ngModel)]="alarmConf['alarmTemplate']" required
                  #alarmTemplate="ngModel"
                  [ngClass]="{ 'error' : alarmTemplate.invalid && alarmTemplate.touched }"></textarea> -->
                <div class="border-box bg-light">
                  <!-- Monaco editor component -->
                  <kl-calc-builder [suggestions]="calcSuggestions" [colorSettings]="_calcParameterSuggColor"
                    [formulaInfo]="alarm_rule" (formulaData)="updateFormulaInfo($event, calcItem)"
                    [setEditorPropertyFlag]="true"></kl-calc-builder>
                </div>
              </div>
              <div class="form-group">
                <label for="smsTemplate">SMS Template <span class="color-red">&nbsp;*</span></label>
                <ng-select bindValue="value" bindlabel="label" name="smsTemplate" [items]="headerContent['sms_template_list']"
                  [(ngModel)]="alarmConf['alarm_sms_template_id']" [required]="true" [clearable]="false"
                  #alarm_sms_template_id="ngModel" [multiple]="false"
                  [ngClass]="{ 'error' : alarm_sms_template_id.invalid && alarm_sms_template_id.touched }">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="form-footer">
            <button type="button" class="btn btn-primary btn-sm"
              (click)="alarmConf['alarmType']!= 'Status'? goToNextStep(2):goToNextStep(3)">Save Info and
              Proceed</button>
            <button type="reset" (click)="cancelAlarmConfig()"
              class="btn btn-inverse btn-secondary btn-sm">Cancel</button>
          </div>
        </form>
      </div>

      <div *ngIf="step_number == 2 && alarmConf['alarmType'] !='Status'" class="body-container">

        <div class="body-container overflow-auto">

          <kl-ruleset [thresholds]="headerContent['thresholds']" [tags]="tagsForRuleset"
            [ruleSets]="alarmConf['ruleSets']" [alarmConfig]="alarmConf['alarmCategory']"
            [ruleSetAndOrOperationData]="alarmConf['ruleSetAndOrOperationData']">
          </kl-ruleset>
        </div>

        <div class="form-footer">

          <button type="button" class="btn btn-sm btn-secondary" (click)="goToPrevious(1)">Previous</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="goToNextStep(3)">Save Rule Sets and
            Proceed</button>
          <button type="reset" (click)="cancelAlarmConfig()" class="btn btn-sm btn-secondary">Cancel</button>

        </div>
      </div>
      <div *ngIf="step_number === 3" class="body-container">
        <div class="body-container overflow-auto">

          <kl-notificationlevel [usersGroup]="headerContent['usersAndUsersGroup']"
            [devices]="headerContent['commandDevices']" [tags]="headerContent['commandTags']"
            [levels]="alarmConf['levels']" [isCommandShow]="alarmConf['alarmType']"
            [notificationTypes]="headerContent['notification_type']" [alarmTriggerType]="alarmConf['alarmCategory']">
          </kl-notificationlevel>
        </div>
        <div class="form-footer">
          <button type="button" class="btn btn-sm btn-secondary"
            (click)="alarmConf['alarmType']!= 'Status'? goToPrevious(2):goToPrevious(1)">Previous</button>
          <button type="button" id="saveOrUpdateAlarm" class="btn btn-primary btn-sm"
            (click)="allowAccess((alarmId == 'new' || alarmId.split('&').length == 2) ? 'create' : 'edit') ? saveAlarmConf() : ''">Save
          </button>
          <button type="reset" (click)="cancelAlarmConfig()" class="btn btn-sm btn-secondary">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>