<kl-serviceloader></kl-serviceloader>
<div class="body-container-main">
    <!-- <div class="form-header">
        <h5 class="form-title">Edit Sensor {{step_number === 1 ? 'General Information':'Configuration' }}</h5>
    </div> -->
    <div class="col-md-4 form-group d-flex" *ngIf="isProtocolCategory">
        <ng-select [items]="items" bindLabel="name" bindValue="id" placeholder="Select Protocol Category"
            [searchable]="true" [clearable]="true" [disabled]="false" [selectOnTab]="true"
            [(ngModel)]="protocolCategoryType" (change)="OnChangeProtocolCategory(protocolCategoryType)">
        </ng-select>
        <button type="reset" class="btn btn-secondary btn-sm ml-2 mt-1" (click)="onCancel()">
            Cancel
        </button>
    </div>
    <div class="h-100 overflow-hidden bg-white" *ngIf="loadingDeviceModel">
        <div class="header-container justify-content-center">
            <kl-wizard #WizardComponent [data]="wizardSettings" [changeStep]="step_number"
                (step)="getstepnumber($event)">
            </kl-wizard>
        </div>
        <div *ngIf="step_number === 1" class="centered-content overflow-auto">
            <kl-dfm *ngIf="DFMinput" [DFMDATA]="DFMinput" [wizardref]=WizardComponent [stepnumber]=step_number
                (SelectedValues)="accessLevel.create ? getGeneralInfo($event) : return"
                (showFields)="showFields($event)" (cancel)="onCancel()" (viewRenderedFully)="hideLoader()">
            </kl-dfm>
        </div>
        <div *ngIf="step_number === 2" class="body-container overflow-auto">
            <ng-container>
                <ng-container *ngIf="showVirtualDeviceTopSelection">
                    <div class="modal fade" id="exampleModalVitualDevice" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <ng-container *ngIf="dmfmodelLoading">
                                        <kl-dfm *ngIf="DFMinput1" [DFMDATA]="DFMinput1"
                                            (SelectedValues)="accessLevel.create ? getselectedModelValues($event) : return"
                                            (showFields)="showFields($event)" (cancel)="onModelCancel()"
                                            [disableBtn]="disableVirtulBtn"></kl-dfm>
                                    </ng-container>
                                </div>
                                <button type="button" hidden="hidden" class="btn btn-secondary" data-dismiss="modal"
                                    #close>Close</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <ng-container> -->
                <!-- <ng-container *ngIf="modbusProtocol"> -->
                <!-- <ng-container *ngIf="showVirtualDeviceTopSelection">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModalVitualDevice" (click)="openModel()">Create Asset</button>
                        <button class="btn btn-outline-secondary" type="button" (click)="getVirualDevices()"><i
                                class="elm-refresh-2"></i></button>
                    </ng-container> -->
                <ng-container *ngIf="modbusProtocol || backnetProtocol">
                    <div class="body-container">
                        <kl-device-block [eachBlockData]="eachBlockData" [deviceGroup_config]="deviceGroup_config"
                            [selectionData]="checkbox_config" [protocolCategory]="generalInfoData.protocolcategory">
                        </kl-device-block>
                    </div>
                </ng-container>
                <ng-container *ngIf="snmpProtocol">
                    <kl-snmp [eachBlockData]="eachBlockData" [deviceGroup_config]="deviceGroup_config"
                        [selectionData]="checkbox_config" [protocolCategory]="generalInfoData.protocolcategory">
                    </kl-snmp>
                </ng-container>
                <!-- </ng-container> -->
            </ng-container>
            <ng-container>
                <div class="form-footer">
                    <button type="reset" class="btn btn-secondary btn-sm ml-1" (click)="stepprevious()">
                        Previous
                    </button>
                    <input type="submit" class="btn btn-primary btn-sm ml-1"
                        (click)="accessLevel.create ? saveEditDeviceConfig() : return" value="Save"
                        [disabled]="disableBtn" *ngIf="isSensorEditMode" />
                    <input type="submit" class="btn btn-primary btn-sm ml-1"
                        (click)="accessLevel.create ? saveDeviceConfig() : return" value="Save & Exit"
                        [disabled]="disableBtn" />
                    <button type="reset" class="btn btn-secondary btn-sm" (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</div>