<div class="main-content">
  <div class="sub-sidebar">
    <kl-menubar *ngIf="pageLoaded" [menus]="sideMenus" (clickStatus)="getTagGroup($event)" [displayProperty]="'name'"
      [valueProperty]="''" (addnew)="addTagGroup($event)"></kl-menubar>
  </div>
  <div class="sub-main-content-sb">
    <div class="form-container" *ngIf="loadingTagGroup">
      <div class="form-header">
        <h5 class="form-title">{{title}}</h5>
      </div>
      <div class="form-content">
        <form #tag_group_form="ngForm">
          <div class="form-group height_setup">
            <div class="col-6 p-0">
              <div class="form-item">
                <label class="control-label text-right"> Name <span class="color-red">&nbsp;*</span></label>
                <input class="form-control" type="text" [(ngModel)]="groupInfo.groupname" placeholder="Name"
                  name="group_name" required autocomplete="off">
              </div>
              <div class="form-item">
                <label class="control-label text-right">Description</label>
                <textarea class="form-control" type="text" [(ngModel)]="groupInfo.groupDescription"
                  name="group_description" placeholder="Description" rows="3"></textarea>
              </div>
              <div class="form-item">
                <label class="control-label text-right">Select Tags <span class="color-red">&nbsp;*</span> </label>
                <angular2-multiselect [data]="tagslist" [(ngModel)]="groupInfo.tagsGroup" [settings]="settings"
                  name="tag_groups" name="tagsGroup" #tagsGroup="ngModel" (onDeSelectAll)="onDeSelectAllTags()"
                  required></angular2-multiselect>
              </div>
              <!-- <div [hidden]="tagsGroup.valid" class="alert alert-danger">
                <div [hidden]="!tagsGroup.hasError('required')">Atleast one Skill is required</div>
            </div> -->
            </div>

          </div>
        </form>
      </div>
      <div class="form-footer">
        <button type="button" class="btn btn-primary btn-sm"
          (click)="accessLevel.create ? saveTagGroup(groupInfo): return"
          [disabled]="!tag_group_form.form.valid || disableBtn">{{isUpdate}} <img *ngIf="!saving_taggroup"
            class="but-loader" src="assets/images/button_loader.gif"></button>
        <button class="btn btn-secondary btn-sm" (click)="reset_form()" style="margin-left: 10px;">
          Cancel
        </button>
      </div>
    </div>
    <div class="form-container" *ngIf="!loadingTagGroup">
      <div id="loader-wrapper-submaincontent">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>