<div class="main-content">
  <div class="sub-main-content">
    <div class="form-container">
      <div class="form-header">
        <h6 class="form-title">
          Shift/TOD List configuration
        </h6>
      </div>
      <div class="form-content pt-0">
        <div class="row p-2 pt-3">
          <div class="col-sm-12 col-lg-6">
            <div class="row">
              <div class="form-group col-lg-6 col-md-8 col-sm-12">
                <label for="" class="control-label">Time Slot Name</label>
                <input type="text" [(ngModel)]="timeSlotName" placeholder="Time Slot Name" class="form-control">
              </div>
              <div class="form-group col-lg-6 col-md-8 col-sm-12">
                <label for="" class="control-label">Description</label>
                <input type="textarea" [(ngModel)]="Description" placeholder="Description" class="form-control">
              </div>
            </div>
            <div class="row">

              <div class="form-group col-lg-6 col-md-8 col-sm-12 clearfix">
                <label for="" class="control-label">Start Date</label>
                <angular2-date-picker name="tempStartDate" [(ngModel)]="startDate" [settings]="settings">
                </angular2-date-picker>
              </div>
            </div>
            <div class="row">

              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="" class="control-label">Start Time</label>
                <input type="text" [(ngModel)]="datetime1" autocomplete="off" [owlDateTimeTrigger]="dt1"
                  placeholder="Start Time" [owlDateTime]="dt1" name="Start Time" class="form-control inputClass">
                <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="" class="control-label">End Time</label>
                <input type="text" [(ngModel)]="datetime2" autocomplete="off" [owlDateTimeTrigger]="dt2"
                  placeholder="End Time" [owlDateTime]="dt2" name="End Time" class="form-control inputClass">
                <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
              </div>
            </div>
            <div class="row">

              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="" class="control-label">Time Slot Group</label>
                <ng-select bindValue="id" bindLabel="name" [items]="timeSlotList" placeholder="Time Slot Group"
                  [(ngModel)]="timeSlotGroupItem">
                </ng-select>
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="" class="control-label">Next Day</label>
                <ng-select bindValue="id" bindLabel="value" [items]="nextDay" placeholder="Next Day"
                  [(ngModel)]="nextDayValue">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6 bg-light p-2">
            <label class="control-label">Apply to</label>
            <div class="container">
              <div class="collapse-buttons btn-group">
                <a id="collapse-all" (click)="tree.treeModel.expandAll();" class="btn btn-link text-blue"
                  href="javascript:void(0)">Expand all</a>
                <a id="show-all" (click)="tree.treeModel.collapseAll();" class="btn btn-link text-blue"
                  href="javascript:void(0)">Collapse all</a>
              </div>
              <tree-root #tree [nodes]="nodes" [options]="options">
                <ng-template #treeNodeTemplate let-node="node" let-index="index">
                  <input (change)="check(node, !node.data.checked)" type="checkbox"
                    [indeterminate]="node.data.indeterminate" [checked]="node.data.checked">
                  <span>{{ node.data.name }}</span>
                </ng-template>
              </tree-root>
            </div>
          </div>
          <div class="form-footer position-relative">
            <ng-container *ngIf="newOrUpdate">
              <button type="button" class="btn btn-primary btn-sm" (click)="isPermission ? saveTimeSlot(): return"
                [disabled]="disableSaveBtn">Save</button>
            </ng-container>
            <ng-container *ngIf="!newOrUpdate">
              <button type="button" class="btn btn-primary btn-sm" [disabled]="disableBtn"
                (click)="isPermission ? updateTimeSlot(tree): return">Update</button>
            </ng-container>
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancelTimeSlot()">Cancel</button>
          </div>
        </div>
        <div class="px-2 mt-2">
          <table class="table table-bordered px-2">
            <thead>
              <tr>
                <th *ngFor="let shiftHeader of shiftHeaderCol">{{shiftHeader}}</th>
                <th>Next Day</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shiftList of shiftLists;">
                <td *ngFor="let shiftHeader of shiftHeaderCol;">{{shiftList[shiftHeader]}}</td>
                <td *ngIf="(shiftList.day == 'next')">Yes</td>
                <td *ngIf="(shiftList.day == 'false')">No</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>