<div class="breadcrumb-content">
  <div class="breadcrumb-title">
    <div class="breadcrumb-left">
      <span class="cell">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Services Version
      </span>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="sub-main-content" *ngIf="!isPageLoading">
    <div class="table-container" *ngIf="show_content">
      <div class="heading">
        <h1>{{ product_name }}</h1>
        <span class="version badge rounded-pill bg-dark" (click)="getVersion()"
          ><h6 class="m-0">{{ product_version }}</h6></span
        >
      </div>

      <div class="display justify-content-md-center">
        <kl-common-table
          [tableData]="display_table"
          class="customTable table-striped overdefault"
        ></kl-common-table>
      </div>
    </div>
    <div class="error-history" *ngIf="!show_content">
      <span class="fa fa-refresh"> </span>
      <h6 class="text-muted">Failed</h6>
      <p class="text-muted">
        Invalid response from server. Please try again later.
      </p>
      <button
        class="btn btn-sm btn-link widget-text-color"
        (click)="getVersion()"
      >
        <i class="fa fa-repeat"></i>
        Try Again
      </button>
    </div>
  </div>
  <div class="" *ngIf="isPageLoading">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
