.display {
  height: 87% !important;
  border: 0.1rem solid #343a40;
  width: 50%;
}
.lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-info-circle {
  padding-right: 0.25em;
}

.heading {
  font-size: 2em;
  padding: 0.2em 0 0.2em 0;
  text-align: center;
}
.version {
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  text-align: center;
  line-height: center;
  cursor: pointer;
}
.customTable {
  height: 100% !important;
}
.table-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 95%;
}
h1 {
  color: #343a40;
}

.error-history {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  margin: auto;
  text-align: center;
  span {
    font-size: 128px;
    color: rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
  }
}
