<div class="main-content">
  <div class="sub-sidebar">
    <ng-container *ngIf="isPageLoad">
      <kl-menubar *ngIf="sideMenus" [menus]="sideMenus" [displayProperty]="'batchName'" [valueProperty]="''"
        (clickStatus)="editBatch($event)" (addnew)="addNewBatchForm(batchEntryForm)">
      </kl-menubar>
    </ng-container>
  </div>
  <div class="sub-main-content-sb">
    <form name="batchEntryForm"
      (ngSubmit)="accessLevel.create ? batchEntryForm.form.valid && addBatchEntry(batchEntryForm) : ''"
      #batchEntryForm="ngForm" class="form-container">
      <div class="form-header">
        <h5 class="form-title">{{title}}</h5>
      </div>
      <div class="form-content">
        <div class="form-group col-6">
          <div class="form-item">
            <!-- <label for="userRoleName">Batch Id *</label> -->
            <input hidden type="text" name="batchId" class="form-control " [(ngModel)]="batchEntry.batch_id"
              #userRoleBatchId="ngModel" />
            <!--  [ngClass]="{ 'error' : name.invalid && name.touched }"  -->
          </div>
          <div class="form-item">
            <label for="userRoleName">Name <span class="color-red">&nbsp;*</span></label>
            <input placeholder="Name" type="text" name="batchName" class="form-control " required
              [(ngModel)]="batchEntry.batchName" #userRoleName="ngModel" autocomplete="off"
              (keydown.space)="$event.preventDefault();" />
            <!--  [ngClass]="{ 'error' : name.invalid && name.touched }"  -->
          </div>
          <div class="form-item">
            <label for="batchDescription">Description <span class="color-red">&nbsp;*</span></label>
            <input placeholder="Description" type="text" name="batchDescription" class="form-control " required
              [(ngModel)]="batchEntry.batchDescription" #batchDescription="ngModel"
              (keydown.space)="$event.preventDefault();">
          </div>
          <div class="form-item">
            <label for="tagGroup">Tag Group <span class="color-red">&nbsp;*</span></label>
            <!-- <ng-select bindValue="name" name="tagGroup" [items]="tagGroupList" placeholder="TagGroup" [(ngModel)]="batchEntry.tagGroup"
                            [clearable]="true" [required]="true" class="form-control p-0" #tagGroup="ngModel"
                            [ngClass]="{ 'error' : tagGroup.invalid && tagGroup.touched }">
                        </ng-select> -->
            <!-- raj commented -->
            <!-- <ng-multiselect-dropdown name="tagGroup" [placeholder]="'Select TagGroup'" [data]="tagGroupList"
                    [(ngModel)]="selectedTagGroup" [settings]="tagGroupDropdownSettings" (onSelect)="ontagGroupSelect($event)">
                  </ng-multiselect-dropdown> -->

            <angular2-multiselect [data]="tagGroupList" [(ngModel)]="selectedTagGroup"
              [settings]="tagGroupDropdownSettings" (onSelect)="ontagGroupSelect($event)"
              (onDeSelect)="onTagGroupSingleDeSelect($event)" (onDeSelectAll)="ontagGroupDeSelect($event)"
              name="tagGroup" #tagsGroup="ngModel" required>
            </angular2-multiselect>
          </div>
          <!-- </form> -->
          <ng-container *ngIf="showTagsInTagGroup">
            <!-- <form (ngSubmit)=addTagValues($event) >-->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Tag Name</th>
                  <th>Tag Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tag of encapsulatedTagValueArray; let i = index">
                  <td>{{tag.tag_name}}</td>
                  <td class="form-group">
                    <input type="number" [id]="tag.tag_id" name="tagValue-{{tag.tag_id}}" placeholder="Enter Tag Value"
                      class="form-control" [(ngModel)]="tag.tagValue" autocomplete="off" required />
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="form-group pull-right">
                    <input type="submit" class="btn btn-primary" [disabled]="!batchEntryForm.form.valid" />
                    <input type="submit" class="btn btn-danger" value="Cancel" />
                    <ng-container *ngIf="showDeleteButton">
                      <button type="button" class="btn btn-dark" (click)="deleteBatchEntry(batchEntry.batch_id, batchEntryForm)">Delete</button>
                    </ng-container>
                   
                  </div> -->
          </ng-container>
        </div>
      </div>
      <div class="form-footer">
        <input type="submit" class="btn btn-primary btn-sm" [disabled]="!batchEntryForm.form.valid || disableBtn"
          [value]="isUpdate == false?'Save':'Update'" />
        <input type="submit" class="btn btn-secondary btn-sm" value="Cancel"
          (click)="addNewBatchForm(batchEntryForm)" />
        <ng-container *ngIf="showDeleteButton">
          <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#deleteModal"
            id="deleteModalButton">Delete</button>
        </ng-container>
        <!-- [ngClass]="{'d-inline-block' : isUpdate, 'd-none' : !isUpdate}" -->
      </div>
    </form>
  </div>
  <ng-container>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to delete <b>{{deleteBatch}}</b> ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" id="dismissDelete" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
              (click)="accessLevel.delete ? deleteBatchEntry(batchEntry.batch_id, batchEntryForm) : ''">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>