.userList
{
  height: calc(100% - 37px);
  overflow-y: auto;
}
.cursor{
  cursor: pointer;
}

.scrollsetup{
  height: calc(100vh - 12.5rem);
  overflow-y: auto;
  margin-top: 10px;
}
.active {
  background: #cee1f9;
}
li:hover {
  background: #dfe6ef;
}
.title-container
{
  height: 45px;
.elm-plus
{
  font-size: 17px;
}
}
.sidebar-title {
 margin: 0px;
  border:none !important;
  padding: 0px;
    padding-left: 10px;
  // padding: 7px !important ;
}
// .form-group
//   {
//     margin:0px !important;
//     padding-bottom: 7px;
//   .form-control {
//     height: 30px !important;
//     font-size: 13px !important;
//     background: transparent !important;
//     box-shadow: none !important;
//     color:#75777b;
//     border:none;
//     padding:0px !important;
//     margin: 0 auto;
//     border-bottom: 1px solid #c6c9d5;
    
//     margin: 0 auto;
//     &:focus
//     {
//       border-bottom-color: #75777b !important;
//       border-radius:0px;
//     }
// }
//   }

.action-icon
{
  margin: 2px 4px;
  span
  {
    font-size: 16px;
  }
  &:hover
  {
    background: linear-gradient(45deg, #e9ecef, transparent);
  }
}