<div class="col-12 p-0 h-100">
    <i id="toggle-sub-sidebar" class="elm-download d-none" (click)='hideSubsideBar($event)'></i>
    <p *ngIf="!menus.menuheading">Loading . . .</p>
    <div class="d-flex justify-content-left align-items-center title-container">
        <!-- {{menus.menuheading}} -->
        <div class="sidebar-title display-inline-block" *ngIf="menus.menuheading display-inline-block"> Create New
        </div>
        <!-- <div class="sidebar-button dropdown display-inline-block float-right ml-auto pr-2">
                            <i class="elm-plus" (click)="onadd()"></i>

                </div> -->
        <div class="sidebar-button display-inline-block float-right ml-auto">

            <button class="btn btn-sm btn-secondary m-2 sidebar-icon" (click)="onadd()" title="Add New">
                <span class="fa fa-plus"></span>
            </button>
        </div>

    </div>
    <div class="body-container pl-1">
        <div class="form-group m-0 px-1">
            <div class="search-group w-100 search-group-sm mb-1" tabindex="1">
                <i class="search-icon fa fa-search"></i>
                <input type="search" [(ngModel)]="queryString" class="search-input" placeholder="Search">
            </div>
            <!-- <input type="search"  [(ngModel)]="queryString" class="form-control"  placeholder={{menus.placeholder}}> -->


        </div>
        <ng-container>
            <!-- *ngIf="sideMenusData.length > 500" -->
            <ul class="pl-0 userList">

                <!-- defining height for outer-container of *lazyFor is mandatory to display the data -->
                <cdk-virtual-scroll-viewport class="h-100" itemSize="25" minBufferPx="1200" maxBufferPx="1200">
                <li *ngFor="let item of menus.data  | FilterPipe: queryString : displayProperty; let i=index;trackBy: trackByIdx;"
                    (click)="onSelectElement((valueProperty=='')?item:item[valueProperty], i)" class="list-item-select"
                    draggable="true" (dragstart)="onDragStart($event,(valueProperty=='')?item:item[valueProperty])"
                    [ngClass]="{'active': i === activeTab}">
                    <span class="name cursor"> {{ item[displayProperty] }}</span>
                </li>
                </cdk-virtual-scroll-viewport>

            </ul>
        </ng-container>
    </div>



    <!-- <div class="">
        <ul class="pl-0 userList">
            <cdk-virtual-scroll-viewport itemSize="5"  class="example-viewport">
                <li *cdkVirtualFor="let item of menus.data | FilterPipe: queryString : displayProperty; let i=index;trackBy: trackByFn "
                    (click)="onSelectElement((valueProperty=='')?item:item[valueProperty], i)" class="list-item-select"
                    draggable="true" (dragstart)="onDragStart($event,(valueProperty=='')?item:item[valueProperty])"
                    [ngClass]="{'active': i === activeTab}">
                    <span class="name cursor">{{ item[displayProperty] }}</span>
                    <span class="d-none">{{ item[secondDisplyProperty] }}</span>
            </li>
        </cdk-virtual-scroll-viewport>
        </ul>
    </div> -->
</div>