<cdk-virtual-scroll-viewport class="h-100" itemSize="25" minBufferPx="1200" maxBufferPx="1200"
  *ngIf="tableData && tableData.headerContent && tableData.bodyContent">
  <table datatable *ngIf="tableData" class="table">
    <thead>
      <tr>
        <th *ngFor="let th of tableData.headerContent; let i=index;trackBy:track">{{th.label}}</th>
      </tr>
    </thead>
    <tbody class="fixedAlign">
      <tr *ngFor="let tr of tableData.bodyContent | slice:0:1440; let i=index;trackBy:track">
        <td style="text-align:left" *ngFor="let th of tableData.headerContent; let i=index;trackBy:track">
          <span>{{(th.key == 'timestamp' || th.key.split('_')[0] == 'timestamp')? convertToTime(tr[th.key]) :
            tr[th.key]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>