<div class="main-content">
  <div class="sub-main-content">
    <form class="form-container" name="unit"
      (ngSubmit)="(accessLevel.create || accessLevel.edit) ? save(unitConverterArray) : ''" #unitConverterForm="ngForm">
      <div class="form-header">
        <h5 class="form-title"> {{title}}
        </h5>
        <button type="button" class="btn btn-sm btn-primary ml-auto"
          (click)="accessLevel.create ? addRow() : ''"><strong>+ Add
            Row</strong></button>
      </div>
      <div class="form-content">
        <ng-container *ngIf="true">
          <ng-container *ngFor="let uc of unitConverterArray;trackBy: trackByFn; let i = index">
            <div class="row mb-2 border-bottom">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <label>From <span class="color-red">&nbsp;*</span> </label>
                <div class="form-item">
                  <angular2-multiselect [data]="unitList_from" [(ngModel)]="uc.from"
                    [settings]="unitsDropdownSettings_from" name="{{'unit_from' + i}}" (onSelect)="onItemSelect()">
                  </angular2-multiselect>
                  <!-- <ng-multiselect-dropdown name="{{'unit_from' + i}}" [placeholder]="'Select From Unit'" [data]="unitList_from"
                            [(ngModel)]="uc.from" [settings]="unitsDropdownSettings_from">
                          </ng-multiselect-dropdown> -->
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <label>To <span class="color-red">&nbsp;*</span></label>
                <div class="form-item">
                  <angular2-multiselect [data]="unitList_to" [(ngModel)]="uc.to" [settings]="unitsDropdownSettings_to"
                    name="{{'unit_to' + i}}" (onSelect)="onItemSelect()"></angular2-multiselect>
                  <!-- <ng-multiselect-dropdown name="{{'unit_to' + i}}" [placeholder]="'Select To Unit'" [data]="unitList_to"
                            [(ngModel)]="uc.to" [settings]="unitsDropdownSettings_to">
                          </ng-multiselect-dropdown> -->
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <label>Value <span class="color-red">&nbsp;*</span></label>
                <div class="form-item">
                  <input required type="number" id="{{'unit_value' + i}}" name="{{'eachConvertedUnit' + i}}"
                    placeholder="Enter Value" class="form-control" [(ngModel)]="uc.value" autocomplete="off"
                    (input)="$event.target.value.length > 0 && onItemSelect()" />
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-start flex-column justify-content-center">
                <label class="invisible">Delete</label>
                <div class="form-item">
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#deleteModal"
                    (click)="deleteUniteConverter(i,uc.from,uc.to)">
                    <strong>Delete</strong>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="form-footer">
        <input type="submit" value="Save" [disabled]="disableBtn" class="btn btn-primary btn-sm" />
        <input type="button" class="btn btn-secondary btn-sm" value="Cancel" (click)="resetForm(unitConverterForm)" />
      </div>
    </form>
  </div>
</div>
<ng-container>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to delete <b>{{deleteText}}</b> unit converter ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" id="dismissDelete" data-dismiss="modal">No</button>
          <!-- (click)="delete()" -->
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
            (click)="accessLevel.delete ? deleteRow(index) : '' ">Yes</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>