h6.main-content-title
{
  font-size: 20px;
  color: #868ca0;
  font-weight: 500;
  margin: 0;
  flex: 1 0 auto;
  text-align: center;
  font-family: Roboto;

}
svg
{
  display: block;
  margin: auto;
  overflow: visible !important;
  height: calc(100% - 56px);;
  width: calc(100% - 56px);
 
}
.verticle
{
  display:block;
  height: calc(100% - 48px);
  width: auto;
  .parent-group
  {
    transform-origin: 47% 142%;
  transform-box: fill-box;
  transform: matrix(0.9, 0, 0, 0.9, 10, 10) rotate(-90deg);

  }
  .ruler-label text
{
      transform: rotate(90deg) translate(10px, 0);
    transform-origin: center;
    transform-box: fill-box;
}
.pointer-label text
{
        transform: rotate(90deg);
    transform-origin: center;
    transform-box: fill-box;
}
.pointer.label
{
  transform: rotate(-90deg);
  transform-origin: center;
  transform-box: fill-box;
}
  .box-label text
  {
     transform: rotate(90deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
.box-label > text
{
  transform: rotate(90deg);
  transform-origin: center;
  transform-box: fill-box;
}